<{{form-cntrs-tag}} class="occlss-form-cntrls {{form-cntrs-class}} {{#form-cntrs-error-text}}occlss-form-cntrls--error{{/form-cntrs-error-text}}">
    <input class="occlss-form-cntrls__checkbox {{form-cntrs-input-class}}" id="inpt-{{form-cntrs-name}}" name="inpt-{{form-cntrs-name}}" type="{{form-cntrs-input-type}}" value="{{form-cntrs-input-value}}" {{form-cntrs-input-status}}>
    <label class="occlss-form-cntrls__label {{form-cntrs-label-class}}" for="inpt-{{form-cntrs-name}}">{{form-cntrs-label-text}}</label>
</{{form-cntrs-tag}}>