<fieldset class="occlss-form__group occlss-form__group--list"> 
    <legend class="occlss-form__group-title">Select an option</legend>
    <ul class="occlss-u-unstyled-list">
        <li class="occlss-form__input-group">
            <input class="occlss-form__checkbox" id="cb-opt-1" type="checkbox" name="cb-opt" value="option-1" checked>
            <label class="occlss-form__label" for="cb-opt-1">Option 1</label>
        </li>
        <li class="occlss-form__input-group">
            <input class="occlss-form__checkbox" id="cb-opt-2" type="checkbox" name="cb-opt" value="option-2">
            <label class="occlss-form__label" for="cb-opt-2">Option 2</label>
        </li>
        <li class="occlss-form__input-group">
            <input class="occlss-form__checkbox" id="cb-opt-3" type="checkbox" name="cb-opt" value="option-3">
            <label class="occlss-form__label" for="cb-opt-3">Option 3</label>
        </li>
        <li class="occlss-form__input-group">
            <input class="occlss-form__checkbox" id="cb-opt-none" type="checkbox" name="cb-opt" disabled>
            <label class="occlss-form__label" for="cb-opt-none">Option disabled</label>
        </li>
    </ul>
</fieldset>

        

