<div class="occlss-form__input-group">
  <label class="occlss-form__label" for="options">Dropdown label</label>
  <select class="occlss-form__select" name="options" id="options">
      <option value="value1">Option A</option>
      <option value="value2">Option B</option>
      <option value="value3">Option C</option>
  </select>
</div>