<div class="occlss-form__input-group">
    <label class="occlss-form__label" for="input-type-text">Text input label</label>
    <input class="occlss-form__input" id="input-type-text" name="input-type-text" type="text">
</div>

<div class="occlss-form__input-group">
    <label class="occlss-form__label" for="input-focus">Text input focused</label>
    <input class="occlss-form__input occlss-form__input--focus" id="input-focus" name="input-focus" type="text">
</div>

<div class="occlss-form__input-group occlss-form__input-group--error">
    <label class="occlss-form__label occlss-form__label--error" for="input-error">Text input error</label>
    
    <span class="occlss-form__error-message" id="input-error-message" role="alert">Helpful error message</span>

    <input class="occlss-form__input" id="input-error" name="input-error" type="text" aria-describedby="input-error-message">
    
    <span class="occlss-icon occlss-icon--exclamation-mark occlss-icon--error" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#exclamation-mark" class="icon__source icon__source--svg"></use>
        </svg>
    </span>

</div>

<div class="occlss-form__input-group">
    <label class="occlss-form__label" for="input-success">Text input success</label>
    <input class="occlss-form__input" id="input-success" name="input-success" type="text">
</div>

<div class="occlss-form__input-group">
    <label class="occlss-form__label" for="input-type-textarea">Text area label</label>
    <textarea class="occlss-form__textarea" id="input-type-textarea" name="input-type-textarea"></textarea>
</div>



<div class="occlss-form__input-group occlss-form__input-group--error">
    <label class="occlss-form__label occlss-form__label--error" for="input-error">textarea error</label>
    
    <span class="occlss-form__error-message" id="input-error-message" role="alert">Helpful error message</span>

    <textarea class="occlss-form__textarea" id="input-type-textarea" name="input-type-textarea"></textarea>
    
    <span class="occlss-icon occlss-icon--exclamation-mark occlss-icon--error" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#exclamation-mark" class="icon__source icon__source--svg"></use>
        </svg>
    </span>

</div>