.js .occlss-accordion__panel-title {
  margin: 0;
  padding-top: rem(24px);
  @extend h3;
}

.js .occlss-accordion__panel-title:first-of-type {
    padding-top: 0;
}

.js .occlss-accordion {
    margin: rem(22px 0);
    width: 100%;
}


.occlss-accordion__panel-lnk {
    width: 100%;
    text-align: left;
    border: 0;
    border-bottom: none;
    display: block;
    padding: rem(24px 0);
    position: relative;
    text-decoration: none;
    transition: color 200ms ease 0s;
    background: $occlss-accordion-color-primary;
    color: $occlss-accordion-heading-color;
    font-size: rem($occlss-accordion-heading-font-size);
    padding: rem(9px 50px 9px 14px);
    margin-bottom: 0;
    font-weight: $occlss-accordion-heading-font-weight;

    cursor: pointer;
    position: relative;
    
    &:after {
        content: "";
        width: rem(21px);
        height: rem(13px);
        background-image: url('#{$occlss-global-image-path}/icon-angle-arrow-down-white.svg');
        background-size: cover;
        display: block;
        position: absolute;
        right: rem(15px);
        top: rem(16px);
    }
    &:focus {
        @extend %highlight-outline-on-focus;
    }

    &:hover {
        color: $occlss-accordion-heading-hover-color;
        background-color: $occlss-accordion-hover-color;
        outline: 2px solid $occlss-accordion-hover-color;
    }
}


.is-active.occlss-accordion__panel-lnk  {
    &:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.is-active.occlss-accordion__panel-lnk {
     @extend %highlight-bg-on-focus;
}

.occlss-accordion__panel-content {
    padding: 0;
}

.js .occlss-accordion__panel-content {
    padding: rem(24px 24px 0 24px);
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    p:last-child,
    table:last-child,
    div:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


.occlss-accordion--residents {
    .occlss-accordion__panel-lnk {
        background: $occlss-accordion-color-residents;
        &.is-active,
        &:focus {
            color: $occlss-accordion-heading-hover-color;
            background-color: #edc856;
            outline: 2px solid #edc856;
        }
    }
}
.occlss-accordion--business {
    .occlss-accordion__panel-lnk {
        background: $occlss-accordion-color-business;
        &.is-active,
        &:focus {
            color: $occlss-accordion-heading-hover-color;
            background-color: #edc856;
            outline: 2px solid #edc856;
        }
    }
}
.occlss-accordion--council {
    .occlss-accordion__panel-lnk {
        background: $occlss-accordion-color-council;
        &.is-active,
        &:focus {
            color: $occlss-accordion-heading-hover-color;
            background-color: #edc856;
            outline: 2px solid #edc856;
        }
    }
}

