<dl class="occlss-accordion js-occlss-accordion">
	{% for item in params.panels %}
		{% if item.title %} <dt class="occlss-accordion__panel-title"> {{ item.title }} </dt> {% endif %}
		{% if item.content %} 
			<dd class="occlss-accordion__panel-content">
				<p>
					{{ item.content | safe }}
				</p>
			</dd>
		{% endif %}	
	{% endfor %}
</dl>