---
title: Page head
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}


## Page head

{{ example({group: "components", item: "page-head", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]


## Page head mobile menu

{{ example({group: "components", item: "page-head", example: "mobile", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]