---
title: Page head
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Page head

The page head is used on all pages of the main Oxfordshire County Council website.

{{ example({group: "components", item: "page-head", example: "default", html: true }) }}

## Page head mobile menu

This is the page head to be used by all third-parties Oxfordshire County Council-branded websites.

{{ example({group: "components", item: "page-head", example: "mobile", html: true }) }}

### How to use this component 

The page head should be used at the top of every webpage. The top-right of the page head can contain a link to the third-party log in in the format "Log into 'service name'".

## Changelog

### 1.0.0

- Component Added