---
title: Pagination
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Pagination

{{ example({group: "components", item: "pagination", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]