---
title: Pagination
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Pagination

The pagination component is displayed at the bottom of each index page and allows the user to navigate forwards and backwards through the pages without having to return to the links at the top of the page.

{{ example({group: "components", item: "pagination", example: "default", html: true }) }}

## Changelog

#### 1.0.0

- Component Added