<div class="stlgd-section-heading js-stlgd-page-section" id="therest">
    <h1 class="stlgd-section-heading__cont" title="Getting started">The rest</h1>
</div>
<div class="stlgd-section-content">
    <div class="stlgd-section-content__content stlgd-section-content__content--med">
        <p class="stlgd-section-content__intro-text">
            To build our UI we follow BEM methodology, If you’re not familiar with BEM, it’s a naming methodology 
            that provides a rather strict way to arrange CSS classes into independent components. 
            It stands for Block Element Modifier.
        </p>

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Atoms</h2>
        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Molecules</h2>
        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Organisms</h2>
        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Pages</h2>

    </div>
</div>
