<div class="stlgd-section-heading js-stlgd-page-section" id="downloads">
    <h1 class="stlgd-section-heading__cont" title="Downloads">Downloads</h1>
</div>
<div class="stlgd-section-content">
    <div class="stlgd-section-content__content stlgd-section-content__content--med">

        <p class="stlgd-section-content__intro-text">
            We provide multiple options for downloading the Oxford County Council style guide that includes moustache templates, Javascript, SVG icons and SASS.        
        </p>

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Find us on GitHub</h2>
        <p>
           You can download our latest live style system (based on <a href="http://patternlab.io/" target="_blank">Pattern Lab 2</a> mustache version)
        </p>
        <p>
            <a href="https://github.com/OxfordshireCountyCouncil/occlss" target="_blank">Oxfordshire County Council live style system on GitHub</a>
        </p>

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Find us on NPM</h2>
        <p>
           You can download our SASS, SVG icons, Javascript as npm module and connect it to your project, 
           that will help you keep your app with our latest style
        </p>
        <p>
            <a href="https://www.npmjs.com/package/occlss" target="_blank">Oxfordshire County Council live style system on NPM</a>
        </p>

        <!-- Spacer -->
        <div style="display:block;height: 250px;"></div>
        <!-- Spacer // -->

    </div>
</div>

