<div class="stlgd-section-heading js-stlgd-page-section" id="typography">
    <h1 class="stlgd-section-heading__cont" title="Typography">Typography</h1>
</div>
<div class="stlgd-section-content">
    <div class="stlgd-section-content__content stlgd-section-content__content--med">


        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Fonts</h2>

        <p class="stlgd-section-content__intro-text">
            Oxfordshire County Council websites have common typographic needs: clear and consistent headings, highly legible body paragraphs, clear labels, and easy-to-use input fields. 
            We recommend a font system that uses two open-source font families: Fira Sans and Open Sans, both of which are designed for legibility and can beautifully adapt to a variety of visual styles.
        </p>
        <p>
            To use our font face you will need to implement the following line in the head of you project   
        </p>


        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,900|Open+Sans:300,400,600,700" rel="stylesheet"></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Fira Sans</h3>

        <div class="occlss-Fira-Sans-light">Light - 'Fira Sans', sans-serif;, weight: 300</div>
        <div class="occlss-Fira-Sans-regular">Regular - 'Fira Sans', sans-serif;, weight: 400</div>
        <div class="occlss-Fira-Sans-medium">Medium - 'Fira Sans', sans-serif;, weight: 500</div>
        <div class="occlss-Fira-Sans-semi-bold">Semi bold - 'Fira Sans', sans-serif;, weight: 600</div>
        <div class="occlss-Fira-Sans-bold">Bold - 'Fira Sans', sans-serif;, weight: 700</div>
        <div class="occlss-Fira-Sans-black">black - 'Fira Sans', sans-serif;, weight: 900</div>
        <div>Font home page - <a href="https://fonts.google.com/specimen/Fira+Sans?selection.family=Fira+Sans" target="_blank">Fira Sans</a></div>

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Open Sans</h3>

        <div class="occlss-Fira-Sans-light">Light - 'Open Sans', sans-serif;, weight: 300</div>
        <div class="occlss-Fira-Sans-regular">Regular - 'Open Sans', sans-serif;, weight: 400</div>
        <div class="occlss-Fira-Sans-semi-bold">Semi bold - 'Open Sans', sans-serif;, weight: 600</div>
        <div class="occlss-Fira-Sans-bold">Bold - 'Open Sans', sans-serif;, weight: 700</div>

        <div>Font home page - <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open Sans</a></div>


        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Fonts Sizes</h3>

        <div class="occlss-font-size-xxxxx-large">Font size xxxxx large (font-size: 42px; )</div>
        <div class="occlss-font-size-xxxx-large">Font size xxxx large (font-size: 36px; )</div>
        <div class="occlss-font-size-xxx-large">Font size xxx large (font-size: 30px; )</div>
        <div class="occlss-font-size-xx-large">Font size xx large (font-size: 26px; )</div>
        <div class="occlss-font-size-x-large">Font size x large (font-size: 24px; )</div>
        <div class="occlss-font-size-large">Font size large (font-size: 22px; )</div>
        <div class="occlss-font-size-medium">Font size medium (font-size: 20px; )</div>
        <div class="occlss-font-size-regular">Font size regular (font-size: 16px; )</div>
        <div class="occlss-font-size-small">Font size small (font-size: 14px; )</div>




        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">H1 - Main title</h2>
        {{> atoms-heading(occlss-heading-text: "Main title", occlss-heading-tag: "h1", occlss-heading-secondary-text: "<small>Secondary text</small>") }}
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code">{{> atoms-heading(occlss-heading-text: "Main title", occlss-heading-tag: "h1", occlss-heading-secondary-text: "<small>Secondary text</small>") }}</xmp></per></div>
        <!-- HTML code // -->

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">H2 - Main subtitle</h2>
        {{> atoms-heading(occlss-heading-text: "Main subtitle", occlss-heading-tag: "h2", occlss-heading-secondary-text: "<small>Secondary text</small>") }}
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code">{{> atoms-heading(occlss-heading-text: "Main subtitle", occlss-heading-tag: "h2", occlss-heading-secondary-text: "<small>Secondary text</small>") }}</xmp></per></div>
        <!-- HTML code // -->

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">H3 - Section title</h2>
        {{> atoms-heading(occlss-heading-text: "Section title", occlss-heading-tag: "h3", occlss-heading-secondary-text: "<small>Secondary text</small>") }}
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code">{{> atoms-heading(occlss-heading-text: "Section title", occlss-heading-tag: "h3", occlss-heading-secondary-text: "<small>Secondary text</small>") }}</xmp></per></div>
        <!-- HTML code // -->

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">H4 - Section subtitle</h2>
        {{> atoms-heading(occlss-heading-text: "Section subtitle", occlss-heading-tag: "h4", occlss-heading-secondary-text: "<small>Secondary text</small>") }}
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code">{{> atoms-heading(occlss-heading-text: "Section subtitle", occlss-heading-tag: "h4", occlss-heading-secondary-text: "<small>Secondary text</small>") }}</xmp></per></div>
        <!-- HTML code // -->

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Summary text example</h2>
        <p class="occlss-g-summary-text">A paragraph (from the Greek paragraphos, is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p class="occlss-g-summary-text">A Summary text example.</p></xmp></per></div>
        <!-- HTML code // -->

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Paragraph example</h2>
        <p>A paragraph (from the Greek paragraphos, is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>A paragraph text example.</p></xmp></per></div>
        <!-- HTML code // -->


        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Inline Elements</h2>
        
        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Text link</h3>

        <p><a href="#">This is a text link</a></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><a href="#">This is a text link</a></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Strong text</h3>
        <p><strong>Strong is used to indicate strong importance</strong></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><strong>Strong is used to indicate strong importance</strong></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Emphasis text</h3>
        <p><em>This text has added emphasis</em></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><em>This text has added emphasis</em></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Set off from the normal text</h3>
        <p>The <i>i element</i> is text that is set off from the normal text</p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>The <i>i element</i> is text that is set off from the normal text</p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Text with an underline</h3>
        <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Deleted and inserted text </h3>
        <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><del>This text is deleted</del> and <ins>This text is inserted</ins></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Strikethrough text</h3>
        <p><s>This text has a strikethrough</s></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><s>This text has a strikethrough</s></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Superscript text</h3>
        <p>Superscript<sup>®</sup></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>Superscript<sup>®</sup></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Subscript text</h3>
        <p>Subscript for things like H<sub>2</sub>O</p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>Subscript for things like H<sub>2</sub>O</p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Small text</h3>
        <p><small>This small text is small for for fine print, etc.</small></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><small>This small text is small for for fine print, etc.</small></p></xmp></per></div>
        <!-- HTML code // -->
        
        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Abbreviation text</h3>
        <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Keybord input text</h3>
        <p>Keybord input: <kbd>Cmd</kbd></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>Keybord input: <kbd>Cmd</kbd></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Inline quotation text</h3>
        <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p></xmp></per></div>
        <!-- HTML code // -->
        
        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Citation text</h3>
        <p><cite>This is a citation</cite>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><cite>This is a citation</cite></p></xmp></per></div>
        <!-- HTML code // -->
       
        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Definition text</h3>
        <p>The <dfn>dfn element</dfn> indicates a definition.</p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>The <dfn>dfn element</dfn> indicates a definition.</p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Highlight text</h3>
        <p>The <mark>mark element</mark> indicates a highlight</p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p>The <mark>mark element</mark> indicates a highlight</p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Code text</h3>
        <p><code>This is what inline code looks like.</code></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><code>This is what inline code looks like.</code></p></xmp></per></div>
        <!-- HTML code // -->

        <h3 class="stlgd-section-content__heading stlgd-section-content__heading--medium">Output from a computer program text</h3>
        <p><samp>This is sample output from a computer program</samp></p>
        <!-- HTML sample here // -->
        <!-- HTML code -->
        <div class="stlgd-code-example"><pre class="language-bash stlgd-code-example__per"><xmp class="prettyprint lang-html stlgd-code-example__code"><p><samp>This is sample output from a computer program</samp></p></xmp></per></div>
        <!-- HTML code // -->


    </div>
</div>
