<div class="stlgd-section-heading js-stlgd-page-section" id="gettingstarted">
    <h1 class="stlgd-section-heading__cont" title="Getting started">Developers</h1>
</div>
<div class="stlgd-section-content">
    <div class="stlgd-section-content__content stlgd-section-content__content--med">
        <p class="stlgd-section-content__intro-text">
            The Oxfordshire County Council Pattern Lab provides front-end developers &amp; engineers a collection of reusable HTML and SCSS partials to build websites and user interfaces. 
            Adopting the library enables developers to use consistent markup, styles, and behavior in prototype and production work.
        </p>

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">JavaScript</h2>
        <p>
            The purpose of the JavaScript coding styleguide is to create and utilize consistent JS across OCCLSS. The style guide should be treated as a guide — rules can be modified according to project needs.
        </p>

    </div>
</div>
