<div class="stlgd-section-heading js-stlgd-page-section" id="colours">
    <h1 class="stlgd-section-heading__cont" title="Colours">Colours</h1>
</div>

<div class="stlgd-section-content">
    <div class="stlgd-section-content__content stlgd-section-content__content--med">

        <p class="stlgd-section-content__intro-text">
            Our colour palette designed to communicate trustworthiness while meeting the accessibility standards.
        </p>
        <p>
            The colour swatches below lists the hex value and the SASS variable for each corresponding colour.
        </p>

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Generic colors</h2>

        {{#genericcolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/genericcolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Residents colors</h2>

        <p>
            This colours from this pallet we using to distinguish Residents section from the rest
        </p>

        {{#residentscolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/residentscolors}}


        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Busines colors</h2>
        <p>
            This colours from this pallet we using to distinguish Busines section from the rest
        </p>

        {{#businescolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/businescolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Council colors</h2>
        <p>
            This colours from this pallet we using to distinguish Council section from the rest
        </p>

        {{#councilcolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/councilcolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Link colors</h2>

        {{#linkcolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/linkcolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Messages colors</h2>

        {{#messagescolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/messagescolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Search Button colors</h2>
        
        {{#searchbuttoncolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/searchbuttoncolors}}

        <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Typography colors</h2>

        {{#typographycolors}}
            <div class="sg-colors">
                {{#color}}
                {{> atoms-color-swatch }}
                {{/color}}
            </div>
        {{/typographycolors}}

    </div>
</div>
