<style>
    body {
        padding: 50px;
    }
</style>



<div class="occlss-tab-widget js-widgettt">

  <ul class="occlss-tab-widget__list">
    <li class="occlss-tab-widget__item">
      <a href="#tab-panel-1" class="occlss-tab-widget__link is-active">Apply</a>
    </li>
    <li class="occlss-tab-widget__item">
      <a href="#tab-panel-2" class="occlss-tab-widget__link">Pay</a>
    </li>
    <li class="occlss-tab-widget__item">
      <a href="#tab-panel-3" class="occlss-tab-widget__link">Report</a>
    </li>
  </ul>
  
  <a href="#tab-panel-1" class="occlss-tab-widget__link occlss-tab-widget__link--mobile js-occlss-mob-tab">
    Apply
    <span class="occlss-icon occlss-icon--angle-arrow-down" aria-hidden="true">
      <svg aria-hidden="true" class="occlss-icon__container occlss-tab-widget__mobile-link-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#angle-arrow-down" class="icon__source icon__source--svg"></use>
      </svg>
    </span>
  </a>

  <div class="occlss-tab-widget__tabs">
    <div class="occlss-tab-widget__tab-content">
        <h2 id="tab-panel-1" tabindex="-1">Apply panel</h2>
        <ul class="occlss-summary-list occlss-summary-list--tab-widget">
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;public-site&#x2F;working-oxfordshire-county-council" class="occlss-summary-list__link ">Jobs</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;public-site&#x2F;blue-badge-parking-permits" class="occlss-summary-list__link ">Blue Badge</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;public-site&#x2F;bus-passes" class="occlss-summary-list__link ">Bus pass</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;public-site&#x2F;resident-parking-permits" class="occlss-summary-list__link ">Resident parking permit</a></li>
        </ul>
    </div>
    

    <a href="#tab-panel-2" class="occlss-tab-widget__link occlss-tab-widget__link--mobile js-occlss-mob-tab">
      Pay
      <span class="occlss-icon occlss-icon--angle-arrow-down" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container occlss-tab-widget__mobile-link-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#angle-arrow-down" class="icon__source icon__source--svg"></use>
        </svg>
      </span>
    </a>

    <div class="occlss-tab-widget__tab-content">
        <h2 id="tab-panel-2" tabindex="-1">Play panel</h2>
        <ul class="occlss-summary-list occlss-summary-list--tab-widget">
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;content&#x2F;pay-parking-or-bus-gate-fine" class="occlss-summary-list__link ">Parking tickets</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;public-site&#x2F;certificates-births-deaths-and-marriages" class="occlss-summary-list__link ">Certificates</a></li>
            <li class="occlss-summary-list__item "><a href="javascript:void(0);" class="occlss-summary-list__link ">Ceremonies</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;content&#x2F;your-council-tax-bill" class="occlss-summary-list__link ">Council Tax</a></li>
        </ul>
    </div>


    <a href="#tab-panel-3" class="occlss-tab-widget__link occlss-tab-widget__link--mobile js-occlss-mob-tab">
      Report
      <span class="occlss-icon occlss-icon--angle-arrow-down" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container occlss-tab-widget__mobile-link-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#angle-arrow-down" class="icon__source icon__source--svg"></use>
        </svg>
      </span>
    </a>
    
    <div class="occlss-tab-widget__tab-content">
        <h2 id="tab-panel-3" tabindex="-1">Report panel</h2>
        <ul class="occlss-summary-list occlss-summary-list--tab-widget">
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;fixmystreet.oxfordshire.gov.uk&#x2F;" class="occlss-summary-list__link ">Pothole</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;content&#x2F;street-lighting-fault-reporting" class="occlss-summary-list__link ">Faulty street light</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;www.oxfordshire.gov.uk&#x2F;cms&#x2F;content&#x2F;do-it-online#abuse" class="occlss-summary-list__link ">Safeguarding concern</a></li>
            <li class="occlss-summary-list__item "><a href="https:&#x2F;&#x2F;fixmystreet.oxfordshire.gov.uk&#x2F;" class="occlss-summary-list__link ">Street problem</a></li>
        </ul>
    </div>
  </div>
</div>



<script>
    (function (document, window, $, undefined) {
        'use strict';

        var $tabWidget = $('.js-widgettt');

        var setupTabs = function ($tab, $allTabs, $tabPanels, $tabListItems, i) {
            $tab
                .attr({
                    'id': 'tab-link-' + i,
                    'tabindex': '-1',
                    'role': 'tab',
                    'aria-selected': 'false',
                    'aria-controls': 'tab-panel-' + i
                });

            if ($tab.hasClass("is-active")) {
                $tab
                    .attr({
                        'tabindex': '0',
                        'aria-selected': 'true',
                        'aria-describedby': 'occlss-tab-widget-description'
                    })
                    .addClass('is-active');
            }

            $tab.on('click', function (e) {
                e.preventDefault();
                tabClick($(this), $allTabs, $tabPanels, i);
            });

            $tab.on('focus', function (e) {
                tabClick($(this), $allTabs, $tabPanels, i);
            });

            $tab.on('keydown', function (e) {
                tabKeydown($(this), $allTabs, $tabPanels, $tabListItems, i, e);
            });

            if ($tab.hasClass("is-active") ) {
                tabClick($tab, $allTabs, $tabPanels, i);
            }
        };

        var setupTabPanels = function (tabPanel, i) {
            tabPanel
                .attr({
                    'id': 'tab-panel-' + i,
                    'role': 'tabpanel',
                    'aria-hidden': 'true',
                    'aria-labelledby': 'tab-link-' + i
                });

            if (tabPanel.class === "is-active") {
                tabPanel
                    .attr('aria-hidden', 'false')
                    .addClass('is-active');
            }
        };

        var tabClick = function ($thisTab, $allTabs, $tabPanels, i) {
            $allTabs
                .attr({
                    'tabindex': -1,
                    'aria-selected': 'false'
                })
                .removeAttr('aria-describedby')
                .removeClass('is-active');

            $thisTab
                .attr({
                    'tabindex': 0,
                    'aria-selected': 'true',
                    'aria-describedby': 'occlss-tab-widget-description'
                })
                .addClass('is-active');

            $tabPanels
                .attr('aria-hidden', 'true')
                .removeClass('is-active');

            $tabPanels.eq(i)
                .attr('aria-hidden', 'false')
                .addClass('is-active');
        };

        var tabKeydown = function ($thisTab, $allTabs, $tabPanels, $tabListItems, i, e) {
            var keyCode = e.which,
                $nextTab = $thisTab.parent().next().is('li') ? $thisTab.parent().next().find('a') : false,
                $previousTab = $thisTab.parent().prev().is('li') ? $thisTab.parent().prev().find('a') : false,
                $firstTab = $thisTab.parent().parent().find('li:first').find('a'),
                $lastTab = $thisTab.parent().parent().find('li:last').find('a');

            switch (keyCode) {
                // Left/Up
                case 37:
                case 38:
                    e.preventDefault();
                    e.stopPropagation();

                    if (!$previousTab) {
                        $lastTab.focus();
                    } else {
                        $previousTab.focus();
                    }

                    break;

                    // Right/Down
                case 39:
                case 40:
                    e.preventDefault();
                    e.stopPropagation();

                    if (!$nextTab) {
                        $firstTab.focus();
                    } else {
                        $nextTab.focus();
                    }

                    break;

                    // Home
                case 36:
                    e.preventDefault();
                    e.stopPropagation();

                    $firstTab.focus();

                    break;

                    // End
                case 35:
                    e.preventDefault();
                    e.stopPropagation();

                    $lastTab.focus();

                    break;

                    // Enter/Space
                case 13:
                case 32:
                    e.preventDefault();
                    e.stopPropagation();

                    break;
            }
        };

        $tabWidget.each(function () {

            // Get All the objects
            var $this = $(this),
                $tabList = $this.find('> ul'),
                $tabListItems = $tabList.find('li'),

                $allTabs = $tabListItems.find('a'),
                $tabPanels = $this.find('> div > div');

            $tabList.attr('role', 'tablist');
            $tabListItems.attr('role', 'presentation');

            // Setup all tabs
            $allTabs.each(function (i) {
                setupTabs($(this), $allTabs, $tabPanels, $tabListItems, i);
            });

            // Setup all tab panels
            $tabPanels.each(function (i) {
                setupTabPanels($(this), i);
            });


        });


        $('html').addClass('js').removeClass('no-js');

    })(document, window, jQuery);
</script>