<div class="stlgd-page-wrapper">
        
        <div class="stlgd-left-side-cont"><!--START layout elemnt -->
        
        <img src="/images/logo.svg" class="occlss-head-logo" alt="Oxfordshire County Council logo">

        {{> styleguide-menu }}

        </div>

        <main class="stlgd-right-side-cont"><!--START layout elemnt -->
            {{> styleguide-main-getting-started }}
            {{> styleguide-main-color }}
            {{> styleguide-main-typography }}
            {{> styleguide-main-buttons }}
            {{> styleguide-main-utility-classes }}
            {{> styleguide-main-external-project }}
            {{> styleguide-main-downloads }}
        </main>

        {{> styleguide-footer }}

</div>

<script src="/js/jquery.prettify.min.js"></script>