---
title: Popular content pane
description: [Description]
section: Components
layout: layout-pane.njk
theme: Tabs
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Popular content pane

{{ example({group: "components", item: "popular-content-pane", example: "default", html: true }) }}

### When to use this component 

This pattern is used to display a list of links within a section or subject area. It can help the user locate the content they want quickly. The pattern can be used on it’s own on a campaign page or homepage, or with other content panes. The colour of the pane will be inherited from the section of the website it is in.

On mobile devices, the pane will collapse with a down-pointing arrow to open the link list.

### Modifier classes

Container class `.occlss-popular-content-pane` mod class `.occlss-popular-content-pane--residents`,`.occlss-popular-content-pane--business`,`.occlss-popular-content-pane--council` this mode classes will add the panel colour.

## Changelog

#### 1.0.0

- Component Added