---
title: Popular content pane
description: [Description]
section: Components
layout: layout-pane.njk
theme: Tabs
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Popular content pane

{{ example({group: "components", item: "popular-content-pane", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]