.js-enabled [data-module=app-copy] pre code {
    padding-top: 2.8125rem;
}

pre .language-markdown,
pre .language-plaintext {
    white-space: pre-wrap;
}

// code
pre code:focus {
    border: 0.1875rem solid var(--doc-occlss-brand-color-woodsmoke);
    outline: 0.1875rem solid var(--doc-occlss-brand-color-ronchi);
    outline-offset: -0.125rem;
}

// GitHub code highlight
.hljs-comment,
.hljs-quote {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #007F80;
}

.hljs-string,
.hljs-doctag {
    color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #900;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #008020;
}

.hljs-symbol,
.hljs-bullet {
color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #017ba5;
}

.hljs-meta {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.25rem;
    overflow-x: auto;
    border: 0.1875rem solid rgba(0, 0, 0, 0);
    outline: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    font-size: 1rem;
    margin-bottom: 0.9375rem;
    outline-offset: -0.125rem;
}

pre code:focus {
    border: 0.1875rem solid var(--doc-occlss-brand-color-woodsmoke);
    outline: 0.1875rem solid var(--doc-occlss-brand-color-ronchi);
}

p code, 
p kbd, 
p pre, 
p samp {
    background-color: #e9e9e9;
    padding: 0.0625rem;
}