// top space
$margin-toplist:(
  none: 0,
  xs: 6,
  sm: 12,
  md: 25,
  large: 50,
  paragraph: 30
);

@each $key,$val in $margin-toplist {
    .#{$doc-prefix}-u-tspace-#{$key} {
        margin-top: ($val / 16) * 1rem;
    }
}