// This class will hide object from display
.occlss-u-hidden {
  display: none;
}


// This class will hide object from display but it will be visable for screen readers
.occlss-u-visuallyhidden {
    @extend %sr-only;
}

// View all link
.occlss-u-more-link {
    &:hover,
    &:active,
    &:focus {
        .occlss-u-more-link__icon {
            fill: #edc856;
        }
    }
    &:focus {
        @extend %highlight-bg-on-focus;
    }
    &__icon {
        width: rem(19px);
        height: rem(19px);
        margin-left: rem(10px);
        fill: #0B5EB1;
    }
}

// list styles
// Unstiled list
.occlss-u-unstyled-list {
    @extend %reset_list_style;
    li {
        margin-bottom: 0;
    }
}

.occlss-u-summary-list {
    @extend %reset_list_style;
    li {
        margin-bottom: rem(12px);
    }
}


// top space
$margin-toplist:(
  none: 0,
  xs: 6,
  sm: 12,
  md: 25,
  large: 50,
  paragraph: 30
);

@each $key,$val in $margin-toplist {
    .occlss-u-tspace-#{$key} {
        margin-top: ($val / 16) * 1rem;
    }
}

// top padding space
$padding-toplist:(
  none: 0,
  xs: 6,
  sm: 12,
  md: 25,
  large: 50,
  paragraph: 30
);

@each $key,$val in $padding-toplist {
    .occlss-u-tpspace-#{$key} {
        padding-top: ($val / 16) * 1rem;
    }
}

// bottom space
$margin-bottomlist:(
  none: 0,
  xs: 6,
  sm: 12,
  md: 25,
  large: 50,
  paragraph: 30
);

@each $key,$val in $margin-bottomlist {

    .occlss-u-bspace-#{$key} {
        margin-bottom: ($val / 16) * 1rem;
    }
}


// bottom padding space
$padding-bottomlist:(
  none: 0,
  xs: 6,
  sm: 12,
  md: 25,
  large: 50,
  paragraph: 30
);

@each $key,$val in $padding-bottomlist {
    .occlss-u-bpspace-#{$key} {
        padding-bottom: ($val / 16) * 1rem;
    }
}

// Max width
$trim-width:(
  one-quarter: 25%,
  one-third: 33.333%,
  one-half: 50%,
  two-thirds: 66.666%,
  three-quarters: 75%,
);

@each $key,$val in $trim-width {
    .occlss-u-max-width-#{$key} {
        @media(min-width: 48rem) {
            max-width: $val;
        }
    }
}


// Hide

.occlss-u-hide-xs {
    @media(max-width: 30rem) {
        display: none;
    }
}

.occlss-u-hide-sm {
    @media(max-width: 48rem) {
        display: none;
    }
}

.occlss-u-hide-md {
    @media(max-width: 62rem) {
        display: none;
    }  
}


.occlss-u-hide-lg {
    @media(max-width: 75rem) {
        display: none;
    }
}

// Show

.occlss-u-show-xs {
    display: none;
    @media(max-width: 30rem) {
        display: block;
    }
}

.occlss-u-show-sm {
    display: none;
    @media(max-width: 48rem) {
        display: block;
    }
}

.occlss-u-show-md {
    display: none;
    @media(max-width: 62rem) {
        display: block;
    }  
}

.occlss-u-show-lg {
    display: none;
    @media(max-width: 75rem) {
        display: block;
    }
}

// Responsive image
.occlss-u-img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}