---
title: Summary card
description: [Description]
section: Components
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

The summary card is used to display search results and link to content pages.

{{ example({group: "components", item: "summary-card", example: "default", html: true }) }}

## Changelog

### 1.0.0

- Component Added