<div class="occlss-summary-card">
    <a href="#" class="occlss-summary-card__cont">
        <h2 class="occlss-summary-card__title">Your council tax bil</h2>
        <p class="occlss-summary-card__summary-text">How to calculate and pay your council tax bil.</p>
    </a>
</div>