---
title: Sign up form
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Sign up form

{{ example({group: "patterns", item: "sign-up-form", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 2.0.0
- container class was missing, added back `occlss-form-cntrls`
- margin-bottom: 0; added to `occlss-form-cntrls--sign-up-group` class 

#### 1.0.0

- Component Added