---
title: Icon warning-sign
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "icon/macro.njk" import occlssIcon %}

{{ occlssIcon({
  name: "warning-sign"
}) }}