<div class="occlss-find-my-nearest occlss-find-my-nearest--short {{occlss-find-my-nearest-mod-class}}" role="search">
    <div class="occlss-layout">
        <div class="occlss-layout__col occlss-layout__col--12">
            <form id="js-occlss-find-my-nearest-postcode">
                <div class="occlss-layout occlss-find-my-nearest__search-form-cont occlss-find-my-nearest__search-form-cont--postcode">
                    <div class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--12">
                        <div class="occlss-form-cntrls occlss-find-my-nearest__input-group">
                            <legend class="occlss-form-cntrls__label occlss-find-my-nearest__label">Find my nearest ...</legend>
                            <span class="occlss-find-my-nearest__desc-text">
                               <strong>MP, MEP, councillor</strong>
                            </span>
                            <label for="input-type-text-a2e2">Enter a postcode</label>
                            <input class="occlss-form-cntrls__input" id="input-type-text-a2e2" name="input-type-text-a2e2" type="text">
                        </div>
                    </div>
                    <div class="occlss-layout__col occlss-layout__col--12 occlss-find-my-nearest__input-group">
                        <button type="submit" class="occlss-button occlss-button--primary occlss-button--fullwidth occlss-find-my-nearest__submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
