---
title:  Calendar date
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "calendar-date/macro.njk" import occlssCalendarDate %}

{{ occlssCalendarDate({
  header: "Thursday",
  content: "23",
  footer: "August 2018"
}) }}