---
title: Summary list
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "summary-list/macro.njk" import occlssSummaryList %}

{{ occlssSummaryList({
 items: [
    {
      title: "List of all schools",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "School appeals",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "School transfers",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "Religious education",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "School meals",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "Exclusions",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "Music service",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    },{
      title: "Being educated at home",
      url: "javascript:void(0);",
      classes: "occlss-summary-list__item--underlined occlss-summary-list__item--td"
    }
  ]
}) }}