/* OCCLSS Promoted content panel
 * @version 1.0.0
 */

.occlss-promoted-content-panel--link:focus {
    outline: 3px solid #edc856
}

.occlss-promoted-content-panel--image-left,
.occlss-promoted-content-panel--image-top {
    display: inline-block;
    display: flex;
    *display: inline;
    zoom: 1;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    letter-spacing: -0.31em !important;
    *letter-spacing: normal !important;
    word-spacing: -0.43em !important;
    list-style-type: none
}

.occlss-promoted-content-panel--image-left:before,
.occlss-promoted-content-panel--image-top:before,
.occlss-promoted-content-panel--image-left:after,
.occlss-promoted-content-panel--image-top:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    max-width: 100%
}

.occlss-promoted-content-panel--image-left *:before,
.occlss-promoted-content-panel--image-top *:before,
.occlss-promoted-content-panel--image-left *:after,
.occlss-promoted-content-panel--image-top *:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

.occlss-promoted-content-panel--image-left .occlss-layout,
.occlss-promoted-content-panel--image-left .occlss-short-summary,
.occlss-promoted-content-panel--image-top .occlss-layout,
.occlss-promoted-content-panel--image-top .occlss-short-summary,
.occlss-layout .occlss-promoted-content-panel--image-left,
.occlss-short-summary .occlss-promoted-content-panel--image-left,
.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel--image-left,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel--image-left,
.occlss-layout .occlss-promoted-content-panel--image-top,
.occlss-short-summary .occlss-promoted-content-panel--image-top,
.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel--image-top,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel--image-top {
    flex: 1 1 auto
}

.occlss-promoted-content-panel--image-left *,
.occlss-promoted-content-panel--image-top * {
    box-sizing: border-box
}

.occlss-promoted-content-panel--image-left *:before,
.occlss-promoted-content-panel--image-top *:before,
.occlss-promoted-content-panel--image-left *:after,
.occlss-promoted-content-panel--image-top *:after {
    box-sizing: border-box
}

.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content {
    flex-direction: column;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1rem 1rem
}

.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content {
    display: inline-block;
    display: flex;
    *display: inline;
    zoom: 1
}

@media(min-width: 480px) {
    .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content {
        width: 100%;
        *width: 99.9%
    }
}

.occlss-layout--bleed .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--bleed .occlss-promoted-content-panel__image-container,
.occlss-layout--bleed .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--bleed .occlss-promoted-content-panel__content,
.occlss-layout--bleed .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--bleed .occlss-promoted-content-panel__image-container,
.occlss-layout--bleed .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--bleed .occlss-promoted-content-panel__content {
    padding: 0
}

.occlss-layout--align-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--align-end .occlss-promoted-content-panel__image-container,
.occlss-layout--align-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--align-end .occlss-promoted-content-panel__content,
.occlss-layout--align-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--align-end .occlss-promoted-content-panel__image-container,
.occlss-layout--align-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--align-end .occlss-promoted-content-panel__content {
    vertical-align: bottom
}

.occlss-layout--align-center .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--align-center .occlss-promoted-content-panel__image-container,
.occlss-layout--align-center .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--align-center .occlss-promoted-content-panel__content,
.occlss-layout--align-center .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--align-center .occlss-promoted-content-panel__image-container,
.occlss-layout--align-center .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--align-center .occlss-promoted-content-panel__content {
    vertical-align: middle
}

.occlss-layout--align-baseline .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--align-baseline .occlss-promoted-content-panel__image-container,
.occlss-layout--align-baseline .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--align-baseline .occlss-promoted-content-panel__content,
.occlss-layout--align-baseline .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--align-baseline .occlss-promoted-content-panel__image-container,
.occlss-layout--align-baseline .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--align-baseline .occlss-promoted-content-panel__content {
    vertical-align: baseline
}

.occlss-layout--align-content-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--align-content-end .occlss-promoted-content-panel__image-container,
.occlss-layout--align-content-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--align-content-end .occlss-promoted-content-panel__content,
.occlss-layout--align-content-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--align-content-end .occlss-promoted-content-panel__image-container,
.occlss-layout--align-content-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--align-content-end .occlss-promoted-content-panel__content {
    vertical-align: bottom
}

.occlss-layout--justify-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-end .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-end .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-end .occlss-promoted-content-panel__content,
.occlss-layout--justify-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-end .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-end .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-end .occlss-promoted-content-panel__content {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-center .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-center .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-center .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-center .occlss-promoted-content-panel__content,
.occlss-layout--justify-center .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-center .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-center .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-center .occlss-promoted-content-panel__content {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-space-between .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-space-between .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-space-between .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-space-between .occlss-promoted-content-panel__content,
.occlss-layout--justify-space-between .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-space-between .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-space-between .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-space-between .occlss-promoted-content-panel__content {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-space-around .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-space-around .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-space-around .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout--justify-space-around .occlss-promoted-content-panel__content,
.occlss-layout--justify-space-around .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-space-around .occlss-promoted-content-panel__image-container,
.occlss-layout--justify-space-around .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout--justify-space-around .occlss-promoted-content-panel__content {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout__col--parent .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-layout__col--parent .occlss-promoted-content-panel__image-container,
.occlss-layout__col--parent .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-layout__col--parent .occlss-promoted-content-panel__content,
.occlss-layout__col--parent .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-layout__col--parent .occlss-promoted-content-panel__image-container,
.occlss-layout__col--parent .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-layout__col--parent .occlss-promoted-content-panel__content {
    width: 100%
}

.occlss-promoted-content-panel,
.occlss-short-summary__link {
    width: 100%;
    height: 100%;
    height: inherit;
    padding: 1.25rem;
    position: relative;
    display: block;
    flex: 1 1 auto;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    color: #1a1a1a;
    overflow: hidden
}

.occlss-promoted-content-panel--link:hover {
    color: #1a1a1a;
    text-decoration: underline
}

.occlss-promoted-content-panel--link:hover .occlss-promoted-content-panel__arrow {
    text-decoration: underline
}

@-moz-document url-prefix() {

    .occlss-promoted-content-panel:hover .occlss-promoted-content-panel__arrow,
    .occlss-short-summary__link:hover .occlss-promoted-content-panel__arrow {
        text-decoration: none;
        display: inline
    }
}

.occlss-promoted-content-panel__text-line--header-giga {
    font-size: 3.75rem;
    font-weight: 900;
    font-family: "Fira Sans", sans-serif;
    line-height: .9;
    margin-bottom: 1.25rem
}

.occlss-promoted-content-panel__text-line--header-giga .occlss-icon__container {
    width: 3.75rem;
    height: 3.75rem
}

.occlss-promoted-content-panel__text-line--header-mega {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    line-height: .9;
    margin-bottom: 1.25rem
}

.occlss-promoted-content-panel__text-line--header-mega .occlss-icon__container {
    width: 3.75rem;
    height: 3.75rem
}

.occlss-promoted-content-panel__text-line--header-xlarge {
    font-size: 3.375rem;
    font-weight: 600;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 1.125rem
}

.occlss-promoted-content-panel__text-line--header-xlarge .occlss-icon__container {
    width: 3.375rem;
    height: 3.375rem
}

.occlss-promoted-content-panel__text-line--header-large {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 1.125rem
}

.occlss-promoted-content-panel__text-line--header-large .occlss-icon__container {
    width: 2.5rem;
    height: 2.5rem
}

.occlss-promoted-content-panel__text-line--header-small {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: .625rem
}

.occlss-promoted-content-panel__text-line--header-small .occlss-icon__container {
    width: 1.75rem;
    height: 1.75rem
}

.occlss-promoted-content-panel__text-line--text-medium {
    font-size: 1.5rem;
    margin-bottom: 1.25rem
}

.occlss-promoted-content-panel__text-line--text-medium .occlss-icon__container {
    width: 1.5rem;
    height: 1.5rem
}

.occlss-promoted-content-panel__text-line--text-large {
    font-size: 1.875rem;
    margin-bottom: 1.25rem
}

.occlss-promoted-content-panel__text-line--text-large .occlss-icon__container {
    width: 1.875rem;
    height: 1.875rem
}

.occlss-promoted-content-panel__text-line--header-mega:last-of-type,
.occlss-promoted-content-panel__text-line--header-xlarge:last-of-type,
.occlss-promoted-content-panel__text-line--header-large:last-of-type,
.occlss-promoted-content-panel__text-line--header-small:last-of-type,
.occlss-promoted-content-panel__text-line--text-medium:last-of-type,
.occlss-promoted-content-panel__text-line--text-large:last-of-type {
    margin-bottom: 0
}

.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--header-mega,
.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--header-xlarge,
.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--header-large,
.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--header-small,
.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--text-medium,
.occlss-promoted-content-panel--nogaps .occlss-promoted-content-panel__text-line--text-large {
    margin-bottom: 0
}

.occlss-promoted-content-panel__link-icon {
    fill: #1a1a1a
}

.occlss-promoted-content-panel--aqua-deep {
    background: #00483a;
    color: #fff
}

.occlss-promoted-content-panel--aqua-deep .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--aqua-deep:hover {
    color: #fff
}

.occlss-promoted-content-panel--selective-yellow {
    background: #feb603
}

.occlss-promoted-content-panel--forest-green {
    background: #24b137
}

.occlss-promoted-content-panel--boston-blue {
    background: #3a78bb;
    color: #fff
}

.occlss-promoted-content-panel--boston-blue .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--boston-blue:hover {
    color: #fff
}

.occlss-promoted-content-panel--keppel {
    background: #38b1a0
}

.occlss-promoted-content-panel--pale-sky {
    background: #656d80;
    color: #fff
}

.occlss-promoted-content-panel--pale-sky .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--pale-sky:hover {
    color: #fff
}

.occlss-promoted-content-panel--victoria {
    background: #503b76;
    color: #fff
}

.occlss-promoted-content-panel--victoria .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--victoria:hover {
    color: #fff
}

.occlss-promoted-content-panel--amaranth {
    background: #da1c5c;
    color: #fff
}

.occlss-promoted-content-panel--amaranth .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--amaranth:hover {
    color: #fff
}

.occlss-promoted-content-panel--twilight {
    background: #e9d5e1
}

.occlss-promoted-content-panel--swans-down {
    background: #d6ebeb
}

.occlss-promoted-content-panel--royal-heath {
    background: #932d67;
    color: #fff
}

.occlss-promoted-content-panel--royal-heath .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--royal-heath:hover {
    color: #fff
}

.occlss-promoted-content-panel--keppel-dark {
    background: #319d99;
    color: #fff
}

.occlss-promoted-content-panel--keppel-dark .occlss-promoted-content-panel__link-icon {
    fill: #fff
}

.occlss-promoted-content-panel--keppel-dark:hover {
    color: #fff
}

.occlss-promoted-content-panel--image-left,
.occlss-promoted-content-panel--image-top {
    padding: 0;
    display: flex
}

.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container {
    width: 48%;
    padding: 0
}

@media(max-width: 768px) {
    .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container {
        width: 100%
    }
}

.occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content {
    width: 52%
}

@media(max-width: 768px) {
    .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content {
        width: 100%
    }
}

.occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container {
    min-height: 245px
}

.occlss-promoted-content-panel__image-container {
    overflow: hidden;
    position: relative
}

@media(max-width: 992px) {
    .occlss-promoted-content-panel__image-container {
        min-height: 400px
    }
}

.occlss-promoted-content-panel__image {
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.occlss-promoted-content-panel__text-line--alert-heading {
    border-bottom: .0625rem solid #24b137;
    padding-bottom: .625rem;
    padding-left: .625rem;
    padding-right: .625rem
}

.occlss-promoted-content-panel__text-line--alert-text {
    padding-left: .625rem;
    padding-right: .625rem
}


@media(min-width: 480px) {
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__content,
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__content {
        width: 100%;
        *width: 99.9%
    }
}

.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content {
    padding: 0 .625rem 0 0
}

@media(max-width: 992px) {
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__content,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__content {
        padding-right: 0
    }
}

.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content {
    padding: 0
}

.occlss-promoted-content-panel--image-left .occlss-calendar-date,
.occlss-promoted-content-panel--image-top .occlss-calendar-date,
.occlss-calendar-date .occlss-promoted-content-panel--image-left,
.occlss-calendar-date .occlss-promoted-content-panel--image-top {
    flex: 1 1 auto
}