{{> organisms-page-head-with-form}}

  {{> organisms-intro-pane }} 
  {{> sections-categories-grid-section }} 
  {{> sections-featured-panel-grid-section }}
  {{> sections-carusel-section }}

{{> organisms-page-footer }}
