<div class="doc-page-header-title">
  {% if not includeThemeInPageHeading %}
  <span class="doc-page-header-title__sub">
    {{ theme if theme else section }}
  </span>
  {% endif %}
  <h1>
    {% if includeThemeInPageHeading %}
    <span>
      {{ theme | replace("…", "") }}
    </span>
    {% endif %}
    {{ title }}
    {% if status %}
    <div>
      <strong>
        {{ status }}
      </strong>
      <p>{{ statusMessage | safe }}</p>
    </div>
    {% endif %}
  </h1>
  {{ header_text }}
</div>

                        