{% macro example(params) %}
{% set exampleRoot = "src/" + params.group + "/" + params.item + "/" + params.example + "/" %}
{% if params.customCode %}
  {% set examplePath = exampleRoot + "code.njk" %}
{% else %}
  {% set examplePath = exampleRoot + "index.njk" %}
{% endif %}
{% set exampleURL = "/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}

{% set exampleTitle = getFrontmatter(examplePath).title %}
{% if params.titleSuffix %}
  {% set exampleTitle = exampleTitle + " " + params.titleSuffix %}
{% endif %}

{% if params.id %}
  {% set exampleId = params.id %}
{% else %}
  {% set exampleId = (exampleTitle + " example") | slugger %}
{% endif %}

{% if params.open %}
  {% set exampleId = exampleId + "-open" %}
{% endif %}

{% set display = params.displayExample | default(true) %}

{% set multipleTabs = params.html %}

<div class="doc-example-wrapper" id="{{ exampleId }}" data-module="doc-tabs" {%- if params.open %} data-open{% endif %}>
  {% if display %}
    <div class="doc-example {{ "doc-example--tabs" if params.html }}">
      <div class="doc-example__toolbar">
        <a href="{{ exampleURL }}" class="doc-example__new-window" target="_blank">
          Open this
          {#- Don't use full title visually as the context is shown based on location of this link #}
          <span class="occlss-u-visuallyhidden">{{ exampleTitle | lower }}</span>
          example in a new tab
        </a>
      </div>
      <iframe title="{{ exampleTitle + " example" }}" data-module="doc-example-frame" class="doc-example__frame doc-example__frame--resizable{% if params.size %} doc-example__frame--{{ params.size }}{% endif %}" src="{{ exampleURL }}" loading="lazy"></iframe>
    </div>
  {% endif %}

  {%- if (multipleTabs) %}
    <span id="options-{{ exampleId }}"></span>
    <ul class="doc-tabs" role="tablist">
      <li class="doc-tabs__item js-tabs__item" role="presentation"><a href="#{{ exampleId }}-html" role="tab" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></li>
    </ul>
  {% elif not (params.hideTab) %}
    {% set tabType = "html" if params.html %}
    {#- if at least one tab is set to true show the list -#}
    {% if tabType %}
      <ul class="doc-tabs" role="tablist">
        <li class="doc-tabs__item js-tabs__item" role="presentation">
          <a href="#{{ exampleId }}-{{ tabType }}" role="tab" aria-controls="{{ exampleId }}-{{ tabType }}" data-track="tab-{{ tabType }}">{{ "HTML" if params.html }}</a>
        </li>
      </ul>
    {% endif %}
  {% endif %}

  {%- if (params.html) %}
    {%- if (multipleTabs) or (not params.hideTab) %}
      <div class="doc-tabs__heading js-tabs__heading"><a href="#{{ exampleId }}-html" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></div>
    {% endif %}
    <div class="doc-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-html" role="tabpanel">
      <div class="doc-example__code" data-module="app-copy">

```html
{{ getHTMLCode(examplePath) | safe }}
```

      </div>
    </div>
  {% endif %}

</div>

{% endmacro %}
