<footer class="js-doc-page-footer doc-page-footer doc-flex-grid__col" role="contentinfo">
  <div class="doc-wrapper">
    <div class="doc-page-footer__layout">
      <!--START layout block-->
      <div class="doc-page-footer__layout-col">
        <!--START layout elemnt -->
        <h5 class="doc-page-footer__heading">Oxfordshire County Council style system</h5>
        <p class="v">OCCLSS v3.0.0</p>
      </div>
  </div>
</footer>