<footer class="doc-page-footer doc-flex-grid__col">
  <div class="doc-wrapper">
    <div class="doc-page-footer__layout">
      <!--START layout block-->
      <div class="doc-page-footer__layout-col">
        <!--START layout elemnt -->
        <h5 class="doc-page-footer__heading">Oxfordshire County Council style system</h5>
        <p class="v">OCCLSS v2.4.8</p>
      </div>
  </div>
</footer>