<head>
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  <script src="/assets/js/vendor/modernizr.js"></script>
  <link href="/assets/css/main.css" rel="stylesheet" media="all" />
</head>