<header class="doc-page-header doc-flex-grid__col">
  <div class="doc-wrapper">
    <div class="doc-page-header__logo-cont">
      {% include "_header-close-open-btn.njk" %}
      <a href="/"  class="doc-page-header__logo-link"><img src="/assets/images/occlss/logo.svg" alt="Oxfordshire County Council logo"  class="doc-sidebar-header__logo"></a>
    </div>
  </div>
</header>

{% include "_header-nav.njk" %}

{#{ navigation | dump }#}