<div class="doc-page__sidebar doc-page__sidebar--primary" id="doc-sidebar">

    {#{ navigation | dump }#}
    <nav class="doc-main-nav">

      {% for item in navigation %}
      {% if item.url in path %}
      {% if item.items %}
      {% for theme, items in item.items | groupby("theme") %}
      {% if theme != 'undefined' %}
      <h4 class="doc-main-nav__theme-name">{{ theme }}</h4>
      {% endif %}
      <ul class="doc-main-nav__list">
        {% for subitem in items %}
        <li class="doc-main-nav__list-item {% if subitem.url == path %}doc-main-nav__list-item--current{% endif %}">
          <a href="/{{ subitem.url }}"
            class="doc-main-nav__list-item-lnk {% if subitem.url == path %}doc-main-nav__list-item-lnk--current{% endif %}">{{ subitem.label }}</a>
          {% if (subitem.headings) and (subitem.url == path) %}
          <ul class="doc-main-nav__list doc-main-nav__list--internal">
            {% for link in subitem.headings %}
            {% if link.depth == 2 %}
            <li class="doc-main-nav__list-item">
              <a href="/{{ subitem.url }}/#{{ link.url }}" class="doc-main-nav__list-item-lnk">
                {{ link.text }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </nav>

</div>