// Doc options
$doc-prefix: 'doc-';
$doc-gutter: 1rem;
/////////////////////////////

/// Breakpoints
$mobile : screen;
$tablet : min-width 768px;
$desktop : min-width 1024px;
$widedesktop : min-width 1400px;

// --------------------------------------------------
// reflex variables
// --------------------------------------------------

// Prefix
// -------------------------
// You can optionally namespace reflex classes to avoid clashing with other css frameworks
// e.g. setting $reflex-prefix as "reflex-" here would cause col-sm-6 to become reflex-col-sm-6
// Example: $reflex-prefix: reflex-;
// By default this is an empty string
$reflex-prefix: 'doc-' !default;

// Legacy support
// -------------------------
// Reflex adds a lot of css propertie to support older browsers that don't support flexbox layout.
// If you prefer to use this as a purely flexbox grid without legacy support then set this to false
$legacy-support: true !default;

// Responsive visibility helpers
// -------------------------
// Reflex has some generic visibility classes to hide elements at different breakpoints.
// If you want to disable these then set this to false
$visibility-helpers: true !default;

// Grid
// -------------------------
$reflex-columns: 12 !default; // number of columns

// Breakpoints
// -------------------------
$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: 1600px !default;

$reflex-xxs-max:    ($reflex-xs - 1);
$reflex-xs-max:     ($reflex-sm - 1);
$reflex-sm-max:     ($reflex-md - 1);
$reflex-md-max:     ($reflex-lg - 1);
$reflex-lg-max:     ($reflex-xlg - 1);

// Spacing
// -------------------------
$reflex-grid-spacing:       16px !default;
//////////////////////////////////////////

// Breakpoints
// -------------------------

$reflex-breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xlg: 1600px
) !default;

$reflex-breakpoints-max: (
  xxs: (map-get($reflex-breakpoints, 'xs') - 1),
  xs:  (map-get($reflex-breakpoints, 'sm') - 1),
  sm:  (map-get($reflex-breakpoints, 'md') - 1),
  md:  (map-get($reflex-breakpoints, 'lg') - 1),
  lg:  (map-get($reflex-breakpoints, 'xlg') - 1)
) !default;

// Font size
$doc-font-size: (
    'xxxxx-large': 42px,
    'xxxx-large':  36px,
    'xxx-large':   30px,
    'xx-large':    26px,
    'x-large':     24px,
    'large':       22px,
    'medium':      20px,
    'regular':     16px,
    'mall':        14px
);

// Global transition parameters 
$doc-global-enable-transitions-option:     true !default;
$doc-global-transition-parameters:         all .2s ease-in-out !default;

// Page default variables
$doc-page-font-family-primary:  'Open Sans', sans-serif !default;
$doc-page-font-color-primary:   #0B0C0C !default;
$doc-page-font-weight-primary:  400 !default;
$doc-page-background-primary:   #ffffff !default;


// Paragraph default variables
$doc-page-line-height-paragraph-unit:    1.5 !default;
$doc-page-margin-paragraph-unit:         0 0 30px 0 !default;
$doc-page-margin-paragraph-unit-top:     0 !default;
$doc-page-margin-paragraph-unit-bottom:  30px !default;
$doc-page-margin-paragraph-unit-left:    0 !default;
$doc-page-margin-paragraph-unit-right:   0 !default;

// Doc css vars
:root {
    // Colours
    --doc-occlss-brand-color-ronchi:      #edc856;
    --doc-occlss-brand-color-black:       #000000;
    --doc-occlss-brand-color-aqua-deep:   #00483a;
    --doc-occlss-brand-color-link-water:  #d9ecf6;
    --doc-occlss-brand-color-boston-blue: #3a78bb;
    --doc-occlss-brand-color-nebula:      #d3dfdd;
    --doc-occlss-brand-color-cod-gray:    #1a1a1a;
    // Link colours
    --doc-occlss-brand-color-venice-denim:  #0B5EB1;
    --doc-occlss-brand-color-catalina-blue: #073d73;
    --doc-occlss-brand-color-denim:         #0e73d8;
    --doc-occlss-brand-color-selago:        #e5effb;
    // Typography colours
    --doc-occlss-brand-color-black:         #000000;
    --doc-occlss-brand-color-emperor:       #525252;
    --doc-occlss-brand-color-cod-gray:      #1a1a1a;
    --doc-occlss-brand-color-woodsmoke:     #0B0C0C;
    --doc-occlss-brand-color-alabaster:     #fcfcfc;

    // Doc style
    --doc-occlss-brand-color-example-box-border:     #d3dfdd;

    // Code BG
    --doc-occlss-brand-color-example-code-bg:     #F3F2F1;
}