// Font size
$doc-font-size: (
    'xxxxx-large': 2.625rem,
    'xxxx-large':  2.25rem,
    'xxx-large':   1.875rem,
    'xx-large':    1.625rem,
    'x-large':     1.5rem,
    'large':       1.375rem,
    'medium':      1.25rem,
    'regular':     1rem,
    'mall':        0.875rem
);

// Global transition parameters 
$doc-global-enable-transitions-option:     true !default;
$doc-global-transition-parameters:         all .2s ease-in-out !default;

// Page default variables
$doc-page-font-family-primary:  'Open Sans', sans-serif !default;
$doc-page-font-color-primary:   #0B0C0C !default;
$doc-page-font-weight-primary:  400 !default;
$doc-page-background-primary:   #ffffff !default;


// Paragraph default variables
$doc-page-line-height-paragraph-unit:    1.5 !default;
$doc-page-margin-paragraph-unit:         0 0 1.875rem 0 !default;
$doc-page-margin-paragraph-unit-top:     0 !default;
$doc-page-margin-paragraph-unit-bottom:  1.875rem !default;
$doc-page-margin-paragraph-unit-left:    0 !default;
$doc-page-margin-paragraph-unit-right:   0 !default;


$doc-form-cntrls-border-color-base-input-focus: #edc856 !default;

// Page link
$doc-link-color-primary:            CurrentColor !default;
$doc-link-color-primary-hover:      #edc856 !default;
$doc-link-bg-color-primary-hover:   #edc856 !default;
$doc-link-font-size:                1.25rem !default;
$doc-link-color-hover-focus:        #1a1a1a !default;

// Doc css vars
:root {
    // Colours
    --doc-occlss-brand-color-ronchi:      #edc856;
    --doc-occlss-brand-color-black:       #000000;
    --doc-occlss-brand-color-aqua-deep:   #00483a;
    --doc-occlss-brand-color-link-water:  #d9ecf6;
    --doc-occlss-brand-color-boston-blue: #3a78bb;
    --doc-occlss-brand-color-nebula:      #d3dfdd;
    --doc-occlss-brand-color-cod-gray:    #1a1a1a;
    // Link colours
    --doc-occlss-brand-color-venice-denim:  #0B5EB1;
    --doc-occlss-brand-color-catalina-blue: #073d73;
    --doc-occlss-brand-color-denim:         #0e73d8;
    --doc-occlss-brand-color-selago:        #e5effb;
    // Typography colours
    --doc-occlss-brand-color-black:         #000000;
    --doc-occlss-brand-color-emperor:       #525252;
    --doc-occlss-brand-color-cod-gray:      #1a1a1a;
    --doc-occlss-brand-color-woodsmoke:     #0B0C0C;
    --doc-occlss-brand-color-alabaster:     #fcfcfc;

    // Doc style
    --doc-occlss-brand-color-example-box-border:     #d3dfdd;

    // Code BG
    --doc-occlss-brand-color-example-code-bg:     #F3F2F1;
}