---
title: Card
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "cards/macro.njk" import occlssCard %}

{{ occlssCard({
  cardRows: [
      {
          cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
          cardURL: "javascript:void(0);",
          cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_img-20190510-092916-386999.jpg",
          cardParagraph: [
            {
              text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
            }
          ]
      },{
          cardTitle: "Oxfordshire communities and local businesses gearing up for OVO Energy Women’s Tour cycle race",
          cardURL: "javascript:void(0);",
          cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_photo-henleybusinessbanner2-414318.jpg",
          cardParagraph: [
            {
              text: "Oxfordshire communities and local businesses are making plans to welcome the prestigious OVO Energy Women’s Tour cycle race, which will pass through the county on Wednesday 12 June."
            }
          ]
      },{
          cardTitle: "‘Adorable’ Archie set to influence baby name choice for Oxfordshire parents ",
          cardURL: "javascript:void(0);",
          cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_babyfeet-926346.jpg",
          cardParagraph: [
            {
              text: "Staff at Oxfordshire County Council’s Registration Service are expecting a surge in boys named Archie following the birth of the Duke and Duchess of Sussex’s first child."
            }
          ]
      }
  ]
}) }}