---
title: Find my nearest short
description: [Description]
section: Components
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Find my nearest short

{{ example({group: "components", item: "find-my-nearest", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]



## Find my nearest short

{{ example({group: "components", item: "find-my-nearest", example: "short", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]


## Find my nearest district

{{ example({group: "components", item: "find-my-nearest", example: "district", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]