---
title: Find my nearest form
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

This component is used to allow a user to search for something by postcode. It can be used in the right-side bar of standard page or index page, or within the content of a standard page or index page.

## Find my nearest short

{{ example({group: "components", item: "find-my-nearest", example: "default", html: true }) }}

## Find my nearest short

{{ example({group: "components", item: "find-my-nearest", example: "short", html: true }) }}

## Find my nearest district

{{ example({group: "components", item: "find-my-nearest", example: "district", html: true }) }}

## Changelog

#### 1.0.0

- Component Added