{%- set htmlClass %} class="js{% if doc_bg == 'white' %} html-bg-white{% endif %}"{% endset %}
{%- set bodyClass %} class="{% if doc_bg == 'white' %}body-bg-white{% endif %}{% if doc_gap %} body-gap{% endif %}"{% endset %}

<!doctype html>
<html lang="en" {{ htmlClass | safe }}>
  <head>

    <link rel="shortcut icon" href="/assets/images/occlss/favicon/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/occlss/favicon/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/assets/images/occlss/favicon/favicon.ico">
    <link rel="icon" type="image/gif" href="/assets/images/occlss/favicon/favicon.gif">
    <link rel="icon" type="image/png" href="/assets/images/occlss/favicon/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/assets/images/occlss/favicon/apple-touch-icon-precomposed.png">

    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,900|Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/css/occlss.css" rel="stylesheet" media="all" />
    <link href="/assets/css/layout.css" rel="stylesheet" media="all" />
    <script src="/assets/js/vendor/modernizr.js"></script>
    <title>{{ title }} – Example</title>
  </head>
  <body {{ bodyClass | safe }}>
    <form novalidate>
        {% block body %}
          {{ contents | safe }}
        {% endblock %}
    </form>
  </body>
  {% include "_footer-script.njk" %}
  {% include "_occlss-script.njk" %}
  <script
      type="text/javascript"
      src="/assets/js/vendor/iframeResizer.contentWindow.min.js"
      defer
    ></script>
</html>