{% extends "layout-single-page.njk" %}

{% set contents %}
<div class="occlss-layout">
  <div class="occlss-layout__col occlss-layout__col--lg-9">
      {{ contents | safe }}
  </div>
</div>
{% endset %}
