---
title: Button neutral disabled
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Back",
  classes: "occlss-button--neutral is-disabled",
  disabled: true
}) }}