---
title: Accordion
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "accordion/macro.njk" import occlssAccordion %}

{{ occlssAccordion({
  panels: [
    {
      title: "Article 1",
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui, in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis, ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur leo."
    },{
      title: "Article 2",
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis, ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur leo."    
    }
  ]
}) }}