<div class="sg-colors__cont">
	<span class="sg-swatch" style="background: {{ occlss-color-name }};"></span>
	<span class="sg-label">
		<strong><small>SASS var:</small></strong> {{ occlss-color-variable-name }} <br />
		<strong><small>HEX:</small></strong> {{ occlss-color-sass-var-name  }}
	</span>
</div>
