---
title: Home page
description: [Description]
section: Pages
layout: layout-pane.njk
theme: Landing page
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Home page (Residence)

{{ example({group: "pages", item: "home-page", example: "residents", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Business 

{{ example({group: "pages", item: "home-page", example: "business", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]