<a href="http://www.twitter.com/oxfordshirecc" id="lnk02" class="occlss-social-media-link">
    <span class="occlss-social-media-link__heading">Find us on Twitter</span>
    {{> atoms-icon-twitter(modClass: 'occlss-social-media-link__icon') }}
</a>