<a href="http://www.facebook.com/OxfordshireCountyCouncil" id="occlss_twitter_pane_facebook_lnk" class="social-media-link occlss-u-tspace-md occlss-u-bspace-sm">
    <span class="social-media-link__heading">Find us on Facebook</span>
    <span class="occlss-icon occlss-icon--facebook social-media-link__icon" aria-hidden="false" id="occlss_facebook_icon">
        <svg aria-hidden="false" class="occlss-icon__container">
            <title>Oxfordshire county council on facebook</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/custom/occ/images/occlss/occlss-sprite.svg#facebook" class="icon__source icon__source--svg"></use>
        </svg>
    </span>
    
    {{> atoms-icon-facebook }}
</a>

<a href="http://www.twitter.com/oxfordshirecc" id="occlss_twitter_lnk" class="social-media-link">
    <span class="social-media-link__heading">Find us on Twitter</span>
    <span class="occlss-icon occlss-icon--twitter social-media-link__icon" aria-hidden="false" id="occlss_twitter_pane_twitter_icon">
        <svg aria-hidden="false" class="occlss-icon__container">
            <title>Oxfordshire county council on twitter</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/custom/occ/images/occlss/occlss-sprite.svg#twitter" class="icon__source icon__source--svg"></use>
        </svg>
    </span>

    {{> atoms-icon-twitter }}
</a>