---
title: Info box
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "info-box/macro.njk" import occlssInfoBox %}

{{ occlssInfoBox({
  content: "Where a new school is built, this can affect a child’s eligibility for school transport."
}) }}