---
title: Alert error
layout: layout-example.njk

---

{% from "alert/macro.njk" import occlssAlert %}

{{ occlssAlert({
  title: "We're sorry, there is a problem",
  content: "The details are highlighed below.",
  state: "error",
  controls: "true"
}) }}



