{######
title:    [text]
content:  [text]
state:    error, info, success, warning
controls: true/false
######}
<div class="occlss-alert {% if params.state | lower == 'error' %}occlss-alert--error{% endif %} {% if params.state | lower == 'info' %}occlss-alert--info{% endif %} {% if params.state | lower == 'success' %}occlss-alert--success{% endif %} {% if params.state | lower == 'warning' %}occlss-alert--warning{% endif %}">
    <div class="occlss-layout"><!--START layout block-->
        <div class="occlss-layout__col occlss-layout__col--2 occlss-layout__col--flex occlss-alert__sign-cont"><!--START layout elemnt -->
            
            {% if params.state | lower == 'error' %}
                <span class="occlss-icon occlss-icon--exclamation-mark" aria-hidden="true">
                    <svg aria-hidden="true" class="occlss-icon__container occlss-alert__sign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#exclamation-mark" class="icon__source icon__source--svg"></use>
                    </svg>
                </span>
            {% endif %}

            {% if params.state | lower == 'info' %}
                <span class="occlss-icon occlss-icon--info" aria-hidden="true">
                    <svg aria-hidden="true" class="occlss-icon__container occlss-alert__sign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#info" class="icon__source icon__source--svg"></use>
                    </svg>
                </span>
            {% endif %}

            {% if params.state | lower == 'success' %}
                <span class="occlss-icon occlss-icon--check" aria-hidden="true">
                    <svg aria-hidden="true" class="occlss-icon__container occlss-alert__sign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#check" class="icon__source icon__source--svg"></use>
                    </svg>
                </span>
            {% endif %}

            {% if params.state | lower == 'warning' %}
                <span class="occlss-icon occlss-icon--warning-sign" aria-hidden="true">
                    <svg aria-hidden="true" class="occlss-icon__container occlss-alert__sign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#warning-sign" class="icon__source icon__source--svg"></use>
                    </svg>
                </span>
            {% endif %}

        </div><!--End layout elemnt -->
        <div class="occlss-layout__col {% if params.controls == "true"  %} occlss-layout__col--9 {% else %} occlss-layout__col--10 {% endif %} occlss-alert__cont occlss-layout__col--flex"><!--START layout elemnt -->

                {% if params.title %}<h3 class="occlss-alert__heading">{{ params.title }}</h3>{% endif %}
                {% if params.content %}<p class="occlss-alert__text">{{ params.content }}</p>{% endif %}

        </div><!--End layout elemnt -->

        {% if params.controls | lower == "true"  %}
        <div class="occlss-layout__col occlss-layout__col--1 occlss-layout__controls"><!--START layout elemnt -->
              <a href="javascript:void(0);">
                    
                    <span class="occlss-icon occlss-icon--ex occlss-alert__ex-icon" aria-hidden="true">
                        <svg aria-hidden="true" class="occlss-icon__container">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#ex" class="icon__source icon__source--svg"></use>
                        </svg>
                    </span>
                    
              </a>
        </div><!--End layout elemnt -->
        {% endif %}

    </div> <!--End layout block -->
</div>