.doc-header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--doc-occlss-brand-color-aqua-deep);
}

// Header container
.doc-header__container {
    position: relative;
    @media(max-width: 62rem) {
        padding-bottom: 0.75rem;
    }
}

.doc-header__container:after {
    content: "";
    display: block;
    clear: both;
}


// Header link
.doc-header__link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.doc-header__link:focus {
    outline: 0.1875rem solid var(--doc-occlss-brand-color-ronchi);
    display: inline-block;
}

// Header logo
@media(min-width: 62rem) {
    .doc-header__logo {
        width: auto;
        padding-right: 0.9375rem;
        float: left;
        vertical-align: top;
    }
}

// Menu button
.doc-header__menu-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    position: absolute;
    top: 20%;
    right: 0.75rem;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 0.1875rem solid #00000000;
        color: var(--doc-occlss-brand-color-emperor);
        background-color: var(--doc-occlss-brand-color-ronchi);
        box-shadow: 0 -0.125rem var(--doc-occlss-brand-color-ronchi), 0 0 transparent;
        text-decoration: none;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        border-width: 0.54125rem 0.3125rem 0 0.3125rem;
        border-top-color: inherit;
        content: "";
        margin-left: 5px;
    }

    &[aria-expanded=true]:after {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #00000000;
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        border-width: 0 0.3125rem 0.54125rem 0.3125rem;
        border-bottom-color: inherit;
    }
    

}

.js-enabled .doc-header__menu-button {
    display: block;
}

.doc-header__menu-button[hidden],
.js-enabled .doc-header__menu-button[hidden] {
    display: none;
}