.doc-template {
    background-color: #fff;
    text-size-adjust: 100%;
}

@media screen {
    .doc-template {
        overflow-y: scroll;
    }
}

.doc-template__body {
    margin: 0;
    background-color: #fff;
}

.doc-template {
    background-color: #000;
}