.doc-split-pane {
  padding-top: 1.5rem;
  @media(min-width: 48rem) {
    display: flex;
    position: relative;
    min-height: 0;
    overflow: inherit;
  }
  @media(min-width: 100rem) {
    width: 100%;
  }
}

@media(max-width: 62rem) {
  .doc-split-pane__nav {
      display: none;
  }
}