.doc-example {
  position: relative;
  border: 0.0625rem solid var(--doc-occlss-brand-color-example-box-border);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2P88ePHfwY0wMHBwYguxjgUFKI7GsTH5m4M3w1ChQAZTSeO0/AZpgAAAABJRU5ErkJggg==") repeat;
}

.doc-example--tabs {
  margin-bottom: 0;
  @media(min-width: 75rem) {
    margin-bottom: -1px;
  }
}

.doc-example-col {
  background-color: #83e3ff;
  box-shadow: inset 0px 0px 0px 1px #fff;
  font-size: 0.9em;
  padding: 0.625rem;
  margin-bottom: 1rem;
}

.doc-example__toolbar {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid var(--doc-occlss-brand-color-example-box-border); 
  background: #fff;
}

.doc-example__new-window {
  font-size: 0.75rem;
  line-height: 1.25;
  @media(min-width: 62rem) {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }
}

.doc-example__frame {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-right: 0.0625rem solid var(--doc-occlss-brand-color-example-box-border);
  background: #fff;
}
  
.doc-example__iframe,
.doc-example__frame--xs {
  height: 9.375rem;
}

.doc-example__frame--s {
  height: 15.625rem;
}

.doc-example__frame--m {
  height: 21.875rem;
}

.doc-example__frame--l {
  height: 28.125rem;
}

.doc-example__frame--xl {
  height: 34.375rem;
}
  
.doc-example__frame--resizable {
  min-width: 14.375rem;
  min-height: 3.75rem;
  overflow: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  @media(min-width: 75rem) {
    resize: both;
  }
}
  
.doc-example__code {
  position: relative;
  line-height: 1.25;
  @media(min-width: 62rem) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
  

  