.doc-content-scope {
    pre, img {
        margin-bottom: 0.75rem;
    }
    .occlss-u-more-link {
        display: inline-block;
        margin-bottom: 0.75rem;
    }
    h2,h3,h4,h5,h6 {
        margin-bottom: 1rem;
    }
    ol, ul {
        margin: 0 0 1.875rem 0;
        padding: 0 0 0 1rem;
    }
}