.doc-copy-button {
    position: absolute;
    z-index: 1;
    top: 0.625rem;
    right: 0.625rem;
    min-width: 6.875rem;
    padding: 0.1875rem 0.625rem;
    border: 0.0625rem solid var(--doc-occlss-brand-color-venice-denim);
    color: var(--doc-occlss-brand-color-venice-denim);
    background-color: #fff;
    box-shadow: 0 0.125rem 0 0 var(--doc-occlss-brand-color-venice-denim);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    @media(min-width: 62rem) {
      font-size: 1rem;
      line-height: 1.25;
    }

    &:focus:not(:hover) {
      color: var(--doc-occlss-brand-color-woodsmoke);
      background-color: var(--doc-occlss-brand-color-ronchi);
      box-shadow: 0 0.125rem 0 0 var(--doc-occlss-brand-color-woodsmoke);
    }

    &:active,
    &:focus {
      padding: 0.125rem 0.625rem;
      border: 0.125rem solid var(--doc-occlss-brand-color-ronchi);
      outline: 0.125rem solid rgba(0, 0, 0, 0);
      box-shadow: none
    }
    
    &:active {
      margin-top: 0.125rem;
      box-shadow: none
    }
}
  

  
