.doc-tabs {
    margin: rem(-1px auto);
    padding: 0;
    overflow: visible;
    list-style-type: none;
    border: rem(1px) solid var(--doc-occlss-brand-color-example-box-border);
    @media(max-width: 75rem) {
      display: none;
    }
  }
  
  .doc-tabs__item {
    line-height: 1.25;
    display: inline-block;
    position: relative;
    padding: rem(20px);
    margin-bottom: 0;
    @media(min-width: 62rem) {
      font-size: rem(19px);
      line-height: 1.3157894737;
    }
  }

  
  .doc-tabs__item a,
  .doc-tabs__item .occlss-a-to-z--inverse .occlss-a-to-z__letter,
  .occlss-a-to-z--inverse .doc-tabs__item .occlss-a-to-z__letter {
    display: block;
  }
  
  
  .doc-tabs__item a:after,
  .doc-tabs__item .occlss-a-to-z--inverse .occlss-a-to-z__letter:after,
  .occlss-a-to-z--inverse .doc-tabs__item .occlss-a-to-z__letter:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  
  .doc-tabs__item--current {
    border-right: rem(1px) solid var(--doc-occlss-brand-color-example-box-border);
    border-left: rem(1px) solid var(--doc-occlss-brand-color-example-box-border);
    background: #fff;
  }
  
  .doc-tabs__item--current:first-child {
    border-left: 0;
  }
  
  .doc-tabs__heading {
    display: none;
    position: relative;
    padding: rem(15px);
    border: rem(1px) solid var(--doc-occlss-brand-color-example-box-border);
    border-top: 0;
  }
  
  @media(max-width: 75rem) {
    .doc-tabs__heading {
        display: block;
    }
  }
  
  .doc-tabs__heading .doc-tabs__heading-button {
    line-height: 1.25;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    border: 0;
    outline: 0;
    color: var(--doc-occlss-brand-color-boston-blue);
    background: none;
  }
  
  .doc-tabs__heading .doc-tabs__heading-button:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
  }
  
  .doc-tabs__heading .doc-tabs__heading-button:focus {
    outline: rem(3px) solid #00000000;
    color: var(--doc-occlss-brand-color-woodsmoke);
    background-color: var(--doc-occlss-brand-color-ronchi);
    box-shadow: rem(0 -2px var(--doc-occlss-brand-color-ronchi), 0 4px) var(--doc-occlss-brand-color-woodsmoke);
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }


  @media(min-width: 62rem) {
    .doc-tabs__heading .doc-tabs__heading-button {
        font-size: rem(19px);
        line-height: 1.3157894737;
    }
  }

  
  .doc-tabs__heading .doc-tabs__heading-link:after,
  .doc-tabs__heading .doc-tabs__heading-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .doc-tabs__heading--current {
    border-bottom: 0
  }
  
  .doc-tabs__heading--current a:not(:hover):not(:active),
  .doc-tabs__heading--current .occlss-a-to-z--inverse .occlss-a-to-z__letter:not(:hover):not(:active),
  .occlss-a-to-z--inverse .doc-tabs__heading--current .occlss-a-to-z__letter:not(:hover):not(:active) {
    text-decoration: none;
  }
  
  .doc-tabs__container {
    padding: rem(20px);
    border: rem(1px) solid var(--doc-occlss-brand-color-example-box-border);
    background-color: #fff;
    @media(min-width: 75rem) {
      margin-top: rem(-2px);
   }
  }
  
  .doc-tabs__container pre code {
    outline: rem(1px) solid rgba(0, 0, 0, 0);
    background-color: var(--doc-occlss-brand-color-example-code-bg);
  }