.doc-site-search {
    display: none;
    position: absolute;
    top: 20%;
    right: 0;
    margin-right: 0.75rem;
    @media(max-width: 62rem) {
        position: relative;
        margin-left: 0.75rem;
    }
}

.js-enabled .doc-site-search {
    display: block;
    @media(min-width: 62rem) {
        text-align: left;
    }
}

.doc-site-search__wrapper {
    display: block;
    position: relative;
}

.doc-site-search__hint,
.doc-site-search__input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    padding: 0.3125rem;
    padding-left: 2.1875rem;
    border: 0.125rem solid #fff;
    border-radius: 0;
    appearance: none;
}

.doc-site-search__hint {
    position: absolute;
}

.doc-site-search__input {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left -0.125rem;
    background-size: 2.5rem 2.5rem;
    border: 0.125rem solid var(--doc-occlss-brand-color-emperor);
    
    @media(max-width: 48rem)  {
        width: 100%;
    }

    &::placeholder {
        color: var(--doc-occlss-brand-color-emperor);
    }
}



.doc-site-search__input--focused {
    border-color: var(--doc-occlss-brand-color-emperor);
    outline: 0.1875rem solid var(--doc-occlss-brand-color-ronchi);
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.125rem;
}

.doc-site-search__input--show-all-values {
    padding: 0.3125rem 2.125rem 0.3125rem 0.3125rem;
    cursor: pointer;
}

.doc-site-search__dropdown-arrow-down {
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 0.625rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.doc-site-search__menu {
    width: 100%;
    max-height: 21.375rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: 0.125rem solid var(--doc-occlss-brand-color-emperor);
    border-top: 0;
    background-color: #fff;
}

.doc-site-search__menu--visible {
    display: block;
}

.doc-site-search__menu--hidden {
    display: none;
}

.doc-site-search__menu--overlay {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
}

.doc-site-search__menu--inline {
    position: relative;
}

.doc-site-search__option {
    display: block;
    position: relative;
    padding: 0.625rem;
    border-bottom: solid var(--doc-occlss-brand-color-emperor);
    border-width: 0.125rem 0;
    margin-bottom: 0;
    cursor: pointer;
}

.doc-site-search__option>* {
    pointer-events: none;
}

.doc-site-search__option:first-of-type {
    border-top-width: 0;
}

.doc-site-search__option:last-of-type {
    border-bottom-width: 0;
}

.doc-site-search__option--odd {
    background-color: #fafafa;
}

.doc-site-search__option--focused,
.doc-site-search__option:hover {
    border-color: var(--doc-occlss-brand-color-boston-blue);
    outline: 0.1875rem solid #00000000;
    outline-offset: -0.1875rem;
    color: #fff;
    background-color: var(--doc-occlss-brand-color-boston-blue);
}

.doc-site-search__option--focused .doc-site-search--section,
.doc-site-search__option:hover .doc-site-search--section {
    color: inherit;
}

.doc-site-search__option--no-results {
    color: var(--doc-occlss-brand-color-emperor);
    background-color: #fff;
    cursor: not-allowed;
}



@media(min-width: 48rem) {

    .doc-site-search__hint,
    .doc-site-search__input,
    .doc-site-search__option {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.doc-site-search__link {
    display: none;
    margin-top: 0.625rem;
}

.doc-site-search__link:link,
.doc-site-search__link:visited,
.doc-site-search__link:hover,
.doc-site-search__link:active {
    color: #fff;
}

.doc-site-search__link:focus {
    color: var(--doc-occlss-brand-color-emperor);
}

@media(min-width: 48rem) {
    .doc-site-search__link {
        display: inline-block;
    }

    .js-enabled .doc-site-search__link {
        display: none;
    }
}

.doc-site-search--section {
    display: block;
    font-smooth: antialiased;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    color: var(--doc-occlss-brand-color-emperor);
}

@media(min-width: 48rem) {
    .doc-site-search--section {
        font-size: 1rem;
        line-height: 1.25;
    }
}

.doc-site-search__aliases {
    margin-left: 0.3125rem;
}

.doc-site-search__aliases:before {
    content: "(";
}

.doc-site-search__aliases:after {
    content: ")";
}

.doc-site-search__separator {
    display: inline-block;
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;
}