.doc-subnav {
    margin-bottom: 6.25rem;
    padding: 0 0.9375rem 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    @media(min-width: 48rem) {
        font-size: 1rem;
        line-height: 1.25;
    }
}

.doc-subnav__section {
    margin: 0 0 1.25rem;
    padding: 0;
    list-style-type: none;
}

.doc-subnav__link {
    padding: 0.125rem 0;
}

.doc-subnav__section-item {
    margin-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.doc-subnav__section-item--current {
    margin-left: -0.875rem;
    padding-left: 0.625rem;
    border-left: 0.25rem solid var(--doc-occlss-brand-color-venice-denim);
    background-color: #fff;
}

.doc-subnav__section-item--current .doc-subnav__link {
    font-weight: bold
}

.doc-subnav__section--nested {
    margin-top: 0.625rem;
    margin-bottom: 0;
    padding-left: 1.25rem;
}

.doc-subnav__section--nested .doc-subnav__section-item:before {
    content: "—";
    margin-left: -1.25rem;
    color: #505a5f
}

.doc-subnav__section--nested .doc-subnav__section-item {
    margin-bottom: 0;
}

.doc-subnav__section--nested .doc-subnav__link {
    padding-left: 0;
    font-weight: normal
}

.doc-subnav__theme {
    margin: 0;
    padding: 0 0.9375rem 0.625rem 0;
    color: var(--doc-occlss-brand-color-emperor);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.25;
    @media(min-width: 48rem) {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}



@media(min-width: 48rem) {
    .doc-subnav__section-item .doc-link,
    .doc-subnav__section-item .doc-link--no-visited-state:visited {
        color: currentColor;
    }
}