.#{$doc-prefix}page-header {
    background: $doc-page-header-bg;
    max-height: rem(70px);
}

.#{$doc-prefix}page-header__logo-cont {
    padding: rem(0 16px);
}

.#{$doc-prefix}page-header__logo-link {
    display: inline-block;
}

.#{$doc-prefix}page-header__logo {

}