.#{$doc-prefix}example-pane {
    background: $doc-example-pane-bg-primary;
}

.#{$doc-prefix}example-pane__html-example {
    position: relative;
    padding-top: rem(30px);
    border: rem(1px solid $doc-example-pane-border-color-primary);
    overflow: hidden;
}

.#{$doc-prefix}example-pane__new-window {
    background: $doc-example-pane-bg-secondary;
    padding: rem(2px 12px 5px 12px);
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
}

.#{$doc-prefix}example-pane__new-window-lnk {
    @include transition(all .2s ease-in-out);
    font-size: rem(12px);
}

.#{$doc-prefix}example-pane-tabs__code {
    display: none;
}

.#{$doc-prefix}example-pane-tabs__code--open {
    display: block;
}

.#{$doc-prefix}example-pane__html-example + pre,
.#{$doc-prefix}example-pane-tabs__code pre {
    border-top: none;
}

.#{$doc-prefix}example-pane__html-example + p {
    padding-top: rem(30px); 
}

.#{$doc-prefix}example-pane-tabs {
    border: rem(1px solid $doc-example-pane-border-color-primary);
    border-top: none;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.#{$doc-prefix}example-pane-tabs__item {
    margin: 0;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0;
}

.#{$doc-prefix}example-pane-tabs__item--open {
    .#{$doc-prefix}example-pane-tabs__item-link {
        border-bottom: 3px solid $doc-example-border-color-selected;
    }
}

.#{$doc-prefix}example-pane-tabs__item-link {
    @include transition(all .2s ease-in-out);
    display: block;
    margin-top: rem(-1px);
    padding: rem(15px);
    border-top: rem(2px solid transparent);
    border-bottom: rem(2px solid transparent);
    color: #005ea5;
    background: inherit;
    font-weight: bold;
    text-decoration: none;
    border-bottom: rem(3px solid transparent);
    &:hover {
        border-bottom: rem(3px solid $doc-example-border-color-selected);
    }
}

pre {
    position: relative;
    margin: 0;
    padding: rem(20px);
    overflow: auto;
    border: 1px solid $doc-example-pane-border-color-primary;
    background-color: $doc-example-pane-bg-tertiary;
    margin-bottom: rem(15px);
}

.doc-example-pane__iframe {
    resize: both;
    overflow: auto;
    min-width: rem(250px);
    min-height: rem(30px);
    display: block;
    width: 100%;
    max-width: 100%;
    background: $doc-example-pane-bg-primary;
}