.#{$doc-prefix}flex-grid {
  display: flex;

}

.#{$doc-prefix}flex-grid--column {
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.#{$doc-prefix}flex-grid--row {
  flex-direction: row;
}

.#{$doc-prefix}flex-grid--full-height {
  flex: 1;
}

.#{$doc-prefix}flex-grid__col {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
    The percent can be px. It just represents your minimum starting width.
    */
}