.#{$doc-prefix}occlss-Fira-Sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.#{$doc-prefix}occlss-Fira-Sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.#{$doc-prefix}occlss-Fira-Sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.#{$doc-prefix}occlss-Fira-Sans-semi-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}

.#{$doc-prefix}occlss-Fira-Sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.#{$doc-prefix}occlss-Fira-Sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
}




.#{$doc-prefix}occlss-Fira-Sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.#{$doc-prefix}occlss-Fira-Sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.#{$doc-prefix}occlss-Fira-Sans-semi-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}

.#{$doc-prefix}occlss-Fira-Sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}



.#{$doc-prefix}occlss-font-size-xxxxx-large {
  font-size: 42px;
}

.#{$doc-prefix}occlss-font-size-xxxx-large {
  font-size: 36px;
}

.#{$doc-prefix}occlss-font-size-xxx-large {
  font-size: 30px;
}

.#{$doc-prefix}occlss-font-size-xx-large {
  font-size: 26px;
}

.#{$doc-prefix}occlss-font-size-x-large {
  font-size: 24px;
}

.#{$doc-prefix}occlss-font-size-large {
  font-size: 22px;
}

.#{$doc-prefix}occlss-font-size-medium {
  font-size: 20px;
}

.#{$doc-prefix}occlss-font-size-regular {
  font-size: 16px;
}

.#{$doc-prefix}occlss-font-size-small {
  font-size: 14px;
}