.#{$doc-prefix}mob-nav {
    padding: 0;
    margin: 0;
    display: none;
    @extend .occlss-layout__col;
}

.#{$doc-prefix}mob-nav.is-active {
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
        display: block;
    }
}

.#{$doc-prefix}mob-nav__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.#{$doc-prefix}mob-nav__menuitem {
    padding: 0;
    margin: 0;
}

.#{$doc-prefix}mob-nav__menu--l1 {
    color: #ffffff;
    background: #00483a;
}

.#{$doc-prefix}mob-nav__menu--l2 {
    color: #ffffff;
    background: #525252;
}

.#{$doc-prefix}mob-nav__menu--l3 {
    color: #ffffff;
    background: #656d80;
}

.#{$doc-prefix}mob-nav__menuitem-title,
.#{$doc-prefix}mob-nav__menuitem-lnk {
    color: #ffffff;
    width: 100%;
    padding: rem(16px);
    border-top: 1px solid #ffffff;
    display: inline-block;
}

.#{$doc-prefix}mob-nav__menuitem-lnk {
    @include transition(all .2s ease-in-out);
}

.#{$doc-prefix}mob-nav__menuitem-lnk.is-current {
    font-weight: 600;
    color: #edc856;
}


.#{$doc-prefix}mob-nav__menuitem-title {
    font-size: rem(20px);
}