.doc-navigation {
    background-color: var(--doc-occlss-brand-color-woodsmoke);
}

.doc-navigation:after {
    content: "";
    display: block;
    clear: both;
}

.doc-navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media(min-width: 62rem) {
        position: relative;
        left: -0.9375rem;
    }
}

.doc-navigation__list-item {
    position: relative;
    margin-bottom: 0;

    @media(min-width: 62rem) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        line-height: 3.125;
        box-sizing: border-box;
        padding: 0 0.9375rem;
        float: left;
    }

    @media(min-width: 62rem) {
        font-size: 1.1875rem;
        line-height: 2.6315789474;
    }

}



@media(min-width: 62rem) {
    .doc-navigation__list-item--current {
        border-bottom: 0.25rem solid var(--doc-occlss-brand-color-ronchi);
    }

    .doc-navigation__list-item--current .doc-link,
    .doc-navigation__list-item--current .doc-link--no-visited-state:visited {
        color: var(--doc-occlss-brand-color-ronchi);
    }
}

.doc-navigation__link {
    color: #ffffff;
}

.doc-navigation__link,
.doc-navigation__button {
    margin: 0.9375rem 0;
    padding: 0;
    font-weight: 700;
    font-size: 1.1875rem;
}

.doc-navigation__link:after,
.doc-navigation__button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.doc-navigation__link:not([hidden]) {
    display: inline-block;
}

@media(min-width: 62rem) {
    .doc-navigation__link:not([hidden]) {
        display: inline;
    }
}

.doc-navigation__button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    border: 0;
    color: #ffffff;
    background-color: transparent;
}

.doc-navigation__button:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
}

.doc-navigation__button:focus {
    outline: 0.1875rem solid #00000000;
    color: var(--doc-occlss-brand-color-woodsmoke);
    background-color: var(--doc-occlss-brand-color-ronchi);
    box-shadow: 0 -0.125rem var(--doc-occlss-brand-color-ronchi), 0 4px var(--doc-occlss-brand-color-woodsmoke);
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.doc-navigation__button:not(:hover):not(:active) {
    text-decoration: none;
}

.doc-navigation__subnav {
    margin: 0 -0.9375rem;
    padding: 0.625rem 0;
    background-color: #fff;
    list-style: none;
}

.js-enabled .doc-navigation__subnav--active {
    display: block;
}

@media(min-width: 62rem) {

    .doc-navigation__subnav,
    .js-enabled .doc-navigation__subnav--active {
        display: none;
    }
}

.doc-navigation__subnav-item {
    display: block;
    position: relative;
    padding: 0.9375rem;
    margin-bottom: 0;
}

.doc-navigation__subnav-item--current {
    padding-left: 1rem;
    border-left: 0.25rem solid var(--doc-occlss-brand-color-boston-blue);
}

.doc-navigation__theme {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;
    padding: 1.25rem 0.9375rem 0.3125rem;
    color: var(--doc-occlss-brand-color-emperor);
    font-size: 1.1875rem;
    font-weight: normal;
}

.doc-navigation__menu-button {
    top: auto;
    right: 0.3125rem;
    bottom: 1.5625rem;
}