.#{$doc-prefix}back-to-top {
  margin-top: rem(20px);
  margin-bottom: rem(30px);
  position: relative;
  @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'sm'))) {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: rem(50px);
  }
}

.#{$doc-prefix}back-to-top__icon {
  display: inline-block;
  width: rem(26px);
  height: rem(30px);
  margin-top: rem(-14px);
  margin-right: rem(10px);
  vertical-align: middle;
}



  .js-enabled .#{$doc-prefix}back-to-top--fixed {
    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
      position: fixed;
      top: calc(100% - 50px);
      bottom: auto;
      left: auto;
    }
  }

  .js-enabled .#{$doc-prefix}back-to-top--hidden .#{$doc-prefix}back-to-top__link {
    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      margin: 0 !important;
      overflow: hidden !important;
      clip: rect(0 0 0 0) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      white-space: nowrap !important;
    }
}





.js-enabled .#{$doc-prefix}back-to-top--hidden .#{$doc-prefix}back-to-top__link:active,
.js-enabled .#{$doc-prefix}back-to-top--hidden .#{$doc-prefix}back-to-top__link:focus {
    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
      position: static !important;
      width: auto !important;
      height: auto !important;
      margin: inherit !important;
      overflow: visible !important;
      clip: auto !important;
      -webkit-clip-path: none !important;
      clip-path: none !important;
      white-space: inherit !important;
  }
}