---
title: Social media link - Find us on Twitter
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "social-media-link/macro.njk" import occlssSocialMediaLink %}

{{ occlssSocialMediaLink({
 title: "Find us on Twitter",
 iconName: "twitter",
 url: "http://www.twitter.com/oxfordshirecc"
}) }}



