---
title: Test
layout: layout-example.njk
---

{% from "category-navbar/macro.njk" import occlssCategoryNavbar %}
{% from "hero-pane/macro.njk" import occlssHeroPane %}
{% from "popular-content-pane/macro.njk" import occlssPopularContentPane %}
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}
{% from "cards/macro.njk" import occlssCard %}
{% from "page-footer/macro.njk" import occlssPageFooter %}
{% from "page-head/macro.njk" import occlssPageHead %}
{% from "breadcrumb/macro.njk" import occlssBreadcrumb %}
{% from "summary-pane/macro.njk" import occlssSummaryPane %}


{{ occlssPageHead({
  type: "default",
  section: "business"
}) }}


<main id="occlss-main-content">

<div class="occlss-section">

	<div class="occlss-wrapper">
		{{ occlssBreadcrumb({
			spaceAfter: false,
			items: [
				{
					itemName: "Home",
					url: "javascript:void(0);"
				},{
					itemName: "Business"
				}
			]
		}) }}
	</div>


	<div class="occlss-wrapper">
		<div class="occlss-layout">
				<div class="occlss-layout__col occlss-layout__col--bleed">
					{{ occlssHeroPane({
							category: "other",
							heroClasses: "occlss-hero-pane--news",
							heading: "News",
							headingModeClass: "occlss-hero-pane__heading--news",
							imageURL: "https://dummyimage.com/1200x415x400/525252/ffffff.png",
							panels: [{
                                size: 4,
								html: "<h2>Help us create a cycling network Oxfordshire can be proud of</h2><p>Residents are encoraged to take part in exiting new plans to redically improve the county's cycling network... <a href='#'>Read this story</a>."
							}]
						})
					}}
				</div>
			</div>
	</div>
</div>

<div id="main">
  <div class="occlss-wrapper">
    <!--START wrapper block-->
    <div class="occlss-layout">
      <!--START layout block-->
		<div class="occlss-layout__col occlss-layout__col--sm-9">
         <div class="occlss-layout">
			
			<div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
    		<div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
			<div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-6">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>


		  </div>
		</div>
		<div class="occlss-layout__col occlss-layout__col--sm-3">



            {{ occlssSummaryPane({
                panels: [
                    {
                        title: "News by topic",
                        listitems: [
                            {
                                title: "View all our news items",
                                url: "#"
                            },
                            {
                                title: "Roads &amp; Transport",
                                url: "#"
                            },
                            {
                                title: "Children & Families",
                                url: "#"
                            },
                            {
                                title: "Countryside",
                                url: "#"
                            },
                            {
                                title: "Community",
                                url: "#"
                            },
                            {
                                title: "Fire & Rescue",
                                url: "#"
                            },
                            {
                                title: "All topics",
                                url: "#"
                            }
                        ]
                    },{
                        title: "News from youtr area",
                        listitems: [
                            {
                                title: "Abingdon north",
                                url: "#"
                            },
                            {
                                title: "Abingdon central",
                                url: "#"
                            },
                            {
                                title: "Abingdon south",
                                url: "#"
                            },
                            {
                                title: "Bambury",
                                url: "#"
                            },
                            {
                                title: "Bicester",
                                url: "#"
                            },
                            {
                                title: "All areas",
                                url: "#"
                            }
                        ]
                    }
                ]
            }) }}

			<div class="js-occ-twitter-pane">
				<a class="twitter-timeline"
				href="https://twitter.com/OxMusicService"
				data-height="400"
				data-chrome="nofooter"
				tweet-limit="4"
				data-dnt="true"
				data-aria-polite="assertive"
				data-link-color="#0a549d">
				Tweets
				</a>
				<script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>



		</div>
    </div>
    <!--End layout elemnt -->
  </div>
</div>

</main>

{{ occlssPageFooter({
  type: "short",
  fRowHeading: "Oxfordshire County Council",
  fRowHTML: "<p>County Hall, New Road, Oxford, OX1 1ND</p>\n"
}) }}