---
title: Promoted content panel Line font size - header-large
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "aqua-deep",
  textRows: [
        {
          text: "Line font size - header-large",
          textSize: "header-large"
        }
  ]
}) }}