---
title: input text disabled
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "input-text",
  labelText: "Text input label disabled",
  fldName: "Text input label disabled",
  status: "disabled"
}) }}
