<div class="occlss-top-tasks-pane occlss-top-tasks-pane--{{ params.category | lower | safe }}">
	<div class="occlss-top-tasks-pane__wrapper">
		
		<div class="occlss-layout occlss-top-tasks-pane__layout">

			{% for pane in params.panels %}
				{% if pane.size %}
				<div class="occlss-layout__col occlss-layout__col--{{ pane.size }} occlss-top-tasks-pane__col">
				{% else %}
				<div class="occlss-layout__col occlss-layout__col--md-4 occlss-top-tasks-pane__col">
				{% endif %}

					<div class="occlss-top-tasks-pane__content">
						{% if pane.html %}
							{{ pane.html | safe }}
						{% else %}
							{% if pane.title %}<h2 class="occlss-top-tasks-pane__heading">{{ pane.title }}</h2>{% endif %}

							<ul class="occlss-summary-list occlss-summary-list--tasks-pane">
								{% for item in  pane.items %}
								<li class="occlss-summary-list__item">
									{% if item.url %}
									<a href="{{ item.url }}" class="occlss-summary-list__link ">{{ item.title }}</a>
									{% else %}
										{{ item.title }}
									{% endif %}
								</li>
								{% endfor %}
							</ul>

						{% endif %}
					</div>

				</div>
			{% endfor %}

		</div>

	</div>
</div>