---
title: Alerts
description: [Descriptions]
section: Components
layout: layout-pane.njk
theme: Alerts
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Error

This is a system component that is used to tell the user about something that has gone wrong. It should refer to a specific error made by the user or the system and should include instructions for recovery, if appropriate.

{{ example({group: "components", item: "alerts", example: "error", html: true }) }}

## Info

The info alert component is used to give the user some neutral information about the website. For example, our cookie policy. 

{{ example({group: "components", item: "alerts", example: "info", html: true }) }}

## Success


The success alert component is used to tell the user that something positive has happened. For example, a payment has been made by the user.

{{ example({group: "components", item: "alerts", example: "success", html: true }) }}

## Warning

The warning alert component is user to tell the user that there might be something happening currently or in the future, but a specific error has not been found. For example, to tell users that there could be problems with the website.

{{ example({group: "components", item: "alerts", example: "warning", html: true }) }}

## Changelog

### 2.2.0

- Heading changed from h3 to h2

### 1.0.0

- Component added