---
title: Alerts
description: [Descriptions]
section: Components
layout: layout-pane.njk
theme: Alerts
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Error

{{ example({group: "components", item: "Alerts", example: "error", html: true }) }}

[Text]

### When to use this component 

[Text]



## Info

{{ example({group: "components", item: "Alerts", example: "info", html: true }) }}

[Text]

### When to use this component 

[Text]


## Success

{{ example({group: "components", item: "Alerts", example: "success", html: true }) }}

[Text]

### When to use this component 

[Text]



## Warning

{{ example({group: "components", item: "Alerts", example: "warning", html: true }) }}

[Text]

### When to use this component 

[Text]

{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}