---
title: Skip to content
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Skip to content nav

{{ example({group: "components", item: "skip-to-content", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added