---
title: Promoted content panel
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "pale-sky",
  panelURL: "https://www.oxfordshire.gov.uk/residents/roads-and-transport/fixing-your-streets",
  imageURL: "https://www.oxfordshire.gov.uk/sites/default/files/2018-09/road_worker_1.jpg",
  imageAlt: "Man using concrete cutter",
  imagePosition: "left",
  textRows: [
        {
          text: "Fixing your streets",
          textSize: "text-medium"
        },
        {
          text: "Find out where and when we are fixing your streets this",
          textSize: "text-small",
          showArrow: "true"
        }
  ]
}) }}