<div style="background: #ffffff">
    <div class="occlss-layout occlss-layout--gutter-s">
        <div class="occlss-layout__col occlss-layout__col--12">
            <main id="occlss-main-content">

                    <div class="stlgd-section-heading js-stlgd-page-section" id="externalprojects">
                        <h1 class="stlgd-section-heading__cont" title="Getting started">External projects example</h1>
                    </div>
                    <div class="stlgd-section-content">
                        <div class="stlgd-section-content__content stlgd-section-content__content--med">
                            <p class="stlgd-section-content__intro-text">
                                Time after time we will share examples of the projects here that are outside Oxfordshire County Council that implements our style system.
                            </p>

                            <h2 class="stlgd-section-content__heading stlgd-section-content__heading--large">Zipp.to</h2>
                            <p>
                                <a href="{{ link.external-zippto }}">Here</a> is the example how the Zipp.to should look like if they will implement our <a href="{{ link.organisms-page-head-with-login-nav }}">header</a> and <a href="{{ link.organisms-page-footer-no-links }}">footer</a></p>
                        </div>
                    </div>


            </main>
        </div>
    </div>
</div>

 {{> styleguide-footer }}