---
title: Alert Box
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

This is a warning message that allows us to draw the user’s attention to something of high importance or as a warning.

{{ example({group: "components", item: "alert-box", example: "default", html: true }) }}


## When to use this component 

It should only be used where failure to comply with the warning could lead to a fine, danger to the user, or where something is temporarily closed. For example, where the customer might get a parking ticket or a library is closed due to a burst pipe. 

The content is in a regular weight but **bold** text can be used if kept to a minimum.

## When not to use this component

There should only be one alert box on a page.

## Changelog

### 1.0.0

- Component Added