---
title: Alert Box
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Alert Box

This is a callout that allows us to draw the user’s attention to something of high importance. It should only be used where failure to comply with the warning could lead to a fine or danger to the user. For example, where they might get a parking ticket. It won’t be used often.

{{ example({group: "components", item: "alert-box", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added