---
title: Page Guide
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Page guide

{{ example({group: "components", item: "page-guide", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added