---
title: Version bar
description: [Description]
section: Components
layout: layout-pane.njk
theme: Alerts
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Version bar

This element represents that the project is in a development stage, also show the stage of the development

{{ example({group: "components", item: "version-bar", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]