---
title: Splitter
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

The splitter is used in page layouts to visually separate content.

## Splitter residents area

{{ example({group: "components", item: "splitter", example: "residents", html: true }) }}

## Splitter council area

{{ example({group: "components", item: "splitter", example: "council", html: true }) }}

## Splitter business area

{{ example({group: "components", item: "splitter", example: "business", html: true }) }}

## Changelog

### 1.0.0

- Component added