{% if params.name == "angle-arrow-down" %}
<span class="occlss-icon occlss-icon--angle-arrow-down --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#angle-arrow-down" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "angle-arrow-left" %}
<span class="occlss-icon occlss-icon--angle-arrow-left --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#angle-arrow-left" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "angle-arrow-right" %}
<span class="occlss-icon occlss-icon--angle-arrow-right --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#angle-arrow-right" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "angle-arrow-up" %}
<span class="occlss-icon occlss-icon--angle-arrow-up --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#angle-arrow-up" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-both" %}
<span class="occlss-icon occlss-icon--arrow-both --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-both" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-down-bold" %}
<span class="occlss-icon occlss-icon--arrow-down-bold --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-down-bold" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-down-long" %}
<span class="occlss-icon occlss-icon--arrow-right-down-long --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-down-long" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-left-long" %}
<span class="occlss-icon occlss-icon--arrow-right-left-long --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-left-long" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-long-down-secondary" %}
<span class="occlss-icon occlss-icon--arrow-right-long-down-secondary --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-down-secondary" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-long-left-secondary" %}
<span class="occlss-icon occlss-icon--arrow-right-long-left-secondary --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-left-secondary" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-long-right-secondary" %}
<span class="occlss-icon occlss-icon--arrow-right-long-right-secondary --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-long-up-secondary" %}
<span class="occlss-icon occlss-icon--arrow-right-long-up-secondary --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-up-secondary" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-right-long" %}
<span class="occlss-icon occlss-icon--arrow-right-right-long --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-right-long" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "arrow-right-up-long" %}
<span class="occlss-icon occlss-icon--arrow-right-up-long --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-up-long" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "check" %}
<span class="occlss-icon occlss-icon--check --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#check" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "circle" %}
<span class="occlss-icon occlss-icon--circle --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#circle" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "ex" %}
<span class="occlss-icon occlss-icon--ex --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#ex" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "exclamation-mark" %}
<span class="occlss-icon occlss-icon--exclamation-mark --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#exclamation-mark" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "facebook" %}
<span class="occlss-icon occlss-icon--facebook --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#facebook" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "file" %}
<span class="occlss-icon occlss-icon--file --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#file" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "info" %}
<span class="occlss-icon occlss-icon--info --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#info" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "instagram" %}
<span class="occlss-icon occlss-icon--instagram --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#instagram" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "invisible" %}
<span class="occlss-icon occlss-icon--invisible --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#invisible" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "linkedin" %}
<span class="occlss-icon occlss-icon--linkedin --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#linkedin" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "newsletter" %}
<span class="occlss-icon occlss-icon--newsletter --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#newsletter" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "pin" %}
<span class="occlss-icon occlss-icon--pin --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#pin" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "rss" %}
<span class="occlss-icon occlss-icon--rss --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#rss" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "search" %}
<span class="occlss-icon occlss-icon--search --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#search" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "twitter" %}
<span class="occlss-icon occlss-icon--twitter --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#twitter" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "visible" %}
<span class="occlss-icon occlss-icon--visible --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#visible" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "warning-badge" %}
<span class="occlss-icon occlss-icon--warning-badge --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#warning-badge" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "warning-sign" %}
<span class="occlss-icon occlss-icon--warning-sign --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#warning-sign" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
{% if params.name == "youtube" %}
<span class="occlss-icon occlss-icon--youtube --icon-class--" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container --icon-container-class-- ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#youtube" class="icon__source icon__source--svg --icon-source-class--"></use>
	</svg>
</span>
{% endif %}
