---
title: Cards
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Cards row

The cards row is three news stories in a row. It is used on the homepage of the website only.

{{ example({group: "patterns", item: "cards", example: "cards", html: true }) }}

## Changelog

#### 1.0.0

- Component Added