---
title: Cards
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Cards row

{{ example({group: "patterns", item: "cards", example: "cards", html: true }) }}

[Text]

## Changelog

#### 1.0.0

- Component Added