---
title: Page guide
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "page-guide/macro.njk" import occlssPageGuide %}

{{ occlssPageGuide({
  items: [
    {
      title: "Overview"
    },{
      title: "Before you appeal",
      url: "javascript:void(0);"
    },{
      title: "Appeal to the tribunal",
      url: "javascript:void(0);"
    },{
      title: "What happens at the hearing",
      url: "javascript:void(0);"
    },{
      title: "The tribunal's decision",
      url: "javascript:void(0);"
    },{
      title: "Legislation",
      url: "javascript:void(0);"
    },{
      title: "Legislation",
      url: "javascript:void(0);"
    },{
      title: "Legislation",
      url: "javascript:void(0);"
    }
  ]
}) }}



