---
title: Card teaser
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "cards/macro.njk" import occlssCard %}

{{ occlssCard({
  cardRows: [
      {
          cardType: "teaser",
          cardClicable: false,
          cardDate: "18 July 2019",
          cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
          cardURL: "javascript:void(0);",
          cardURLTitle: "Read this story",
          cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
          cardParagraph: [
              {
              text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
              }
          ]
      }
  ]
}) }}