{%- set summaryListAttributes %} class="occlss-summary-list{% if params.classes %} {{ params.classes }}{% endif %}"{% endset %}

{% if params.items %}
	<ul {{ summaryListAttributes | safe }}>
		{% for item in params.items %}
			<li class="occlss-summary-list__item{% if item.classes %} {{ item.classes }}{% endif %}">
			{% if item.url %}
			<a href="{{ item.url }}" class="occlss-summary-list__link">{{ item.title }}</a>
			{% else %}
			{{ item.title | safe }}
			{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}