---
title: Button negative
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Negative",
  classes: "occlss-button--negative"
}) }}