---
title: Buttons
description: Use the button component to help users carry out an action on a OCC page
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Primary button

Primary buttons are used for the most common terminal action on a form/page.

{{ example({group: "components", item: "buttons", example: "primary", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Disabled 

{{ example({group: "components", item: "buttons", example: "primary-disabled", html: true }) }}

[Text]



## Secondary button

Secondary buttons are used for the next more common terminal action(s) Changes or adds information on a form/page.

{{ example({group: "components", item: "buttons", example: "secondary", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Disabled 

{{ example({group: "components", item: "buttons", example: "secondary-disabled", html: true }) }}

[Text]



## Negative button

The negative button is used for the denying action Deletes, resets or blocks information on a form.

{{ example({group: "components", item: "buttons", example: "negative", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Disabled 

{{ example({group: "components", item: "buttons", example: "negative-disabled", html: true }) }}

[Text]



## Neutral button

Neutral button – Makes no change or takes users back a screen (e.g. Cancel)

{{ example({group: "components", item: "buttons", example: "neutral", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Disabled 

{{ example({group: "components", item: "buttons", example: "neutral-disabled", html: true }) }}

[Text]



## Neutral button

Search button – used in head search form

{{ example({group: "components", item: "buttons", example: "search", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Disabled 

{{ example({group: "components", item: "buttons", example: "search-disabled", html: true }) }}

[Text]


{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}