---
title: Buttons
description: Use the button component to help users carry out an action on a OCC page
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Primary button

A primary button is used for the main call to action on a page.

{{ example({group: "components", item: "buttons", example: "primary", html: true }) }}

### When to use this component 

Use the button component to help users carry out an action on an Oxfordshire County Council page like starting an application or moving to the next question in a form.

Write button text in sentence case, describing the action it performs. For example:

- 'Start now' at the start of smart answers 
- 'Log in' to and account the user has already created
- 'Send your application' to submit the user's application form
- 'Pay' to make a payment
- 'Log out' when a user is logged into an account

### When not to use this component

The button must never be used to draw attention to any other type of link, for example, a document link. They are only to be used for call to action.

### Primary disabled 

{{ example({group: "components", item: "buttons", example: "primary-disabled", html: true }) }}

## Neutral button

The neutral button acts as a secondary call to action on a page. 

{{ example({group: "components", item: "buttons", example: "neutral", html: true }) }}

### When to use this component

The neutral button can be used in combination with a primary button. For example, as a 'back' button.

### When not to use this component

Avoid using multiple buttons on a single page. Having more than one main call to action reduces their impact, and makes it harder for users to know what to do next.

### Neutral disabled 

{{ example({group: "components", item: "buttons", example: "neutral-disabled", html: true }) }}

## Negative button

The negative button is a warning button that makes the user think carefully before using them. Negative buttons are only effective if used sparingly.

{{ example({group: "components", item: "buttons", example: "negative", html: true }) }}

### When to use this component

Only use the negative button for actions with serious destructive consequences that cannot be easily undone by the user. For example, cancelling a payment.

### Negative disabled 

{{ example({group: "components", item: "buttons", example: "negative-disabled", html: true }) }}


## Search button

This is a special button style used exclusively for the main website search in the heading panel and where the search pattern is used within a content page. For example, on the search results page.

{{ example({group: "components", item: "buttons", example: "search", html: true }) }}

### Disabled 

{{ example({group: "components", item: "buttons", example: "search-disabled", html: true }) }}

## Changelog

#### 1.0.0

- Component Added