---
title: Icon text
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "icon-text/macro.njk" import occlssIconText %}

{{ occlssIconText({
  content: "Where a new school is built, this can affect a child’s eligibility for school transport."
}) }}