---
title: Icon text
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "icon-text/macro.njk" import occlssIconText %}

{{ occlssIconText({
  content: [
    {
      title: "Scheme 1",
      imageURL: "https://dummyimage.com/48x48/525252/ffffff.png",
      imsgeALT: "Img 01",
      text: "Further sections of A40 westbound bus lane to provide quicker return journeys to Eynsham park and ride and destinations served by the local bus network."
    },
    {
      title: "Scheme 2",
      imageURL: "https://dummyimage.com/48x48/525252/ffffff.png",
      imsgeALT: "Img 02",
      text: "Further sections of A40 westbound bus lane to provide quicker return journeys to Eynsham park and ride and destinations served by the local bus network."
    }
  ]
}) }}