---
title: Digital service standard
description: [Description]
section: how-to-styleup
layout: layout-pane.njk
order: 0
show_page_nav: true
---

We know that our digital services is one of our communication ways with a public and its important to communicate with them in the most comfortable and efficient way. 

We investing a big amount of time to investigate and learn our users and there needs to improve our digital platforms user experience across all the digital platforms. 

Based on research we build Oxfordshire County Council web design patterns to help us and 3rd party platform to follow a common design patterns 


## Test for compatibility 

Technology is always changing, so user’s experience of your service will vary according to the technical capabilities of their browsers and devices. 

Not all browsers will render web pages in the same way. There are often visible differences in the ways that different browsers handle technologies like CSS, HTML and JavaScript. 

Services don’t have to look perfect in every browser but users must be able to access and use all the information and features they need, regardless of which browser they use. 

