---
title: Digital service standard
description: [Description]
section: how-to-styleup
layout: layout-pane.njk
order: 0
show_page_nav: true
---

{% from "table/macro.njk" import occlssTable %}

## Why we have a digital service standard

Our digital service is one of the main ways in which we communicate with Oxfordshire citizens. It’s important our communications are clear, approachable and above all, consistent.

We made a huge investment in user research to discover what our users’ need. 

Based on this research we have built the Oxfordshire County Council web design patterns that will improve the user experience across all of our digital platforms.

With consistency being key to our message, we require third-party platforms to use the same common design patterns.

The majority of people using the Oxfordshire County Council website are doing so on a smartphone or tablet so it’s very important that the experience on these devices is as good as it would be on a desktop or laptop computer.

## Responsive design

The goal of responsive design is to build web pages that adapt to the user's device and how they are using it rather than expecting the user to adapt to the website.

This means that the web page should detect the user’s screen size and orientation and change the layout accordingly. Everything should fit the screen without left or right scrolling, all necessary user interface elements should display and function correctly.

## Supporting technology

Web technology is constantly changing, so a user’s experience of your service will vary according to the technical capabilities of the browser and device they are using.

Services don’t have to look perfect in every browser but users must be able to access and use all the information and features they need, regardless of the browser they use. 

### Browsers

The UI should fully functional in the folowing browsers:

{{ occlssTable({
  'responsive': true,
  'head' : [
    {
      text: 'Operating system'
    },
    {
      text: 'Browser'
    },
    {
      text: 'Support'
    }
  ],
  'rows' : [
    [
      {
        text: 'Windows'
      },
      {
        text: 'Internet Explorer 11 and later'
      },
      {
        text: 'compliant '
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Edge (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Google Chrome (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Mozilla Firefox (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: 'macOS'
      },
      {
        text: 'Safari 9 and later'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Google Chrome (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Mozilla Firefox (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: 'iOS'
      },
      {
        text: 'Safari for iOS 9.3 and later'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Google Chrome (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: 'Android'
      },
      {
        text: 'Google Chrome (latest versions)'
      },
      {
        text: 'compliant'
      }
    ],[
      {
        text: ''
      },
      {
        text: 'Samsung Internet (latest versions)'
      },
      {
        text: 'compliant'
      }
    ]

  ]
}) }}


### The project should meet accesability standarts

The UI should meet WCAG 2 level AA standards, and it shoul work on the folowing devices and tecchology:

{{ occlssTable({
  'responsive': true,
  'head' : [
    {
      text: 'Software '
    },
    {
      text: 'Version'
    },
    {
      text: 'Type'
    },
    {
      text: 'Browser'
    }
  ],
  'rows' : [
    [
      {
        text: 'JAWS'
      },
      {
        text: '15 or later'
      },
      {
        text: 'screen reader'
      },
      {
        text: 'Internet Explorer 11'
      }
    ],[
      {
        text: 'ZoomText'
      },
      {
        text: '10.11 or later'
      },
      {
        text: 'screen magnifier'
      },
      {
        text: 'Internet Explorer 11'
      }
    ],[
      {
        text: 'Dragon NaturallySpeaking'
      },
      {
        text: '11 or later'
      },
      {
        text: 'speech recognition'
      },
      {
        text: 'Internet Explorer 11'
      }
    ],[
      {
        text: 'NVDA'
      },
      {
        text: '2016 or later'
      },
      {
        text: 'screen reader'
      },
      {
        text: 'Mozilla Firefox (latest versions)'
      }
    ],[
      {
        text: 'VoiceOver'
      },
      {
        text: '7.0 or later'
      },
      {
        text: 'screen reader'
      },
      {
        text: 'Safari on iOS 10 and OS X'
      }
    ]

  ]
}) }}

## Cookie GDRP standarts

You must tell people if you set cookies, and clearly explain what the cookies do and why. You must also get the user’s consent. Consent must be actively and clearly given.

There is an exception for cookies that are essential to provide an online service at someone’s request (eg to remember what’s in their online basket, or to ensure security in online banking).

The same rules also apply if you use any other type of technology to store or gain access to information on someone’s device.

Cookies that collecting sensitive data or responsible for collecting sensitive data by default must be disabled until a user clicks the Accept button. And this is related to first party and thirdparty cookies on the project.