{{#summaryList}}
  <ul class="occlss-summary-list {{ list-mod-class }}">
    {{#listItem}}
      <li class="occlss-summary-list__item {{ listItem-mod-class }}"><a href="{{ listItem-link-url }}" class="occlss-summary-list__link {{ listItem-link-mod-class }}">{{ listItem-link-name }}</a></li>
    {{/listItem}}
</ul>
{{/summaryList}}
