{{#summaryList}}
  <ul class="occlss-summary-list {{ list-mod-class }}">
    {{#listItem}}
      {{#listItem-link-name-title}}
      <li class="occlss-summary-list__item {{ listItem-mod-class }}">
        <div class="occlss-splitter occlss-u-tspace-xs occlss-u-bspace-sm"></div>
        <h4 class="occlss-u-bspace-xs">{{ listItem-link-name-title }}</h4>
      </li>
      {{/listItem-link-name-title}}
      {{^listItem-link-name-title}}
      <li class="occlss-summary-list__item {{ listItem-mod-class }}">

      {{#listItem-link-url}}
        <a href="{{ listItem-link-url }}" class="occlss-summary-list__link {{ listItem-link-mod-class }}">
      {{/listItem-link-url}}

          {{ listItem-link-name }}

      {{#listItem-link-url}}
        </a>
      {{/listItem-link-url}}

      </li>
      {{/listItem-link-name-title}}
    {{/listItem}}
</ul>
{{/summaryList}}
