{{#pageGuide}}
<aside class="occlss-page-guide" role="complementary">
  
  <nav role="navigation" class="occlss-layout" aria-label="Pages in this guide">
    {{#column}}
      <ol class="occlss-layout__col occlss-layout__col--sm-6 occlss-page-guide__column">
        {{#listItems}}
          {{#listItem-link-url}}
              <li class="occlss-page-guide__item"><a href="{{listItem-link-url}}">{{listItem-link-name}}</a></li>
          {{/listItem-link-url}}
          {{^listItem-link-url}}
              <li class="occlss-page-guide__item">{{listItem-link-name}}</li>
          {{/listItem-link-url}}
        {{/listItems}}
      </ol>
    {{/column}}
  </nav>
</aside>
{{/pageGuide}}