---
title: Top tasks pane
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "top-tasks-pane/macro.njk" import occlssTopTasksPane %}

{{ occlssTopTasksPane({
  category: "residents",
  panels: [
    {
      title: "Apply",
      items: [
        {
          title: "Jobs",
          url: "javascript:void(0);"
        },{
          title: "Blue Badge",
          url: "javascript:void(0);"
        },{
          title: "Bus pass",
          url: "javascript:void(0);"
        },{
          title: "Resident parking permit",
          url: "javascript:void(0);"
        }
      ]
    },{
      title: "Pay",
      items: [
        {
          title: "Parking tickets",
          url: "javascript:void(0);"
        },{
          title: "Certificates",
          url: "javascript:void(0);"
        },{
          title: "Ceremonies",
          url: "javascript:void(0);"
        },{
          title: "Council Tax",
          url: "javascript:void(0);"
        }
      ]
    },{
      title: "Report",
      items: [
        {
          title: "Pothole",
          url: "javascript:void(0);"
        },{
          title: "Faulty street light",
          url: "javascript:void(0);"
        },{
          title: "Safeguarding concern",
          url: "javascript:void(0);"
        },{
          title: "Street problem",
          url: "javascript:void(0);"
        }
      ]
    }
  ]
}) }}



