---
title: Social media link
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "social-media-link/macro.njk" import occlssSocialMediaLink %}

{{ occlssSocialMediaLink({
 title: "Find us on Facebook",
 iconName: "facebook",
 url: "http://www.facebook.com/OxfordshireCountyCouncil"
}) }}



