.occlss-facets__item input:focus,
.occlss-facets__item label:focus {
    outline: 3px solid #edc856
}


.occlss-facets {
    margin-bottom: 1.5625rem
}

.occlss-facets__item {
    margin-bottom: .25rem;
    display: block
}

.occlss-facets__item label {
    margin-left: .375rem
}

.occlss-facets__item-link {
    text-decoration: none;
    color: #000
}

.occlss-facets__cbx,
.occlss-facets__item-value,
.occlss-facets__item-count {
    vertical-align: middle
}

.occlss-facets__cbx {
    height: 1rem;
    width: 1rem
}