{{#sidebarItemSection}}
<aside class="occlss-sidebar-item-section {{section-modclass}}" role="complementary">
    <h2 class="occlss-sidebar-item-section__title">
        {{section-title}}
    </h2>
    <nav class="occlss-sidebar-item-section__navbar" role="navigation">
        <ul class="occlss-u-unstyled-list">
            {{#listItem}}
                <li><a href="{{listItem-link-url}}">{{listItem-link-name}}</a></li>
            {{/listItem}}
        </ul>
    </nav>
</aside>
{{/sidebarItemSection}}