{{#sidebarItemSection}}
<aside class="occlss-sidebar-item-section {{section-modclass}}" role="complementary">
    <h2 class="occlss-sidebar-item-section__title">
        {{section-title}}
    </h2>
    <nav class="occlss-sidebar-item-section__navbar" role="navigation">
        {{> molecules-summary-list }}
    </nav>
</aside>
{{/sidebarItemSection}}

