/* OCCLSS Hero pane
* @version 1.0.0
*/

.occlss-hero-pane {
    background-repeat: no-repeat;
    min-height: 25rem
}

@media(max-width: 768px) {
    .occlss-hero-pane {
        background: none !important
    }
}

@media(max-width: 768px) {
    .occlss-hero-pane {
        min-height: 100%
    }
}

.occlss-hero-pane__heading {
    display: inline-block;
    font-weight: 900;
    color: #0b0c0c;
    padding: .625rem 3.125rem .625rem 1.875rem;
    font-size: 2.875rem;
    margin-top: 3.375rem;
    margin-bottom: 0;
    background-color: #fff;
    font-family: "Fira Sans", sans-serif
}

@media(max-width: 992px) {
    .occlss-hero-pane__heading {
        line-height: 1
    }
}

@media(max-width: 768px) {
    .occlss-hero-pane__heading {
        width: 100%;
        margin-top: 0;
        padding: 1.0625rem
    }
}

.occlss-hero-pane__summarytext-cont {
    font-size: 1.25rem;
    margin: 0;
    max-width: 70%;
    display: block;
    color: #0b0c0c;
    padding: 1.25rem 3.125rem 1.25rem 1.875rem;
    background-color: #fff
}

@media(max-width: 992px) {
    .occlss-hero-pane__summarytext-cont {
        max-width: 100%;
        padding: 1.25rem
    }
}

.occlss-hero-pane__summarytext-cont--residents,
.occlss-hero-pane__heading--residents {
    background-color: #feead2
}

@media(max-width: 768px) {

    .occlss-hero-pane__summarytext-cont--residents,
    .occlss-hero-pane__heading--residents {
        padding: 2.375rem 1.0625rem 1.0625rem 1.0625rem
    }
}

.occlss-hero-pane__summarytext-cont--business,
.occlss-hero-pane__heading--business {
    background-color: #d9ecf6
}

.occlss-hero-pane__summarytext-cont--council,
.occlss-hero-pane__heading--council {
    background-color: #dad3e8
}

.occlss-hero-pane__heading--news {
    color: #fff;
    background-color: #00483a
}

.occlss-hero-pane--lgimage {
    padding-bottom: 1.25rem
}

.occlss-hero-pane--lgimage .occlss-hero-pane__heading {
    margin-top: 0
}

@media(max-width: 768px) {
    .occlss-hero-pane--lgimage {
        padding-bottom: 0
    }
}

.occlss-hero-pane--news {
    background-position: center;
    background-size: cover
}

.occlss-hero-pane--news .occlss-hero-pane__heading {
    margin-top: 2.1875rem
}

@media(max-width: 768px) {
    .occlss-hero-pane--news .occlss-hero-pane__heading {
        margin-top: 0
    }
}

@media(max-width: 768px) {
    .occlss-hero-pane--news {
        padding-bottom: 0
    }
}

.occlss-hero-pane--no-image .occlss-hero-pane__heading {
    margin-top: 0
}

.occlss-hero-pane--heding-bg-aqua-deep .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-aqua-deep .occlss-hero-pane__summarytext-cont {
    background-color: #00483a;
    color: #fff
}

.occlss-hero-pane--heding-bg-selective-yellow .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-selective-yellow .occlss-hero-pane__summarytext-cont {
    background-color: #feb603
}

.occlss-hero-pane--heding-bg-forest-green .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-forest-green .occlss-hero-pane__summarytext-cont {
    background-color: #24b137
}

.occlss-hero-pane--heding-bg-boston-blue .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-boston-blue .occlss-hero-pane__summarytext-cont {
    background-color: #3a78bb;
    color: #fff
}

.occlss-hero-pane--heding-bg-keppel .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-keppel .occlss-hero-pane__summarytext-cont {
    background-color: #38b1a0
}

.occlss-hero-pane--heding-bg-pale-sky .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-pale-sky .occlss-hero-pane__summarytext-cont {
    background-color: #656d80;
    color: #fff
}

.occlss-hero-pane--heding-bg-victoria .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-victoria .occlss-hero-pane__summarytext-cont {
    background-color: #503b76;
    color: #fff
}

.occlss-hero-pane--heding-bg-amaranth .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-amaranth .occlss-hero-pane__summarytext-cont {
    background-color: #da1c5c
}

.occlss-hero-pane--heding-bg-twilight .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-twilight .occlss-hero-pane__summarytext-cont {
    background-color: #e9d5e1
}

.occlss-hero-pane--heding-bg-swans-down .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-swans-down .occlss-hero-pane__summarytext-cont {
    background-color: #d6ebeb
}

.occlss-hero-pane--heding-bg-royal-heath .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-royal-heath .occlss-hero-pane__summarytext-cont {
    background-color: #932d67;
    color: #fff
}

.occlss-hero-pane--heding-bg-keppel-dark .occlss-hero-pane__heading,
.occlss-hero-pane--heding-bg-keppel-dark .occlss-hero-pane__summarytext-cont {
    background-color: #319d99;
    color: #fff
}