<table class="occlss-table">
  <caption class="occlss-table__caption">Table caption</caption>
  <thead class="occlss-table__head">
    <tr class="occlss-table__row">
      <th class="occlss-table__header" scope="col">Table header</th>
      <th class="occlss-table__header occlss-table__header--numeric" scope="col">Table header</th>
      <th class="occlss-table__header occlss-table__header--numeric" scope="col">Table header</th>
    </tr>
  </thead>
  <tbody class="occlss-table__body">
    <tr class="occlss-table__row">
      <th class="occlss-table__header" scope="row">Table header</th>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
    </tr>
    <tr class="occlss-table__row">
      <th class="occlss-table__header" scope="row">Table header</th>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
    </tr>
    <tr class="occlss-table__row">
      <th class="occlss-table__header" scope="row">Table header</th>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
      <td class="occlss-table__cell occlss-table__cell--numeric">Table cell</td>
    </tr>
  </tbody>
</table>