---
title: Jump-links
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

Jump-link menus allow the user to jump directly to a piece of content further down the page.

{{ example({group: "components", item: "jump-links", example: "default", html: true }) }}

## When to use this component 

Jump-link menus are only used once on a page and always at the very top.

Use this component to break up a large page of information into smaller chunks.

Jump-link pages are good for advice and general information pages where the user may be looking for something in particular and does not need to read everything on the page. With jump-links users can skip directly to the content they want.

## When not to use it

Think about whether a jump-links page is the best option. For example, would index pages be a better way to provide the instructions for an application form?

## Changelog

### 1.0.0

- Component Added