---
title: Jump Links
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Jump Links

Jump-link menus should be used only once on a page and always at the very top.

{{ example({group: "components", item: "jump-links", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]