---
title: Alert box
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "alert-box/macro.njk" import occlssAlertBox %}

{{ occlssAlertBox({
  content: "It is the responsibility of the driver to check when restrictions operate and park legally."
}) }}



