---
title: Alert box
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "alert-box/macro.njk" import occlssAlertBox %}

{{ occlssAlertBox({
  content: "It is the responsibility of the driver to check when restrictions operate and park legally."
}) }}



