---
title: Alert box
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "alert-box/macro.njk" import occlssAlertBox %}

{{ occlssAlertBox({
  content: "This is a warning message. We really want you to see this because it is telling you somthing you need to know."
}) }}



