---
title: Promoted Content Panels
description: [Description here]
section: Components
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Default

{{ example({group: "components", item: "promoted-content-panels", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--link` this mode class will add underline on hover.

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--aqua-dee` this mode class will add the panel background colour.

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-small` this mode class will change the text line font sizes.

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--alert-heading` this mode class will add green line below the text line and paddings from sides.

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--alert-text` this mode class will add paddings from sides to the text line.


## Colours

### Aqua dee colour

{{ example({group: "components", item: "promoted-content-panels", example: "aqua-dee", html: true }) }}


### Forest green colour

{{ example({group: "components", item: "promoted-content-panels", example: "forest-green", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--forest-green` this mode class will add colour to the panel.

### Keppel colour

{{ example({group: "components", item: "promoted-content-panels", example: "keppel", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--keppel` this mode class will add colour to the panel.


### Boston blue colour

{{ example({group: "components", item: "promoted-content-panels", example: "boston-blue", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--boston-blue` this mode class will add colour to the panel.

### Selective yellow colour

{{ example({group: "components", item: "promoted-content-panels", example: "selective-yellow", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--selective-yellow` this mode class will add colour to the panel.

### Pale sky colour

{{ example({group: "components", item: "promoted-content-panels", example: "pale-sky", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--pale-sky` this mode class will add colour to the panel.

### Victoria colour

{{ example({group: "components", item: "promoted-content-panels", example: "victoria", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--victoria` this mode class will add colour to the panel.

## Text line font sizes

### Header giga

{{ example({group: "components", item: "promoted-content-panels", example: "header-giga", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-giga` this mode class will change the text line font sizes.

### Header mega

{{ example({group: "components", item: "promoted-content-panels", example: "header-mega", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-mega` this mode class will change the text line font sizes.

### Header xlarge

{{ example({group: "components", item: "promoted-content-panels", example: "header-xlarge", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-xlarge` this mode class will change the text line font sizes.

### Header large

{{ example({group: "components", item: "promoted-content-panels", example: "header-large", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-large` this mode class will change the text line font sizes.

### Header small

{{ example({group: "components", item: "promoted-content-panels", example: "header-small", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--header-small` this mode class will change the text line font sizes.

### Text medium

{{ example({group: "components", item: "promoted-content-panels", example: "text-medium", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--text-medium` this mode class will change the text line font sizes.


### Text large

{{ example({group: "components", item: "promoted-content-panels", example: "text-large", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel__text-line` mod class `.occlss-promoted-content-panel__text-line--text-large` this mode class will change the text line font sizes.

## Using iages

### Image top

{{ example({group: "components", item: "promoted-content-panels", example: "image-top", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--link` this mode class will add underline on hover.

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--image-top` this mode class will keep the image container above others.

### Image left

{{ example({group: "components", item: "promoted-content-panels", example: "image-left", html: true }) }}

### Modifier classes

Container class `.occlss-promoted-content-panel` mod class `.occlss-promoted-content-panel--image-left` this mode class will keep the image container to the left.



{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}


    
        
