---
title: Promoted Content Panels
description: [Description here]
section: Components
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Default

{{ example({group: "components", item: "promoted-content-panels", example: "default", html: true }) }}

## Colours

### Aqua dee colour

{{ example({group: "components", item: "promoted-content-panels", example: "aqua-dee", html: true }) }}

### Forest green colour

{{ example({group: "components", item: "promoted-content-panels", example: "forest-green", html: true }) }}

### Keppel colour

{{ example({group: "components", item: "promoted-content-panels", example: "keppel", html: true }) }}

### Boston blue colour

{{ example({group: "components", item: "promoted-content-panels", example: "boston-blue", html: true }) }}

### Selective yellow colour

{{ example({group: "components", item: "promoted-content-panels", example: "selective-yellow", html: true }) }}

### Pale sky colour

{{ example({group: "components", item: "promoted-content-panels", example: "pale-sky", html: true }) }}

### Victoria colour

{{ example({group: "components", item: "promoted-content-panels", example: "victoria", html: true }) }}


## Text line font syzes

### Header giga

{{ example({group: "components", item: "promoted-content-panels", example: "header-giga", html: true }) }}

### Header mega

{{ example({group: "components", item: "promoted-content-panels", example: "header-mega", html: true }) }}

### Header xlarge

{{ example({group: "components", item: "promoted-content-panels", example: "header-xlarge", html: true }) }}

### Header large

{{ example({group: "components", item: "promoted-content-panels", example: "header-large", html: true }) }}


### Header small

{{ example({group: "components", item: "promoted-content-panels", example: "header-small", html: true }) }}


### Text medium

{{ example({group: "components", item: "promoted-content-panels", example: "text-medium", html: true }) }}


### Text large

{{ example({group: "components", item: "promoted-content-panels", example: "text-large", html: true }) }}


## Using iages

### Image top

{{ example({group: "components", item: "promoted-content-panels", example: "image-top", html: true }) }}

### Image left

{{ example({group: "components", item: "promoted-content-panels", example: "image-left", html: true }) }}

{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}


    
        
