---
title: Breadcrumb
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Breadcrumb

Breadcrumbs navbar display the current path to a particular page relative to the starting point. Breadcrumbs provide a means for users to understand their current context in a hierarchical structure and the ability to navigate up the structure easily.

{{ example({group: "components", item: "breadcrumb", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]