---
title: Breadcrumb
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Breadcrumb

The breadcrumbs navbar displays the path to the current page relative to the starting point.  

{{ example({group: "components", item: "breadcrumb", example: "default", html: true }) }}

### Why we use this component 

Breadcrumbs provide a way for users to see where they are in a hierarchical structure as well as navigate back the way they came.

## Changelog

#### 1.0.0

- Component Added