---
title: Utility classes
description: [Description]
section: styles
layout: layout-pane.njk
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}

Utility classes are as simple, independent, and reusable as possible; A utility class applies a single rule or a very simple,
universal pattern. Think
`.float-right`,
`.align-center`, or
`.font-small` for single rules;
`.list-unstyled`, and
`.visually-hidden` for patterns. Sometimes they’re called “helpers”. Prefix to denote utilities, overrides,
and helper classes. Classes beginning with
`.u-` should never be redefined, bound onto, or modified.

#### .occlss-u-hidden
This class will hide object from display


#### .occlss-u-more-link
This class will apply style to the links that should be with the arrow icon on the right or left

<a href="https://www.oxfordshire.gov.uk/cms/public-site/contact-oxfordshire-county-council" class="occlss-u-more-link">
    Contact us
    <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container occlss-u-more-link__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary" class="icon__source icon__source--svg"></use>
        </svg>
    </span>
</a>

```html
<a href="https://www.oxfordshire.gov.uk/cms/public-site/contact-oxfordshire-county-council" class="occlss-u-more-link">
    Contact us
    <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
        <svg aria-hidden="true" class="occlss-icon__container occlss-u-more-link__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary" class="icon__source icon__source--svg"></use>
        </svg>
    </span>
</a>
```

#### .occlss-u-unstyled-list

This class will remove default list item style

#### .occlss-u-max-width-(n)
This classes add max-width to the objects

<ul class="occlss-u-unstyled-list">
    <li><strong>.occlss-u-max-width-one-quarter</strong> - max width: 25%</li>
    <li><strong>.occlss-u-max-width-one-third</strong> - max width: 33.333%</li>
    <li><strong>.occlss-u-max-width-one-half</strong> - max width: 50%</li>
    <li><strong>.occlss-u-max-width-two-thirds</strong> - max width: 66.666%</li>
    <li><strong>.occlss-u-max-width-three-quarters</strong> - max width: 75%</li>
</ul>

#### .occlss-u-tspace-(n)
This classes will add top margin to the object

<ul class="occlss-u-unstyled-list">
    <li><strong>.occlss-u-tspace-none</strong> - top margin: 0</li>
    <li><strong>.occlss-u-tspace-xs</strong> - top margin: 6px</li>
    <li><strong>.occlss-u-tspace-sm</strong> - top margin: 12px</li>
    <li><strong>.occlss-u-tspace-md</strong> - top margin: 25px</li>
    <li><strong>.occlss-u-tspace-large</strong> - top margin: 50px</li>
</ul>

#### .occlss-u-bspace-(n)
This classes will add bottom margin to the object

<ul class="occlss-u-unstyled-list">
    <li><strong>.occlss-u-bspace-none</strong> - bottom margin: 0</li>
    <li><strong>.occlss-u-bspace-xs</strong> - bottom margin: 6px</li>
    <li><strong>.occlss-u-bspace-sm</strong> - bottom margin: 12px</li>
    <li><strong>.occlss-u-bspace-md</strong> - bottom margin: 25px</li>
    <li><strong>.occlss-u-bspace-large</strong> - bottom margin: 50px</li>
</ul>

#### .occlss-u-tpspace-(n)
This classes will add top padding to the object

<ul class="occlss-u-unstyled-list">
    <li><strong>.occlss-u-tpspace-none</strong> - top padding: 0</li>
    <li><strong>.occlss-u-tpspace-xs</strong> - top padding: 6px</li>
    <li><strong>.occlss-u-tpspace-sm</strong> - top padding: 12px</li>
    <li><strong>.occlss-u-tpspace-md</strong> - top padding: 25px</li>
    <li><strong>.occlss-u-tpspace-large</strong> - top padding: 50px</li>
</ul>

#### .occlss-u-bpspace-(n)
This classes will add bottom padding to the object

<ul class="occlss-u-unstyled-list">
    <li><strong>.occlss-u-bpspace-none</strong> - bottom padding: 0</li>
    <li><strong>.occlss-u-bpspace-xs</strong> - bottom padding: 6px</li>
    <li><strong>.occlss-u-bpspace-sm</strong> - bottom padding: 12px</li>
    <li><strong>.occlss-u-bpspace-md</strong> - bottom padding: 25px</li>
    <li><strong>.occlss-u-bpspace-large</strong> - bottom padding: 50px</li>
</ul>

## Changelog

#### 1.0.0

- Component Added