---
title: Icon instagram
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap-inverse.css
---

{% from "icon/macro.njk" import occlssIcon %}

{{ occlssIcon({
  name: "instagram"
}) }}