---
title: Cards
description: [Descriptions]
section: Components
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Card

{{ example({group: "components", item: "cards", example: "card", html: true }) }}

[Text]

## Cards row

{{ example({group: "components", item: "cards", example: "cards", html: true }) }}

[Text]


{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}