---
title: Cards
description: [Descriptions]
section: Components
layout: layout-pane.njk
theme: Cards
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Card

The card component is used for a single news item and contains an image, a title and a summary that link to the main news story which is hosted externally.

{{ example({group: "components", item: "cards", example: "card", html: true }) }}

## Changelog

### 2.2.0

- Heading level changed

### 1.0.0

- Component added