---
title: Button landing page cta
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap-dark-green.css
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Landing page cta",
  classes: "occlss-button--landing_page_cta"
}) }}