---
title: How to apply OCC style
description: [Description]
section: how-to-styleup
layout: layout-pane.njk
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Downloads

{{
    UIel ({
        item: "intro-text", 
        content: "To attached the style to yor project we provide multiple options for downloading the Oxfordshire County Council style guide that includes, Javascript, SVG icons and SASS files."
    })
}}

{{
    UIel ({
        item: "alert-box", 
        content: "Please do not attach style directly from your main website, please use resources below or build your own."
    })
}}

#### GitHub

You can download our latest live style system

<a href="https://github.com/OxfordshireCountyCouncil/occlss" target="_blank">Oxfordshire County Council live style system on GitHub</a>

#### NPM

You can download our SASS, SVG icons, Javascript as npm module and connect it to your project, that will help you keep your app with our latest style

<a href="https://www.npmjs.com/package/occlss" target="_blank">Oxfordshire County Council live style system on NPM</a>


Below you can find everthing you need to make your project looks the same as OCC required

## Typography

### Fonts

Oxfordshire County Council websites have common typographic needs: clear and consistent headings, highly legible body paragraphs, clear labels, and easy-to-use input fields. We recommend a font system that uses two open-source font families: Fira Sans and Open Sans, both of which are designed for legibility and can beautifully adapt to a variety of visual styles.

To use our font face you will need to implement the following line in the head of you project 

```html
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,900|Open+Sans:300,400,600,700" rel="stylesheet">
```

### Fira Sans

<div class="doc-occlss-Fira-Sans-light">Light - 'Fira Sans', sans-serif;, weight: 300</div>
<div class="doc-occlss-Fira-Sans-regular">Regular - 'Fira Sans', sans-serif;, weight: 400</div>
<div class="doc-occlss-Fira-Sans-medium">Medium - 'Fira Sans', sans-serif;, weight: 500</div>
<div class="doc-occlss-Fira-Sans-semi-bold">Semi bold - 'Fira Sans', sans-serif;, weight: 600</div>
<div class="doc-occlss-Fira-Sans-bold">Bold - 'Fira Sans', sans-serif;, weight: 700</div>
<div class="doc-occlss-Fira-Sans-black">black - 'Fira Sans', sans-serif;, weight: 900</div>

Font home page - <a href="https://fonts.google.com/specimen/Fira+Sans?selection.family=Fira+Sans" target="_blank">Fira Sans</a>

### Open Sans

<div class="doc-occlss-Fira-Sans-light">Light - 'Open Sans', sans-serif;, weight: 300</div>
<div class="doc-occlss-Fira-Sans-regular">Regular - 'Open Sans', sans-serif;, weight: 400</div>
<div class="doc-occlss-Fira-Sans-semi-bold">Semi bold - 'Open Sans', sans-serif;, weight: 600</div>
<div class="doc-occlss-Fira-Sans-bold">Bold - 'Open Sans', sans-serif;, weight: 700</div>

Font home page - <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open Sans</a>

### Fonts Sizes

<div class="doc-occlss-font-size-xxxxx-large">Font size xxxxx large (font-size: 42px; )</div>
<div class="doc-occlss-font-size-xxxx-large">Font size xxxx large (font-size: 36px; )</div>
<div class="doc-occlss-font-size-xxx-large">Font size xxx large (font-size: 30px; )</div>
<div class="doc-occlss-font-size-xx-large">Font size xx large (font-size: 26px; )</div>
<div class="doc-occlss-font-size-x-large">Font size x large (font-size: 24px; )</div>
<div class="doc-occlss-font-size-large">Font size large (font-size: 22px; )</div>
<div class="doc-occlss-font-size-medium">Font size medium (font-size: 20px; )</div>
<div class="doc-occlss-font-size-regular">Font size regular (font-size: 16px; )</div>
<div class="doc-occlss-font-size-small">Font size small (font-size: 14px; )</div>

### H1 - Main title

<h1>Main title <small>Secondary text</small></h1>

```html
<h1>Main title <small>Secondary text</small></h1>
```

### H2 - Main subtitle

<h2>Main subtitle <small>Secondary text</small></h2>

```html
<h2>Main subtitle <small>Secondary text</small></h2>
```

### H3 - Section title

<h3>Section title <small>Secondary text</small></h3>

```html
<h3>Section title <small>Secondary text</small></h3>
```

### H4 - Section subtitle

<h4>Section subtitle <small>Secondary text</small></h4>

```html
<h4>Section subtitle <small>Secondary text</small></h4>
```

### Summary text example

<p class="occlss-g-summary-text">A paragraph (from the Greek paragraphos, is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

```html
<p class="occlss-g-summary-text">A Summary text example.</p>
```

### Paragraph example

A paragraph (from the Greek paragraphos, is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.

```html
<p>A paragraph text example.</p>
```

## Header

Header shouldent contain any links

{{ example({group: "components", item: "page-head", example: "default", html: true }) }}

## Footer

The footer shouldn’t contain any links (the Main website has dynamic links they all might changing at some point)

{{ example({group: "components", item: "page-footer", example: "short", html: true }) }}

## Colours

All our brand colours meet AA acessability standards, you can find all colours <a href="/styles/colour/">here</a>.

## Other 

You can find other our design components <a href="/components/">here</a>.