---
title: How to apply OCC style
description: [Description]
section: how-to-styleup
layout: layout-pane.njk
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Downloads

{{
    UIel ({
        item: "intro-text", 
        content: "To attached the style to yor project we provide multiple options for downloading the Oxfordshire County Council style guide that includes, Javascript, SVG icons and SASS files."
    })
}}

{{
    UIel ({
        item: "alert-box", 
        content: "Please do not attach style directly from your main website, please use resources below or build your own."
    })
}}

#### GitHub

You can download our latest live style system

<a href="https://github.com/OxfordshireCountyCouncil/occlss" target="_blank">Oxfordshire County Council live style system on GitHub</a>

#### NPM

You can download our SASS, SVG icons, Javascript as npm module and connect it to your project, that will help you keep your app with our latest style

<a href="https://www.npmjs.com/package/occlss" target="_blank">Oxfordshire County Council live style system on NPM</a>


Below you can find everthing you need to make your project looks the same as OCC required

## Typography

You can find typography <a href="/styles/typography/">here</a>.

## Header

Header shouldent contain any links. You can find page header <a href="/components/page-head/">here</a>.

## Footer

The footer shouldn’t contain any links (the Main website has dynamic links they all might changing at some point)

You can find page footer <a href="/components/page-footer/">here</a>.

## Colours

All our brand colours meet AA acessability standards, you can find all colours <a href="/styles/colour/">here</a>.

## Other 

You can find other our design components <a href="/components/">here</a>.