---
title: Sign up form
description: [Description]
section: Components
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Sign up form

{{ example({group: "components", item: "sign-up-form", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]