---
title: Alert success
layout: layout-example.njk

---

{% from "alert/macro.njk" import occlssAlert %}

{{ occlssAlert({
  title: "The payment has been successful.",
  state: "success",
  controls: "true"
}) }}



