---
title: Button search
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Search",
  classes: "occlss-button--search"
}) }}