---
title: Button search
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Search",
  classes: "occlss-button--search"
}) }}