---
title: Input max width 450px
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "input-text",
  inputClasses: "occlss-form-cntrls__input--size-450",
  labelText: "Input max width 450px",
  fldName: "Input max width 450px"
}) }}



