---
title: Short search form
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

This component is used for the search at the top-right of every page on the main Oxfordshire County Council website. There is only ever one short search form on any page.

{{ example({group: "components", item: "short-search-form", example: "default", html: true }) }}

## Changelog

### 2.4.0

- Breakpoint added when the button scaled it will be enough space for space

### 1.0.0

- Component added