<span class="occlss-icon occlss-icon--arrow-down-bold {{ modClass }}" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-down-bold" class="icon__source icon__source--svg"></use>
	</svg>
</span>