---
title: Content navigation
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Content navigation

This component provides the navigation element for index pages. The links allow the user to quickly navigate to a page within the index. The currently active link is in black text, the links to other pages are blue.

{{ example({group: "components", item: "content-navigation", example: "default", html: true }) }}

## Changelog

#### 1.0.0

- Component Added