<nav class="occlss-pager" aria-labelledby="pagination-heading">
	<strong id="pagination-heading" class="occlss-u-visuallyhidden">Pagination</strong>
	<ul class="occlss-pager__items js-pager__items">
		<li class="occlss-pager__item is-active">
			<a href="?sprowd=&amp;page=0" title="Current page" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">
					Current page
				</span>1</a>
		</li>
		<li class="occlss-pager__item">
			<a href="?sprowd=&amp;page=1" title="Go to page 2" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">Page</span>2</a>
		</li>
		<li class="occlss-pager__item">
			<a href="?sprowd=&amp;page=2" title="Go to page 3" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">
					Page
				</span>3</a>
		</li>
		<li class="occlss-pager__item">
			<a href="?sprowd=&amp;page=3" title="Go to page 4" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">
					Page
				</span>4</a>
		</li>
		<li class="occlss-pager__item">
			<a href="?sprowd=&amp;page=4" title="Go to page 5" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">
					Page
				</span>5</a>
		</li>
		<li class="occlss-pager__item occlss-pager__item--ellipsis" role="presentation">…</li>
		<li class="occlss-pager__item occlss-pager__item--next">
			<a href="?sprowd=&amp;page=1" title="Go to next page" rel="next" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">Next page</span>
				<span aria-hidden="true">Next</span>
			</a>
		</li>
		<li class="occlss-pager__item occlss-pager__item--last">
			<a href="?sprowd=&amp;page=75" title="Go to last page" class="occlss-pager__link">
				<span class="occlss-u-visuallyhidden">Last page</span>
				<span aria-hidden="true">Last</span>
			</a>
		</li>
	</ul>
</nav>