---
title: Promoted content panel default
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "aqua-deep",
  panelURL: "javascript:void(0);",
  panelType: "alerts",
  textRows: [
        {
          text: "Promoted panel",
          textSize: "header-small",
          showArrow: "false"
        },
        {
          text: "These blocks are used on homepages, campaign pages and simple landing pages to draw the user's attention to a common task or popular content.",
          textSize: "text-medium",
          showArrow: "true"
        }
  ]
}) }}