{% from "site-nav/macro.njk" import occlssSiteNav %}
{% from "category-navbar/macro.njk" import occlssCategoryNavbar %}
{% from "short-search-form/macro.njk" import occlssShortSearchForm %}

{% set headerWrapperclasses %}class="occlss-wrapper occlss-page-head__wraper {% if params.section %}occlss-page-head__wraper--border occlss-page-head__wraper--{{ params.section | lower | safe }}{% endif %} "{% endset %}

{% set residentsActive %}{% if params.section == "residents" %}true{% else %}false{% endif %}{% endset %}
{% set businessActive %}{% if params.section == "business" %}true{% else %}false{% endif %}{% endset %}
{% set councilActive %}{% if params.section == "council" %}true{% else %}false{% endif %}{% endset %}

{% if params.type == "default" or params.section %}
<header class="occlss-page-head">
	<div {{ headerWrapperclasses | safe }}>
		<!--START wrapper block-->
		<div class="occlss-layout">
			<!--START layout block-->
			<div class="occlss-layout__col occlss-layout__col--sm-12 occlss-layout__col--bleed occlss-page-head__nav">
				{{ occlssSiteNav({
						logoLinkUrl: "https://www.oxfordshire.gov.uk",
						logoLinkTitle: "Back to Oxfordshire County Council Home",
						logoLinkLogoUrl: "/assets/images/occlss/logo.svg",
						logoLinkLogoAlt: "Oxfordshire County Council logo"
				}) }}
			</div>
		</div>
		<!--End layout block -->
		{% if params.section %}
		<div class="occlss-layout occlss-layout--gutter-l">
			<!--START layout block-->
			<div class="occlss-layout__col occlss-layout__col--md-7 occlss-layout__col--order-2-md occlss-page-head__cat-nav-container">
				<!--START layout elemnt -->
				{{ occlssCategoryNavbar({
							items: [
							{
								title: "Residents",
								url: "https://www.oxfordshire.gov.uk/",
								active: residentsActive
							},{
								title: "Business",
								url: "https://www.oxfordshire.gov.uk/business",
								active: businessActive
							},{
								title: "Council",
								url: "https://www.oxfordshire.gov.uk/council",
								active: councilActive
							}
							]
				}) }}
			</div>
			<!--End layout elemnt -->
			<div
				class="occlss-layout__col occlss-layout__col--md-5 occlss-layout__col--order-1-md occlss-page-head__search-container">
				<!--START layout elemnt -->
				{{ occlssShortSearchForm({
					type: params.searchBoxType
				}) }}
			</div>
			<!--End layout elemnt -->
		</div>
		{% endif %}
		<!--End layout block -->
	</div>
	<!--End wrapper block -->
</header>
{% elseif params.type == "mobile" %}
<header class="occlss-page-head">
	<div class="occlss-wrapper occlss-page-head__wraper">
		<!--START wrapper block-->
		<div class="occlss-layout">
			<!--START layout block-->
			<div class="occlss-layout__col occlss-layout__col--sm-12 occlss-layout__col--bleed occlss-page-head__nav">
				{{ occlssSiteNav({
					logoLinkUrl: "https://www.oxfordshire.gov.uk",
					logoLinkTitle: "Back to Oxfordshire County Council Home",
					logoLinkLogoUrl: "/assets/images/occlss/logo.svg",
					logoLinkLogoAlt: "Oxfordshire County Council logo",
					mobileNav: "true",
					navItems: [
							{
								title: "My account",
								url: "https://service.oxfordshire.gov.uk/auth?returnurl=http://www.oxfordshire.gov.uk"
							}
						]
					}) }}
			</div>
		</div>
		<!--End layout block -->
	</div>
	<!--End wrapper block -->
</header>
{% elseif params.type == "mobile-with-secondary-nav" %}
<header class="occlss-page-head">
	<div class="occlss-wrapper occlss-page-head__wraper">
		<!--START wrapper block-->
		<div class="occlss-layout">
			<!--START layout block-->
			<div class="occlss-layout__col occlss-layout__col--sm-12 occlss-layout__col--bleed occlss-page-head__nav">
				{{ occlssSiteNav({
					logoLinkUrl: params.logoLinkUrl,
					logoLinkTitle: params.logoLinkTitle,
					logoLinkLogoUrl: params.logoLinkLogoUrl,
					logoLinkLogoAlt: params.logoLinkLogoAlt,
					mobileNav: params.mobileNav,
					navItems: params.mainNavItems,
					secondaryNav: params.secondaryNav,
					secondaryNavMobile: params.secondaryNavMobile,
					secondaryNavItems: params.secondaryNavItems,
					secondaryNavSearch: params.secondaryNavSearch,
				    secondaryNavSearchType: params.secondaryNavSearchType,
                    secondaryNavSearchPlaceholder: params.secondaryNavSearchPlaceholder
					}) }}
			</div>
		</div>
		<!--End layout block -->
	</div>
	<!--End wrapper block -->
</header>
{% endif %}