---
title: Homepage
layout: layout-example.njk
---

{% from "category-navbar/macro.njk" import occlssCategoryNavbar %}
{% from "hero-pane/macro.njk" import occlssHeroPane %}
{% from "popular-content-pane/macro.njk" import occlssPopularContentPane %}
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}
{% from "cards/macro.njk" import occlssCard %}
{% from "atoz/macro.njk" import occlssAtoZ %}
{% from "page-footer/macro.njk" import occlssPageFooter %}
{% from "page-head/macro.njk" import occlssPageHead %}
{% from "breadcrumb/macro.njk" import occlssBreadcrumb %}


{{ occlssPageHead({
  type: "default",
  section: "council"
}) }}


<main id="occlss-main-content">

<div class="occlss-section">

	<div class="occlss-wrapper">
		{{ occlssBreadcrumb({
			spaceAfter: false,
			items: [
				{
					itemName: "Home",
					url: "javascript:void(0);"
				},{
					itemName: "Council"
				}
			]
		}) }}
	</div>


	<div class="occlss-wrapper">
		<div class="occlss-layout">
				<div class="occlss-layout__col occlss-layout__col--bleed">
					{{ occlssHeroPane({
							category: "council",
							heroClasses: "occlss-hero-pane--lgimage",
							heading: "Council",
							headingModeClass: "occlss-hero-pane__heading--council",
							imageURL: "http://www.oxfordshire.gov.uk/sites/default/files/2018-05/council-top-tasks_0.jpg",
							panels: [{
								title: "Services",
								items: [{
									title: "Apprenticeships",
									url: "javascript:void(0);"
								}, {
									title: "Scaffolding and hoarding licences",
									url: "javascript:void(0);"
								}, {
									title: "Filming in Oxfordshire",
									url: "javascript:void(0);"
								}, {
									title: "Commercial waste disposal",
									url: "javascript:void(0);"
								}]
							}]
						})
					}}
				</div>
			</div>
	</div>

</div>

<div role="tablist" aria-live="polite">
    <div class="occlss-wrapper"><!--START wrapper block-->
      <div class="occlss-layout occlss-layout--popular-content-grid occlss-layout--gutter-s occlss-u-bpspace-none">
	  <!--START layout block-->


			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-3 occlss-layout__col--md-3 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "aqua-dee",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "All the news",
						textSize: "header-small",
						showArrow: "true"
						}
					]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-5 occlss-layout__col--md-5 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "victoria",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "Find your county councillor",
						textSize: "header-small",
						showArrow: "true"
						}
					]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-4 occlss-layout__col--md-4 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "pale-sky",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "Working for us",
						textSize: "header-small",
						showArrow: "true"
						}
					]
				}) }}
			</div>

			<div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
				{{ occlssPopularContentPane({
				category: "council",
				panels: [
					{
					heading: "About your council",
					items: [
						{
						title: "Government in Oxfordshire",
						url: "javascript:void(0);"
						},{
						title: "District councils",
						url: "javascript:void(0);"
						},{
						title: "Parish and town councils",
						url: "javascript:void(0);"
						},{
						title: "Local MPs and MEPs",
						url: "javascript:void(0);"
						},{
						title: "More about your council",
						url: "javascript:void(0);"
						}
					]
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
				{{ occlssPopularContentPane({
				category: "council",
				panels: [
					{
					heading: "Councillors",
					items: [
						{
						title: "Full list of councillors",
						url: "javascript:void(0);"
						},{
						title: "The Cabinet",
						url: "javascript:void(0);"
						},{
						title: "Leader of the Council",
						url: "javascript:void(0);"
						},{
						title: "Allowances",
						url: "javascript:void(0);"
						},{
						title: "More councillors",
						url: "javascript:void(0);"
						}
					]
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
				{{ occlssPopularContentPane({
				category: "council",
				panels: [
					{
					heading: "Meetings and decisions",
					items: [
						{
						title: "Meetings calendar",
						url: "javascript:void(0);"
						},{
						title: "Agendas, minutes and reports",
						url: "javascript:void(0);"
						},{
						title: "What happens at meetings?",
						url: "javascript:void(0);"
						},{
						title: "Get involved in meetings",
						url: "javascript:void(0);"
						},{
						title: "More meetings and decisions",
						url: "javascript:void(0);"
						}
					]
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
				{{ occlssPopularContentPane({
				category: "council",
				panels: [
					{
					heading: "Council tax and finance",
					items: [
						{
						title: "Your council tax",
						url: "javascript:void(0);"
						},{
						title: "Council spending",
						url: "javascript:void(0);"
						},{
						title: "Reports of council spending",
						url: "javascript:void(0);"
						},{
						title: "Annual accounts and audit",
						url: "javascript:void(0);"
						},{
						title: "More council tax and finance",
						url: "javascript:void(0);"
						}
					]
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
				{{ occlssPopularContentPane({
				category: "council",
				panels: [
					{
					heading: "More in this section",
					items: [
						{
						title: "About Oxfordshire",
						url: "javascript:void(0);"
						},{
						title: "Make a complaint",
						url: "javascript:void(0);"
						},{
						title: "Managers and salaries",
						url: "javascript:void(0);"
						},{
						title: "Voting and elections",
						url: "javascript:void(0);"
						},{
						title: "Our vision",
						url: "javascript:void(0);"
						}
					]
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-4 occlss-layout__col--md-6 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "selective-yellow",
				panelURL: "javascript:void(0);",
				textRows: [
					{
						text: "Other ways we can help",
						textSize: "header-mega",
						showArrow: "true"
					}
				]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-4 occlss-layout__col--md-6 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "keppel",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "Our vision",
						textSize: "text-medium",
						showArrow: "false"
						},{
							text: "The ways we are helping our communities to thrive.",
							textSize: "text-line",
							showArrow: "true"
						}
					]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-4 occlss-layout__col--md-6 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "victoria",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "Council funding and spending",
						textSize: "text-medium",
						showArrow: "false"
						},{
							text: "How council services are paid for and how your Council Tax money is spent.",
							textSize: "text-line",
							showArrow: "true"
						}
					]
				}) }}
			</div>
			<div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--lg-4 occlss-layout__col--md-12 occlss-layout__col--sm-12 occlss-layout__col--xs-12">
				{{ occlssPromotedContentPanel({
				panelColour: "pale-sky",
				panelURL: "javascript:void(0);",
				textRows: [
						{
						text: "Get involved in meetings",
						textSize: "text-medium",
						showArrow: "false"
						},{
							text: "How to address a meeting, ask a question at a full council meeting and present a petition.",
							textSize: "text-line",
							showArrow: "true"
						}
					]
				}) }}
			</div>
      </div>
		<!--End layout elemnt -->
    </div>
</div>


	{{ occlssCard({
	cardRows: [
		{
			cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
			cardURL: "javascript:void(0);",
			cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_img-20190510-092916-386999.jpg",
			cardParagraph: [
				{
				text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
				}
			]
		},{
			cardTitle: "Oxfordshire communities and local businesses gearing up for OVO Energy Women’s Tour cycle race",
			cardURL: "javascript:void(0);",
			cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_photo-henleybusinessbanner2-414318.jpg",
			cardParagraph: [
				{
				text: "Oxfordshire communities and local businesses are making plans to welcome the prestigious OVO Energy Women’s Tour cycle race, which will pass through the county on Wednesday 12 June."
				}
			]
		},{
			cardTitle: "‘Adorable’ Archie set to influence baby name choice for Oxfordshire parents",
			cardURL: "javascript:void(0);",
			cardImageURL: "http://www.oxfordshire.gov.uk/sites/default/files/aggregator/enclosure/500_babyfeet-926346.jpg",
			cardParagraph: [
				{
				text: "Staff at Oxfordshire County Council’s Registration Service are expecting a surge in boys named Archie following the birth of the Duke and Duchess of Sussex’s first child."
				}
			]
		}
	]
	}) }}

</main>

<div class="occlss-section occlss-section--find-my-nearest">
  {#{> organisms-find-my-nearest }#}
</div>

{{ occlssAtoZ({
  items: [
    {
      title: "A",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/A"
    },{
      title: "B",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/B"
    },{
      title: "C",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/C"
    },{
      title: "B",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/B"
    },{
      title: "D",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/D"
    },{
      title: "E",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/E"
    },{
      title: "F",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/F"
    },{
      title: "G",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/G"
    },{
      title: "H",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/H"
    },{
      title: "I",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/I"
    },{
      title: "J",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/J"
    },{
      title: "K",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/K"
    },{
      title: "L",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/L"
    },{
      title: "M",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/M"
    },{
      title: "N",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/N"
    },{
      title: "O"
    },{
      title: "P",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/P"
    },{
      title: "Q",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/Q"
    },{
      title: "R",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/R"
    },{
      title: "S",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/S"
    },{
      title: "T",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/T"
    },{
      title: "U"
    },{
      title: "V",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/V"
    },{
      title: "W",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/W"
    },{
      title: "X",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/X"
    },{
      title: "Y",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/Y"
    },{
      title: "Z",
      url: "https://www.oxfordshire.gov.uk/cms/atoz/Z"
    }
  ]
}) }}

{{ occlssPageFooter({
  fRowHeading: "Oxfordshire County Council",
  fRowHTML: "<p>County Hall, New Road, Oxford, OX1 1ND</p>\n <p><a href=\"https://www.oxfordshire.gov.uk/residents/contact-council/contact-us\" class=\"occlss-u-more-link\">Contact us<span class=\"occlss-icon occlss-icon--arrow-right-long-right-secondary\" aria-hidden=\"true\"><svg aria-hidden=\"true\" class=\"occlss-icon__container occlss-u-more-link__icon\"><use xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"/assets/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary\" class=\"icon__source icon__source--svg\"></use></svg></span></a></p>\n",
  fRowSocialicons: [
    {
      icon: "facebook"
    },{
      icon: "twitter"
    },{
      icon: "rss"
    },{
      icon: "linkedin"
    },{
      icon: "instagram"
    }
  ],
  fRowSecondHTML: "<h5>Sign up for the YourOxfordshire newsletter</h5>\n <p>Get the latest news direct to your inbox every month.</p>\n <div class=\"occlss-layout occlss-u-tspace-sm\"><div class=\"occlss-layout__col occlss-layout__col--xs-12 occlss-layout__col--md-8 occlss-layout__col--bleed occlss-form__sign-up-form-controls\"><a href=\"http://oxfordshire.us1.list-manage1.com/subscribe?u=feb3ea90bfa82dcb90c21a3e7&id=206c6fb447\" class=\"occlss-button occlss-button--primary occlss-button--fullwidth occlss-form__sign-up-form-submit\" target=\"_blank\">Sign up to the newsletter</a></div></div>",
  sRowHeading: "Services",
  sRowListItems: [
    {
      title: "Business",
      url: "https://www.oxfordshire.gov.uk/business"
    },{
      title: "Children, education and families",
      url: "https://www.oxfordshire.gov.uk/residents/children-education-and-families"
    },{
      title: "Community and living",
      url: "https://www.oxfordshire.gov.uk/residents/community-and-living"
    },{
      title: "Environment and planning",
      url: "https://www.oxfordshire.gov.uk/residents/environment-and-planning"
    },{
      title: "Fire and public safety",
      url: "https://www.oxfordshire.gov.uk/residents/fire-and-public-safety"
    },{
      title: "Leisure and culture",
      url: "https://www.oxfordshire.gov.uk/residents/leisure-and-culture"
    },{
      title: "Roads and transport",
      url: "https://www.oxfordshire.gov.uk/residents/roads-and-transport"
    },{
      title: "Social and health care",
      url: "https://www.oxfordshire.gov.uk/residents/social-and-health-care"
    }
  ],
  tRowHeading: "Information",
  tRowListItems: [
    {
      title: "Access to information",
      url: "https://www.oxfordshire.gov.uk/council/about-your-council/access-data-and-information"
    },{
      title: "Accessibility options",
      url: "https://www.oxfordshire.gov.uk/council/about-website/help-using-site"
    },{
      title: "Terms and conditions",
      url: "https://www.oxfordshire.gov.uk/council/about-website/terms-and-conditions"
    },{
      title: "How we use cookies",
      url: "https://www.oxfordshire.gov.uk/residents/environment-and-planning"
    },{
      title: "Privacy",
      url: "https://www.oxfordshire.gov.uk/council/about-website/terms-and-conditions#privacy"
    },{
      title: "Sitemap",
      url: "https://www.oxfordshire.gov.uk/cms/sitemap"
    },{
      title: "GOV.UK",
      url: "http://www.gov.uk/"
    },{
      title: "Brexit information on GOV.UK",
      url: "https://www.gov.uk/government/brexit"
    }
  ]
}) }}