<div class="occlss-alert-box">
    <span class="occlss-alert-box__icon" aria-hidden="true">!</span>
    <span class="occlss-alert-box__text">
    <span class="occlss-alert-box__assistive">Warning</span>
    This is a warning message. We really want you to see this because it is 
    telling you somthing you need to know.
    </span>
</div>