<div class="occlss-info-box" role="note" aria-label="Information">
    This is some information that is related to the content surrounding it. This might not apply to everyone but it might be important to you
</div>