---
title: Sidebar item section
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "sidebar-item-section/macro.njk" import occlssSidebarItemSection %}

{{ occlssSidebarItemSection({
  containerClasses: "occlss-sidebar-item-section--council",
  items: [
    {
      text: "Related content",
      type: "main"
    },{
      text: "Teaching and school support vacancies",
      url: "javascript:void(0);"
    },{
      text: "Working in children's social care",
      url: "javascript:void(0);"
    },{
      text: "Benefits of working for Oxfordshire County Council",
      url: "javascript:void(0);"
    },{
      text: "Fire service recruitment",
      url: "javascript:void(0);"
    },{
      text: "Register for casual or temporary work",
      url: "javascript:void(0);"
    },{
      text: "Examples of employment contracts",
      url: "javascript:void(0);"
    },{
      text: "External",
      type: "sub"
    },{
      text: "All job vacancies",
      url: "javascript:void(0);"
    }
  ]
}) }}