---
title: Sidebar item section
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page controls
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Sidebar item section

{{ example({group: "components", item: "sidebar-item-section", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Modifier classes

Container `.occlss-sidebar-item-section` modifier `.occlss-sidebar-item-section--council` the modifier will add colour to the vertical line. This modifier used only if the sidebar item section appearing in the council area.

`.occlss-sidebar-item-section--business` the modifier used only if the sidebar item section appearing in the business area. 

`.occlss-sidebar-item-section--residents` the modifier used only if the sidebar item section appearing in the residents area.

## Changelog

#### 1.0.0

- Component Added