---
title: Promoted content panel
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "swans-down",
  textRows: [
        {
          text: "Swans down colour",
          textSize: "text-large"
        }
  ]
}) }}