---
title: Pages
description: Use the button component to help users carry out an action on a OCC page
section: Pages
aliases:
layout: layout-pane.njk
---


If you’ve used this component, get in touch to share your user research findings.
