.occlss-g-summary-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #525252;
    line-height: 1.4
}

@media(min-width: 768px) {
    .occlss-g-summary-text {
        margin: 0 0 5.625rem 0
    }
}

@media(max-height: 800px) {
    .occlss-g-summary-text {
        margin: 0 0 1.875rem 0
    }
}

.occlss-g-xxxxx-large-text {
    font-size: 2.625rem
}

.occlss-g-xxxx-large-text {
    font-size: 2.25rem
}

.occlss-g-xxx-large-text {
    font-size: 1.875rem
}

.occlss-g-xx-large-text {
    font-size: 1.625rem
}

.occlss-g-x-large-text {
    font-size: 1.5rem
}

.occlss-g-large-text {
    font-size: 1.375rem
}

.occlss-g-medium-text {
    font-size: 1.25rem
}

.occlss-g-regular-text {
    font-size: 1rem
}

.occlss-g-small-text {
    font-size: .875rem
}

.occlss-g-font-weight-light {
    font-weight: 300
}

.occlss-g-font-weight-regular {
    font-weight: 400
}

.occlss-g-font-weight-medium {
    font-weight: 500
}

.occlss-g-font-weight-semibold {
    font-weight: 600
}

.occlss-g-font-weight-bold {
    font-weight: 700
}

.occlss-g-font-weight-black {
    font-weight: 900
}

.occlss-g-font-inline-block {
    display: inline-block
}

.occlss-g-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.occlss-g-text-color-white {
    color: #fff
}

.occlss-g-text-color-dark {
    color: #0b0c0c
}