---
title: Form controls container max width 310px
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "input-text",
  cntrlsClasses: "occlss-form-cntrls--size-310",
  labelText: "Form controls container max width 310px",
  fldName: "Form controls container max width 310px"
}) }}



