---
title: How to styleup?
description: text here
section: Styles up
aliases:
layout: layout-pane.njk
---


Here we will describ what is the minimum you need to apply to meet Oxfordshire County Council standards, if you will not able to do the minimun requrements please contact email[@]hehe


Your application should meet accesabolity standarts, and it should be responsive