---
title: How to styleup?
description: text here
section: Styles up
aliases:
layout: layout-pane.njk
---


In this section we will describe what is the minimum you need to apply to meet Oxfordshire County Council standards, 
if you will not able to do the minimum requirements or for any other question related styling please contact email[@]hehe

Your application should meet:

- Digital service standard
- Typography
- Header
- Footer
- Colours