---
title: Footer feedback from
description: [Description]
section: Components
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

This component allows the user to give feedback on a page. The form records the page URL when the user clicks the Send button.

{{ example({group: "components", item: "footer-feedback-form", example: "default", html: true }) }}

## Changelog

#### 1.0.0

- Component Added