// Chatbot
.chat {
  $chat-closed-width: 15rem;
  $chat-opened-width: 34rem;
  $chat-opened-height: 34rem;
  $chat-container: $chat-opened-height - 5.5rem;
  $chat-header-height: 4rem;
  $chat-padding: 1.5rem;
  
  background: $occlss-brand-color-victoria;
  bottom: 0;
  height: $chat-header-height - 1rem;
  padding: $chat-padding;
  position: fixed;
  right: 3rem;
  transition: width 200ms ease, height 200ms ease;
  width: $chat-closed-width;
  z-index: 3;
  @media (min-width: 768px) {
    right: 3rem;
  }
  &__header {
    margin-bottom: 1.5rem;
    &::after {
      background: url("#{$occlss-global-image-path}/objectivity-chatbot/arrow-down-bold-white.svg")
        0 0 no-repeat;
      background-size: rem(21px);
      content: "";
      display: block;
      height: 1.5rem;
      position: absolute;
      right: $chat-padding;
      top: 0.7rem;
      transform: rotate(-180deg);
      transition: 100ms ease-in-out;
      width: 1.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__header-title {
    color: white;
    font-size: 1.375rem;
    line-height: 1;
    margin-bottom: 0;
    margin-top: -0.6rem;
  }
  &__container {
    height: ($chat-opened-height - $chat-header-height - $chat-padding);
    position: relative;
  }
  &--opened {
    background: #d6d8e0;
    height: $chat-opened-height;
    width: ($chat-opened-width * 0.7);
    @media (min-width: 768px) {
      width: $chat-opened-width;
    }
  }
  &--opened & {
    &__header::after {
      background-image: url("#{$occlss-global-image-path}/arrow-down-bold.svg");
      top: 1.2rem;
      transform: rotate(0);
    }
    &__header-title {
      color: $occlss-brand-color-mine-shaft;
      margin-top: -0.1rem;
    }
  }
  .css-o3xlyv,
  .css-sdb7gy {
    font-family: $occlss-global-font-family-primary;
  }
  .css-1t62idy {
    height: $chat-container;
  } 
  // input style
  .css-1lmr15n {
    & > .main {
      color: rgb(82, 82, 82);
      font-size: 1rem;
      height: 3.1rem;
      line-height: 1.3;
      width: 100%;
      border: 1px solid $occlss-brand-color-mine-shaft;
      padding: 0.85rem 0.7rem;
      &:focus {
        border-color: rgb(237, 200, 86);
      }
    }
  } 
  // button style
  .css-1wctqlt {
    & > button:not(:disabled) {
      height: auto;
      margin-bottom: 0;
      @extend .occlss-button;
      @extend .occlss-button--primary;
    }
  }
  .css-1wegtiu {
    ul {
      li {
        margin-bottom: 0;
      }
    }
  } 
  // upload disable
  .css-15g3li9 {
    display: none;
  } 
  // send arrow style {
  .css-1rzkomi {
    position: relative;
    svg {
      display: none;
    }
    &::after {
      background: url("#{$occlss-global-image-path}/objectivity-chatbot/arrow-right-long-right-secondary.svg") 0 0 no-repeat;
      content: "";
      display: block;
      height: 1.5rem;
      position: absolute;
      right: 3px;
      top: -2px;
      width: 1.5rem;
    }
  }
}
