//
//Prefix to denote utilities, overrides, and helper classes. Classes beginning with .u-
//should never be redefined, bound onto, or modified. These classes appear in the Trumps
//layer and usually carry !important.
//

// Create grid utility classes
@include make_a_grid($make_grid: true);


// This class will hide object from display
.occlss-u-hidden {
  display: none;
}


// This class will hide object from display but it will be visable for screen readers
.occlss-u-visuallyhidden {
    @extend %sr-only;
}

// View all link
.occlss-u-more-link {
    &:hover,
    &:active,
    &:focus {
        .occlss-u-more-link__icon {
            fill: $occlss-link-color-primary-hover;
        }
    }
    &:focus {
        @extend %highlight-bg-on-focus;
    }
}

.occlss-u-more-link__icon {
    width: rem(19px);
    height: rem(19px);
    margin-left: rem(10px);
    fill: $occlss-link-color-primary;
}

.occlss-u-more-link--dark {
    color: $occlss-utilities-font-color-more-link-tab-widget;
    .occlss-u-more-link__icon {
        fill: $occlss-utilities-font-color-more-link-tab-widget;
    }
}

// Unstiled list

.occlss-u-unstyled-list {
    @extend %reset_list_style;
}

// Removing fildset dafault style
.occlss-u-unFieldset {
    border: none;
}

// Reset margin

.occlss-u-rm-top {
    margin-top: 0;
}

.occlss-u-rm-bottom {
    margin-bottom: 0;
}

.occlss-u-rm-left {
    margin-left: 0;
}

.occlss-u-rm-right {
    margin-right: 0;
}

// bottom space

$margin-toplist:(
  xs: 6,
  large: 50
);

@each $key,$val in $margin-toplist {
    .occlss-u-tspace-#{$key} {
        margin-top: ($val / 16) * 1rem;
    }
}
