{{#categoriesGridSection}}

<section role="tablist" aria-live="polite">
    <div class="occlss-wrapper"><!--START wrapper block-->
      <div class="occlss-layout occlss-layout--categories-grid occlss-layout--gutter-s"><!--START layout block-->
          
        {{#catSection}}
          <div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
          {{> organisms-category-pane }}
          </div>
        {{/catSection}}

      </div><!--End layout elemnt -->
    </div>
     
</section>

{{/categoriesGridSection}}