{{#featuredPanelGridSection}}
  {{#featuredPanels}}
    <div class="occlss-layout__col occlss-layout__col--flex {{ panel-size }}">
      {{> organisms-promoted-content-panel }}
    </div>
  {{/featuredPanels}}
{{/featuredPanelGridSection}}