{{#cardsSection}}
<section>
    <div class="occlss-wrapper"><!--START wrapper block-->
      <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
      {{#cards}}
            <div class="occlss-layout__col occlss-layout__col--auto">
                  {{> organisms-card }}
            </div>
      {{/cards}}
      </div><!--End layout elemnt -->
    </div>
</section>
{{/cardsSection}}