---
title: News from Oxfordshire County Council
layout: layout-example.njk
---

{% from "category-navbar/macro.njk" import occlssCategoryNavbar %}
{% from "hero-pane/macro.njk" import occlssHeroPane %}
{% from "popular-content-pane/macro.njk" import occlssPopularContentPane %}
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}
{% from "cards/macro.njk" import occlssCard %}
{% from "page-footer/macro.njk" import occlssPageFooter %}
{% from "page-head/macro.njk" import occlssPageHead %}
{% from "breadcrumb/macro.njk" import occlssBreadcrumb %}
{% from "summary-pane/macro.njk" import occlssSummaryPane %}


{{ occlssPageHead({
  type: "mobile-with-secondary-nav",
  logoLinkUrl: "https://www.oxfordshire.gov.uk",
  logoLinkTitle: "Back to Oxfordshire County Council Home",
  logoLinkLogoUrl: "/assets/images/occlss/logo.svg",
  logoLinkLogoAlt: "Oxfordshire County Council logo",
  mobileNav: "true",
  secondaryNav: true,
  secondaryNavMobile: true,
  secondaryNavItems: [
            {
                title: "Home",
                url: "#"
            },{
                title: "All news",
                url: "#"
            },{
                title: "News by topic",
                url: "#"
            },{
                title: "Media Library",
                url: "#"
            }
        ],
    secondaryNavSearch: true,
    secondaryNavSearchType: "small",
    secondaryNavSearchPlaceholder: "Search news"
}) }}


<main id="occlss-main-content">

<div class="occlss-section">

	<div class="occlss-wrapper">
		{{ occlssBreadcrumb({
			spaceAfter: false,
			items: [
				{
					itemName: "Home",
					url: "javascript:void(0);"
				},{
					itemName: "Business"
				}
			]
		}) }}
	</div>


	<div class="occlss-wrapper">
		<div class="occlss-layout">
				<div class="occlss-layout__col occlss-layout__col--bleed">
					{{ occlssHeroPane({
							category: "other",
							heroClasses: "occlss-hero-pane--news",
							heading: "News",
							headingModeClass: "occlss-hero-pane__heading--news",
							imageURL: "https://dummyimage.com/1200x415x400/525252/ffffff.png",
							panels: [{
                                size: 4,
								html: "<h2>Help us create a cycling network Oxfordshire can be proud of</h2><p>Residents are encoraged to take part in exiting new plans to redically improve the county's cycling network... <a href='#'>Read this story</a>."
							}]
						})
					}}
				</div>
			</div>
	</div>
</div>

<div id="main">
  <div class="occlss-wrapper">
    <!--START wrapper block-->
    <div class="occlss-layout occlss-layout--gutter-s occlss-u-tspace-sm occlss-u-bspace-sm">
      <!--START layout block-->
			
			<div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
    		<div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
			<div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>
            <div class="occlss-layout__col occlss-layout__col--sm-4">
                {{ occlssCard({
                cardRows: [
                    {
                        cardType: "teaser",
                        cardClicable: false,
                        cardDate: "18 July 2019",
                        cardTitle: "Oxfordshire’s Fire and Rescue Service goes electric to reduce emissions ",
                        cardURL: "javascript:void(0);",
                        cardURLTitle: "Read this story",
                        cardImageURL: "https://dummyimage.com/800x574/525252/ffffff.png",
                        cardParagraph: [
                            {
                            text: "The drive to reduce carbon emissions and clean up the air has stepped up a gear as Oxfordshire County Council takes delivery of a new fleet of electric cars and vans."
                            }
                        ]
                    }
                ]
                }) }}
            </div>



    </div>
    <!--End layout elemnt -->
  </div>
</div>

</main>

{{ occlssPageFooter({
  type: "short",
  fRowHeading: "Oxfordshire County Council",
  fRowHTML: "<p>County Hall, New Road, Oxford, OX1 1ND</p>\n"
}) }}