{{#cardsSection}}
<section>
    <div class="occlss-wrapper"><!--START wrapper block-->
      <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
      <div class="js-owl-carousel owl-carousel occlss-owl-theme occlss-layout__col occlss-layout__col--12">
            {{#cards}}
                  <div>
                        {{> organisms-card }}
                  </div>
            {{/cards}}
      </div>
      </div><!--End layout elemnt -->
    </div>
     
</section>
{{/cardsSection}}