{{#popularcontentGridSection}}
  {{#popularcontentSection}}
    <div class="occlss-layout__col occlss-layout__col--lg-4 occlss-layout__col--md-6">
    {{> organisms-popular-content-pane }}
    </div>
  {{/popularcontentSection}}
{{/popularcontentGridSection}}