---
title: A to Z
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## A to Z

{{ example({group: "components", item: "atoz", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]


## A to Z inverce

{{ example({group: "components", item: "atoz", example: "inverce", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}