---
title: News
description: [Description]
section: Pages
layout: layout-pane.njk
order: 0
show_page_nav: false
show_item_nav: false
---

{% from "_example.njk" import example %}

## News landing page

{{ example({group: "pages", item: "news", example: "landing", html: true }) }}

## News internal page

{{ example({group: "pages", item: "news", example: "internal", html: true }) }}