---
title: News
description: [Description]
section: Pages
layout: layout-pane.njk
order: 0
show_page_nav: false
show_item_nav: true
---

{% from "_example.njk" import example %}

Test

## News

{{ example({group: "pages", item: "news", example: "default", html: true }) }}