.occlss-form {
  // Reset fieldset style
  &__group {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.occlss-form + h2,
.occlss-form + h3,
.occlss-form + h4,
.occlss-form + h5,
.occlss-form + p { 
  margin-top: rem(45px);
}

.occlss-form__listitems {
  @extend %reset_list_style;
}

// Short search
.occlss-form__short-search-submit {
  padding: rem(9px 20px);
  @include breakpoint(max-width (1024px)) {
    padding: rem(9px 13px);
  }
  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
      padding: rem(9px 13px);
  }
}

.occlss-form__short-search-group {
  padding: rem(0 10px 0 0);
  @include breakpoint(max-width ((map-get($occlss-layout-breakpoints, 'sm')))-1) {
      padding: 0;
  }
}

// Sign up form
.occlss-form--sign-up {
  margin: 0;
  padding: 0;
}

.occlss-form__sign-up-form-controls {
  display: flex;
  justify-content: flex-end;
  @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
      padding-right: rem(20px);
  }
}

.occlss-form__sign-up-form-submit {
  padding: rem(9px 20px);
  margin-bottom: 0;
  &:focus,
  &:active {
      box-shadow: none;
  }
}


.occlss-form__error-message {
  color: $occlss-form-color-base-error;
  display: block;
  padding-bottom: 3px;
  padding-top: 3px;
}

// Form group title (usually this is a legend tag)
.occlss-form__group-title {
  font-weight: $occlss-form-font-weight-group-title;
  font-family: $occlss-form-font-family-group-title;
  font-size: rem($occlss-form-label-font-size);
  margin: rem(0 0 10px 0);
}

.occlss-form__group-title--large {
  font-size: rem($occlss-form-title-font-size-large);
}

// Adding bottom border
.occlss-form__group-title--bordered {
  border-bottom: rem(1px solid $occlss-form-title-underline-color);
  padding-bottom: rem(10px);
  margin-bottom: rem(22px);
  width: 100%;
}

// Form description text (Usually this text going below the legend)
.occlss-form__desc-text {
  margin-bottom: rem(25px);
  display: inline-block;
}

// Hint text
.occlss-form__hint-text {
  display: block;
  color: $occlss-form-font-color-hint-text;
  margin-bottom: 0;
}

.occlss-form__hint-text--spaced {
  display: inline-block;
  margin-bottom: rem(10px);
}

// Inline fields container
.occlss-form__inline-fields {
  @extend %clearfix;
}

// Form controls
.occlss-form__controls {
  margin-top: rem(24px);
}

.occlss-form__controls-list-item {
  display: inline-block;
}

.occlss-form__controls-list-item--spaced {
  margin-right: rem(100px);
  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
    margin-right: rem(50px);
  }
}

// Horisontal form
.occlss-form__controls--inline-horizontal {
  padding: 0 35%;

  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
    padding: 0;
  }
}

.occlss-form__horizontal-cont {
  padding: 0 10%;
  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
    padding: 0;
  }
}

// Short search
.occlss-form--small {
  .occlss-form__short-search-submit {
    padding: rem(6px 10px);
    font-size: 16px;
    margin-bottom: 0;
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        padding: rem(9px 13px);
    }
  }
}