---
title: Form controls container max width 450px
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "input-text",
  cntrlsClasses: "occlss-form-cntrls--size-450",
  labelText: "Form controls container max width 450px",
  fldName: "Form controls container max width 450px"
}) }}



