---
title: Input checkbox disabled
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "checkbox",
  cntrlsClasses: "occlss-form-cntrls--checkbox",
  labelClasses: "occlss-form-cntrls__label--checkbox",
  status: "disabled",
  labelText: "Checkbox disabled",
  fldName: "Checkbox disabled"
}) }}



