---
title: Buttons
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Buttons
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "buttons", example: "default", html: true }) }}

### When to use this component 

Buttons are used in this pattern for navigation on forms. The buttons are spaced to make it easier for a user to tell them apart and helps to prevent the user from clicking on the wrong button by mistake.

## Changelog

#### 1.0.0

- Component Added