---
title: Buttons
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Buttons
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Buttons

{{ example({group: "patterns", item: "buttons", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added