/* OCCLSS Download link
 * @version 1.0.0
 */

.occlss-download-link {
    background: #e0e2e5;
    padding: 1.625rem;
    display: inline-block
}

.occlss-download-link__icon {
    text-decoration: none
}

.occlss-download-link__lnk {
    margin-left: 1rem
}


.occlss-download-link:focus {
    outline: 3px solid #edc856
}
