<a class="occlss-download-link" href="{{ params.url }}">
    <span class="occlss-icon occlss-icon--file occlss-icon--small occlss-download-link__icon" aria-hidden="true">
	<svg aria-hidden="true" class="occlss-icon__container">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#file" class="icon__source icon__source--svg"></use>
	</svg>
	</span><span class="occlss-download-link__lnk">{{ params.text }}</span>
</a>