/* OCCLSS Sidebar item section
 * @version 1.0.0
 */

.occlss-sidebar-item-section {
    position: relative;
    padding-left: 1.5rem;
    min-height: 6.25rem;
    margin-bottom: .75rem
}

.occlss-sidebar-item-section:before {
    content: "";
    width: .375rem;
    height: 6.25rem;
    background: #0b0c0c;
    display: block;
    position: absolute;
    left: 0
}

.occlss-sidebar-item-section--residents:before {
    background: #00483a
}

.occlss-sidebar-item-section--business:before {
    background: #3a78bb
}

.occlss-sidebar-item-section--council:before {
    background: #503b76
}

.occlss-sidebar-item-section__title {
    margin-bottom: .125rem
}