<div class="occlss-sidebar-item-section {{ params.containerClasses }}" role="complementary">
    <nav class="occlss-sidebar-item-section__navbar" aria-label="Related content">
        <ul class="occlss-summary-list occlss-summary-list--sidebar-nav">
        {% for item in params.items %}
            {% if item.url %}
            <li class="occlss-summary-list__item">
                <a href="{{ item.url }}" class="occlss-summary-list__link">{{ item.text }}</a>
            </li>
            {% else %}
            <li class="occlss-summary-list__item">
                {% if item.type == "main" %}
                    <h2 class="occlss-sidebar-item-section__title">{{ item.text }}</h4>
                {% elseif item.type == "sub" %}
                    <div class="occlss-splitter occlss-u-tspace-xs occlss-u-bspace-sm"></div>
                    <h3 class="occlss-u-bspace-xs">{{ item.text }}</h3>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>