<aside class="occlss-sidebar-item-section " role="complementary">
    <h2 class="occlss-sidebar-item-section__title">
        {{ params.heading }}
    </h2>
    <nav class="occlss-sidebar-item-section__navbar" role="navigation">

    </nav>
</aside>