.occlss-summary-list {
    @extend %reset_list_style;
}

.occlss-summary-list--indented {
    padding-left: rem(24px);
}

.occlss-summary-list__item {
    margin-bottom: 0;
    margin-left: 0;
}

.occlss-summary-list__item--underlined {
    border-bottom: rem(1px solid $occlss-summary-list-border-color-item);
}

.occlss-summary-list__link {
    padding: rem(15px 15px);
}

.occlss-summary-list--tasks-pane,
.occlss-summary-list--popular-content-pane {
    .occlss-summary-list__link {
        text-decoration: none;
        display: block;
        &:focus {
            @extend %highlight-bg-on-focus;
        }
    }
}

.occlss-summary-list--tasks-pane {
    
    .occlss-summary-list__item {
        border-bottom: none;
    }

    .occlss-summary-list__link {
        padding: rem(10px);
        color: $occlss-summary-list-font-color-tab-widget;
        &:hover {
            text-decoration: underline;
        }
    }
}

.occlss-summary-list--popular-content-pane {
    .occlss-summary-list__item {
        &:last-of-type {
            border-bottom: none;
        }
    }

    .occlss-summary-list__link {
        color: $occlss-summary-list-font-color-tab-widget;
        &:hover {
            color: #000000;
            background: #e0e2e5;
        }
    }
}