.occlss-breadcrumb {
  display: block;
  line-height: $occlss-breadcrumb-line-height;
}

.occlss-breadcrumb__wrapper {
  padding: rem(0 0 90px 0);
  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
    padding: rem(0 0 60px 0);
  }
  @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
    padding: rem(0 0 0 0);
  }
}

.occlss-breadcrumb__conteiner {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

.occlss-breadcrumb__item {
  display: inline-block;
  padding-right: 0.3em;
  position: relative;
  font-size: em($occlss-breadcrumb-font-size-primary);
  &:after {
    content: ">";
    margin-left: 0.3em;
  }
  &:before {
    content: "";
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}
