.occlss-search-place-form {
    background: $occlss-search-place-form-bg-color;
    padding-top: rem(19px);
    padding-bottom: rem(19px);
}

.occlss-search-place-form__find-my-location-cont,
.occlss-search-place-form__controls,
.occlss-search-place-form__submit,
.occlss-search-place-form__input-group {
    margin-bottom: 0;
}

.occlss-search-place-form__search-form-cont {
    .occlss-layout__col {
        padding: rem(0 10px 0 0);
    }
}

.occlss-search-place-form__label {
    margin-bottom: 0;
}

.occlss-search-place-form__icon {
    width: rem(50px);
    height: rem(50px);
}

.occlss-search-place-form__link {
    vertical-align: bottom;
    font-size: ($occlss-search-place-form-link-font-size);
    font-weight: $occlss-search-place-form-link-font-weight;
    &:hover {
        color: $occlss-search-place-form-link-color-hover;
        text-decoration: none;
    }
    &:focus {
        @extend %highlight-bg-on-focus;
    }
}

.occlss-search-place-form__find-my-location-cont {
    padding-left: 0;
    padding-right: 0;
}

.occlss-search-place-form__search-form-cont--postcode {
    .occlss-layout__col {
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            padding-right: 0;
        }
    }
    .occlss-form-cntrls__input {
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            margin-bottom: rem(10px);
        }
    }
}

