.occlss-download-link {
    background: #e0e2e5;
    margin: rem(0 0 32px 0);
    padding: rem($occlss-download-link-padding);
    display: inline-block;
}

.occlss-download-link__lnk {
    margin-left: rem(16px);
}