.occlss-hero-pane {
    background-repeat: no-repeat;
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
       background: none!important;
    }
}

.occlss-hero-pane__heading {
    display: inline-block;
    font-weight: $occlss-hero-pane-heading-font-weight;
    color: $occlss-hero-pane-heading-font-color;
    padding: rem(10px 50px 10px 30px);
    font-size: rem(46px);
    margin-top: rem(54px);
    margin-bottom: 0;
    background-color: $occlss-hero-pane-heading-bg-color;
    font-family: $occlss-hero-pane-heading-font-family;
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
        line-height: 1;
    }
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        width: 100%;
        margin-top: 0;
        padding: rem(38px 17px 17px 17px);
    }
}


.occlss-hero-pane--no-image {
    .occlss-hero-pane__heading  {
        margin-top: 0;
    }
}