.occlss-top-tasks-pane {
    background: $occlss-top-tasks-pane-background;
}

.occlss-top-tasks-pane__layout {
    padding-left: rem(16px);
    padding-right: rem(16px);
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        padding-left: 0;
        padding-right: 0;
    }
}

.occlss-top-tasks-pane__heading {
    padding-bottom: rem(10px);
    margin-bottom: rem(15px);
    border-bottom: rem($occlss-top-tasks-pane-heading-border);
    font-size: rem($occlss-top-tasks-pane-heading-font-size);
}

.occlss-top-tasks-pane__content {
    border-bottom: rem($occlss-top-tasks-pane-content-border);
    padding-bottom: rem(10px);
}

.occlss-top-tasks-pane--residents {
    .occlss-top-tasks-pane__heading {
        border-bottom-color: $occlss-top-tasks-pane-color-residents;
    }
    .occlss-top-tasks-pane__content {
        border-bottom-color: $occlss-top-tasks-pane-color-residents;
    }
}

.occlss-top-tasks-pane--business {
    .occlss-top-tasks-pane__heading {
        border-bottom-color: $occlss-top-tasks-pane-color-business;
    }
}

.occlss-top-tasks-pane--council {
    .occlss-top-tasks-pane__heading {
        border-bottom-color: $occlss-top-tasks-pane-color-council;
    }
}