.occlss-form-cntrs {
  
}

.occlss-form-cntrs__checkbox,
.occlss-form-cntrs__radiobutton,
.occlss-form-cntrs__textarea,
.occlss-form-cntrs__input,
.occlss-form-cntrs__select {
    appearance: none;
    border: $occlss-form-border-width-base-input solid $occlss-form-border-color-base-input;
    border-radius: 0;
    box-sizing: border-box;
    color: $occlss-form-font-color-base-input; // standardize on firefox
    display: inline-block;
    font-size: $occlss-form-font-size-base;
    height: $occlss-form-input-height-truncated;
    line-height: $occlss-form-line-height-base-input;
    margin: 0.2rem 0 0 0;
    padding: $occlss-form-padding-base-vertical 0.7rem;
    width: 100%;
}

.occlss-form-cntrs__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.occlss-form-cntrs__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url('#{$occlss-global-image-path}/arrow-down-bold.svg');
    background-position: right 1.3rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
}

.occlss-form-cntrs__select::-ms-expand {
  display: none;
}


.occlss-form-cntrs__textarea {
  height: rem($occlss-form-height-textarea);
  display: inline-block;
  vertical-align: middle;
}

.occlss-form-cntrs__input:focus, 
.occlss-form-cntrs__input--focus, 
.occlss-form-cntrs__textarea:focus, 
.occlss-form-cntrs__textarea--focus, 
.occlss-form-cntrs__select:focus, 
.occlss-form-cntrs__select--focus {
  border-color: $occlss-form-border-color-base-input-focus;
}

// Short search
.occlss-form-cntrs__input--short-search {
    padding: rem($occlss-short-search-form-padding-input);
    border-radius: rem($occlss-short-search-form-border-radius-input);
    height: auto;
    &:focus {
        box-shadow: rem(inset 0px 0px 0px 1px $occlss-short-search-form-border-color-input-focus);
        outline: none;
    }
}



// Sign up form
.occlss-form-cntrs__label--sign-up-title {
    color: $occlss-sign-up-form-font-color-group-title;
    font-size: $occlss-sign-up-form-font-size-group-title;
    font-weight: $occlss-sign-up-form-font-weight-group-title;
    font-family: $occlss-sign-up-form-font-family-group-title;
}
  
  
.occlss-form-cntrs__input--sign-up {
    width: 100%;
    font-size: rem($occlss-sign-up-form-font-size-input);
    padding: rem($occlss-sign-up-form-padding-input);
    border: rem($occlss-sign-up-form-border-input);
    color: $occlss-sign-up-form-font-color-input;
    height: 2.95rem;
}

// Form controls group
.occlss-form-cntrs {
    margin: rem(0 0 30px 0);
  }
  
  .occlss-form-cntrs--listitem {
    margin-bottom: 0;
  }
  
  // Form controls group width
  .occlss-form-cntrs--day,
  .occlss-form-cntrs--month,
  .occlss-form-cntrs--year {
    clear: none;
    float: left;
    margin-right: rem(10px);
    margin-bottom: rem(10px);
    width: rem(53px);
  }
  
  .occlss-form-cntrs--year {
    width: rem(70px);
  }
  
  // sizes
  $input-width:(
    450: 450,
    310: 310,
    210: 210
  );
  
  @each $key,$val in $input-width {
    .occlss-form-cntrs--size-#{$key} {
      @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        max-width: ($val / 16) * 1rem;
      }
    }
}


// Form controls group inline
.occlss-form-cntrs--inline {
  
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    
    .occlss-form-cntrs__input,
    .occlss-form-cntrs__label {
        margin: 0;
    }
    .occlss-form-cntrs__label {
        display: flex;
        display: -ms-flexbox;
        flex: 0 0 auto;
        padding-right: rem(12px);
        align-items: center;
    }
    .occlss-form-cntrs__input {
        width: auto;
        flex: 1 1 auto;
    }
}
  
  
// Password
.occlss-form-cntrs--password {
    position: relative;
}


.occlss-form-cntrs--password .occlss-form-cntrs__input {
    padding-right: rem(50px);
}

.occlss-form-cntrs--error {

    .occlss-form-cntrs__input,
    .occlss-form-cntrs__textarea,
    .occlss-form-cntrs__select {
        width: calc(100% - 40px);
        border: rem(1px) solid $occlss-form-color-base-error;
        background-color: $occlss-form-background-color-base-error;
    }
    
    .occlss-form-cntrs__label {
        margin-top: 0;
    }
}

.occlss-form-cntrs__label--error {
display: inline-block;
}

  // Form lable
.occlss-form-cntrs__label {
    @extend .occlss-form__group-title;
    margin-top: 0;
    display: block;
}

.occlss-form-cntrs__label--small {
    font-size: rem($occlss-form-label-font-size-small);
}

// Custom checkboxes
.occlss-form-cntrs__checkbox,
.occlss-form-cntrs__radiobutton {
// The actual input element is only visible to screen readers, because
// all visual styling is done via the label.

  @extend %sr-only;

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: 0.4em 0.4em 0 0;
    position: static;
    width: auto;
  }

}

.occlss-form-cntrs__checkbox + .occlss-form-cntrs__label,
.occlss-form-cntrs__radiobutton + .occlss-form-cntrs__label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: rem(25px);
}

.occlss-form-cntrs__checkbox + .occlss-form-cntrs__label::before,
.occlss-form-cntrs__radiobutton + .occlss-form-cntrs__label::before {
  background: #ffffff;
  box-shadow: 0 0 0 1px $occlss-form-border-color-checkboxes;
  content: '\a0';
  display: inline-block;
  height: rem($occlss-form-spacing-checkboxes);
  line-height: rem($occlss-form-spacing-checkboxes);
  margin-right: 0.6em;
  text-indent: 0.15em;
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
  width: rem($occlss-form-spacing-checkboxes);
}

.occlss-form-cntrs__radiobutton + .occlss-form-cntrs__label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px $occlss-form-border-color-checkboxes;
  width: rem($occlss-form-spacing-checkboxes);
  height: rem($occlss-form-spacing-checkboxes); // Size overrides to account for shape + checked styling
  line-height: rem($occlss-form-spacing-checkboxes);
  margin-right: 0.75em;
}

.occlss-form-cntrs__radiobutton:checked + .occlss-form-cntrs__label::before {
  background-image: url('#{$occlss-global-image-path}/icon-circle.svg');
  background-position: 50%;
  background-size: rem(17px 17px);
  background-repeat: no-repeat;
}

.occlss-form-cntrs__checkbox:checked + .occlss-form-cntrs__label::before,
.occlss-form-cntrs__checkbox:checked:disabled + .occlss-form-cntrs__label::before {
  background-image: url('#{$occlss-global-image-path}/icon-check.svg');
  background-position: 50%;
  background-size: rem(21px 15px);
  background-repeat: no-repeat;
}

.occlss-form-cntrs__radiobutton:focus + .occlss-form-cntrs__label::before {
  box-shadow: rem(0 0 0 2px #ffffff, 0 0 0 4px $occlss-form-border-color-checkboxes-focus);
  outline-offset: rem(5px);
}

.occlss-form-cntrs__checkbox:disabled + .occlss-form-cntrs__label {
  color: #d6d7d9;
}

.occlss-form-cntrs__checkbox:focus + .occlss-form-cntrs__label::before {
  box-shadow: rem(0 0 0 0px #ffffff, 0 0 0 2px $occlss-form-border-color-checkboxes-focus);
  outline-offset: rem(3px);
}

.occlss-form-cntrs__checkbox:disabled + .occlss-form-cntrs__label::before,
.occlss-form-cntrs__radiobutton:disabled + .occlss-form-cntrs__label::before {
  background: #f1f1f1;
  box-shadow: rem(0 0 0 1px $occlss-form-border-color-checkboxes-disabled);
  cursor: not-allowed;
}

.occlss-form-cntrs__radiobutton:disabled + .occlss-form-cntrs__label::before {
  width: rem(33px);
  height: rem(33px);
}