.occlss-short-search-form {
    margin: 0;
    padding: 0;
}

.occlss-short-search-form__submit {
    padding: rem($occlss-short-search-form-padding-submit);
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        padding: rem(9px 13px);
    }
}

.occlss-short-search-form__input-text {
    width: 100%;
    font-size: rem($occlss-short-search-form-font-size-input-short-search);
    padding: rem($occlss-short-search-form-padding-input);
    border-radius: rem($occlss-short-search-form-border-radius-input);
    border: rem($occlss-short-search-form-border-input);

    &:focus {
        box-shadow: rem(inset 0px 0px 0px 2px $occlss-short-search-form-border-color-input-focus);
        border-color: $occlss-short-search-form-border-color-input-focus;
        outline: none;
    }

}

.occlss-short-search-form__group {
    padding: rem($occlss-short-search-form-padding-form-group);
}

.occlss-short-search-form__icon {
    position: absolute;
    top: rem(9px);
    left: rem(10px);
    pointer-events:none;
    .occlss-icon__container {
        fill: $occlss-short-search-form-icon-color;
    }
}

.occlss-short-search-form__controls {
    position: relative;
}
