.occlss-calendar-date {
    border: rem(1px solid $occlss-calendar-date-color);
    @extend .occlss-layout;
}

.occlss-calendar-date__header,
.occlss-calendar-date__content,
.occlss-calendar-date__footer {
    text-align: center;
}

.occlss-calendar-date__header,
.occlss-calendar-date__content,
.occlss-calendar-date__footer {
    @extend .occlss-layout__col;
    padding: rem(6px);
    font-size: rem($occlss-calendar-font-size); 
    font-weight: $occlss-calendar-font-size-weight;
}

.occlss-calendar-date__header,
.occlss-calendar-date__footer {
    background: $occlss-calendar-date-color;
}


.occlss-calendar-date__content {
    @extend .occlss-layout__col--auto;
}

.occlss-calendar-date__header {
    @extend .occlss-layout__col--sm-4;
}

.occlss-calendar-date__footer {
    @extend .occlss-layout__col--sm-3;
}