.occlss-pagination {
    margin: rem(30px) 0;
}

.occlss-pagination__list {
    @extend %reset_list_style;
}

.occlss-pagination__item {
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}

.occlss-pagination__link {
    display: block;
    padding: rem(15px);
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
        .occlss-pagination__icon {
            fill: $occlss-link-color-primary-hover;
        }
    }
    &:active,
    &:focus {

        @extend %highlight-outline-on-focus;
    }
}

.occlss-pagination__link-title {
    display: block;
    font-size: rem($occlss-pagination-title-font-size);
}

.occlss-pagination__item--previous {
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        float: left;
    }
    text-align: left;
    .occlss-pagination__icon {
        margin-left: 0;
        margin-right: rem(10px);
    }
}

.occlss-pagination__item--next {
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        float: right;
    }
}

.occlss-pagination__icon {
    fill: $occlss-link-color-primary;
    width: rem(22px);
    height: rem(22px);
    margin-left: rem(10px);
}


