.occlss-intro-pane {
    background: $occlss-intro-pane-background;
    border-top: rem($occlss-intro-pane-border-top);
    padding: rem(40px);
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'xs'))) {
        padding: 0;
    }
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
        padding: rem(10px);
    }
}

.occlss-intro-pane__heading {
    font-family: $occlss-intro-pane-font-family-heading;
    font-weight: $occlss-intro-pane-font-weight-heading;
    font-size: rem($occlss-intro-pane-font-size-heading);
    line-height: $occlss-intro-pane-line-height-heading;
    color: $occlss-intro-pane-font-color-heading;
}