.occlss-tab-widget {
    width: auto;
}

.occlss-tab-widget__list {
    @extend %reset_list_style;
    border-bottom: rem(2px solid $occlss-tab-widget-border-color-tabs);
    margin-bottom: rem(20px);
    display: block;

    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'xs'))) {
        display: none;
    }

}

.occlss-tab-widget__item {
    display: inline-block;
    padding-bottom: rem(10px);
    position: relative;
}

.occlss-tab-widget__link {    
    text-decoration: none;
    font-family: $occlss-tab-widget-font-family-tab;
    font-weight: $occlss-tab-widget-font-weight-tab;
    font-size: rem($occlss-tab-widget-font-size-tabs);
    color: $occlss-tab-widget-font-color-tabs;
    padding-right: rem(50px);

    &:focus {
        @extend %highlight-bg-on-focus;
    }
}

.occlss-tab-widget__link--mobile {
    padding: rem(0 0 10px 0);
    font-size: rem($occlss-tab-widget-font-size-tabs - 5px);
    margin-bottom: rem(24px);
    display: block;

    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'xs'))) {
        display: none;
    }

    border-bottom: rem(2px solid $occlss-tab-widget-border-color-tabs);
}

.occlss-tab-widget__mobile-link-icon {
    width: rem(19px);
    height: rem(19px);
    margin-left: rem(10px);
}

.is-active {
    &.occlss-tab-widget__link {
        font-size: rem($occlss-tab-widget-font-size-tabs-active);
        &:after {
            content: "";
            background: $occlss-tab-widget-border-color-tabs;
            width: 100%;
            height: rem(7px);
            bottom: 0;
            display: block;
            position: absolute;
        }
    }
    &.occlss-tab-widget__link--mobile {
        &:after {
            display: none;
        }
    }
}

.occlss-tab-widget__tab-content {    
    display: none;
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'xs'))) {
        margin-bottom: rem(16px);
    }
}

.occlss-tab-widget__see-more-link-icon {
    width: rem(19px);
    height: rem(19px);

    fill: $occlss-summary-list-font-color-tab-widget;

    margin-left: rem(10px);
}

.occlss-tab-widget__see-more-link {
    display: block;
    color: $occlss-summary-list-font-color-tab-widget;
    &:hover {
        .occlss-tab-widget__see-more-link-icon {
            fill: $occlss-summary-list-font-color-tab-widget-hover;
        }
    }
    &:focus {
        @extend %highlight-bg-on-focus;
    }
}

.is-active.occlss-tab-widget__tab-content,
.no-js .occlss-tab-widget__tab-content {
    display: block;
}