.occlss-trim {
    border: 1px solid $occlss-trim-border-color-primary;
    padding: rem(10px);
    
    &--green {
        border: 1px solid $occlss-trim-border-color-green;
        border-top-width: rem(20px);
        margin-bottom: rem(73px);
    }
}