.occlss-featured-panel {
    width: 100%;
    height: 100%;
    height: inherit;
    padding: rem(20px);
    position: relative;
    display: block;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-decoration: none;
    background: $occlss-featured-panel-background-color;
    color: $occlss-featured-panel-font-color;
    &:hover {
        color: $occlss-featured-panel-font-color;
        text-decoration: underline;
    }

    &:focus {
        @extend %highlight-outline-on-focus;
    }
    
}


// Text line sizes

.occlss-featured-panel__text-line--header-mega {
    font-size: rem($occlss-featured-panel-text-line-font-size-header-mega);
    font-weight: $occlss-featured-panel-text-line-font-weight-header-mega;
    font-family: $occlss-featured-panel-text-line-font-family-header-mega;
    line-height: 0.9;
    margin-bottom: rem(20px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-header-mega);
        height: rem($occlss-featured-panel-text-line-font-size-header-mega);
    }
}

.occlss-featured-panel__text-line--header-xlarge {
    font-size: rem($occlss-featured-panel-text-line-font-size-header-xlarge);
    font-weight: $occlss-featured-panel-text-line-font-weight-header-xlarge;
    font-family: $occlss-featured-panel-text-line-font-family-header-xlarge;
    margin-bottom: rem(18px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-header-xlarge);
        height: rem($occlss-featured-panel-text-line-font-size-header-xlarge);
    }
}

.occlss-featured-panel__text-line--header-large {
    font-size: rem($occlss-featured-panel-text-line-font-size-header-large);
    font-weight: $occlss-featured-panel-text-line-font-weight-header-large;
    font-family: $occlss-featured-panel-text-line-font-family-header-large;
    margin-bottom: rem(18px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-header-large);
        height: rem($occlss-featured-panel-text-line-font-size-header-large);
    }
}

.occlss-featured-panel__text-line--header-small {
    font-size: rem($occlss-featured-panel-text-line-font-size-header-small);
    font-weight: $occlss-featured-panel-text-line-font-weight-header-small;
    font-family: $occlss-featured-panel-text-line-font-family-header-small;
    margin-bottom: rem(10px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-header-small);
        height: rem($occlss-featured-panel-text-line-font-size-header-small);
    }
}

.occlss-featured-panel__text-line--text-medium {
    font-size: rem($occlss-featured-panel-text-line-font-size-text-medium);
    margin-bottom: rem(20px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-text-medium);
        height: rem($occlss-featured-panel-text-line-font-size-text-medium);
    }
}

.occlss-featured-panel__text-line--text-large {
    font-size: rem($occlss-featured-panel-text-line-font-size-text-large);
    margin-bottom: rem(20px);
    .occlss-icon__container {
        width: rem($occlss-featured-panel-text-line-font-size-text-large);
        height: rem($occlss-featured-panel-text-line-font-size-text-large);
    }
}


.occlss-featured-panel__text-line--header-mega,
.occlss-featured-panel__text-line--header-xlarge,
.occlss-featured-panel__text-line--header-large,
.occlss-featured-panel__text-line--header-small,
.occlss-featured-panel__text-line--text-medium,
.occlss-featured-panel__text-line--text-large {
    &:last-of-type {
        margin-bottom: 0;
    }
}


.occlss-featured-panel--nogaps {
    .occlss-featured-panel__text-line--header-mega,
    .occlss-featured-panel__text-line--header-xlarge,
    .occlss-featured-panel__text-line--header-large,
    .occlss-featured-panel__text-line--header-small,
    .occlss-featured-panel__text-line--text-medium,
    .occlss-featured-panel__text-line--text-large {
        margin-bottom: 0;
    }
}


.occlss-featured-panel__link-icon {
    fill: #ffffff;
}

// Mods

.occlss-featured-panel--aqua-dee {
    background: $occlss-featured-panel-background-color-aqua-deep;
}

.occlss-featured-panel--givry {
    background: $occlss-featured-panel-background-color-givry;
    color: $occlss-featured-panel-font-color-givry;
    .occlss-featured-panel__link-icon {
        fill: $occlss-featured-panel-font-color-givry;
    }
    &:hover {
        color: $occlss-featured-panel-font-color-givry;
    }
}

.occlss-featured-panel--ghost {
    background: $occlss-featured-panel-background-color-ghost;
    color: $occlss-featured-panel-font-color-ghost;
    .occlss-featured-panel__link-icon {
        fill: $occlss-featured-panel-font-color-ghost;
    }
    &:hover {
        color: $occlss-featured-panel-font-color-ghost;
    }
}

.occlss-featured-panel--como {
    background: $occlss-featured-panel-background-color-como;
}

.occlss-featured-panel--ronchi {
    background: $occlss-featured-panel-background-color-ronchi;
    color: $occlss-featured-panel-font-color-ronchi;
    .occlss-featured-panel__link-icon {
        fill: $occlss-featured-panel-font-color-ronchi;
    }
    &:hover {
        color: $occlss-featured-panel-font-color-ronchi;
    }
}

