.occlss-sign-up-form {
    margin: 0;
    padding: 0;
}

.occlss-sign-up-form__input-text {
    width: 100%;
    font-size: rem($occlss-sign-up-form-font-size-input);
    padding: rem($occlss-sign-up-form-padding-input);
    border: rem($occlss-sign-up-form-border-input);
    color: $occlss-sign-up-form-font-color-input;
}

.occlss-sign-up-form__group {
    padding: rem($occlss-sign-up-form-padding-group);
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
        padding-right: 0;
        margin-bottom: rem(16px);
    }
}

.occlss-sign-up-form__group-title {
    color: $occlss-sign-up-form-font-color-group-title;
    font-size: $occlss-sign-up-form-font-size-group-title;
    font-weight: $occlss-sign-up-form-font-weight-group-title;
    font-family: $occlss-sign-up-form-font-family-group-title;
}

.occlss-sign-up-form__icon {
    position: absolute;
    top: rem(9px);
    left: rem(10px);
    pointer-events:none;  
}

.occlss-sign-up-form__controls {
    display: flex;
    justify-content: flex-end;
    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
        padding-right: rem(20px);
    }
}

.occlss-sign-up-form__submit {
    padding: rem($occlss-sign-up-form-padding-submit);
    margin-bottom: 0;
    &:focus,
    &:active {
        box-shadow: none;
    }
}