.occlss-summary-list {
    @extend %reset_list_style;
    margin-bottom: rem(10px);
}

.occlss-summary-list__item {
    border-bottom: rem(1px solid $occlss-summary-list-border-color-item);
    padding-bottom: rem(4px);
    margin-bottom: rem(7px);
    margin-left: 0;
}

.occlss-summary-list__link {
    text-decoration: none;
    display: block;
    &:focus {
        @extend %highlight-bg-on-focus;
    }
}


.occlss-summary-list--tasks-pane {
    
    .occlss-summary-list__item {
        border-bottom: none;
        padding: rem(0 10px);
        margin-bottom: rem(10px);
    }

    .occlss-summary-list__link {
        color: $occlss-summary-list-font-color-tab-widget;
        &:hover {
            text-decoration: underline;
        }
    }
}