/*.occlss-find-my-nearest {
    background: $occlss-find-my-nearest-bg-color;
    padding-top: rem(19px);
    padding-bottom: rem(19px);
}

.occlss-find-my-nearest__find-my-location-cont,
.occlss-find-my-nearest__controls,
.occlss-find-my-nearest__submit,
.occlss-find-my-nearest__input-group {
    margin-bottom: 0;
}

.occlss-find-my-nearest__search-form-cont {
    .occlss-layout__col {
        padding: rem(0 10px 0 0);
    }
}

.occlss-find-my-nearest__label {
    margin-bottom: 0;
    font-size: rem($occlss-find-my-nearest-label-font-size);
}

.occlss-find-my-nearest__icon {
    width: rem(50px);
    height: rem(50px);
}

.occlss-find-my-nearest__link {
    font-size: ($occlss-find-my-nearest-link-font-size);
    font-weight: $occlss-find-my-nearest-link-font-weight;
    transition: all 0.5s ease;
    padding: 0;
    &:hover {
        color: $occlss-find-my-nearest-link-color-hover;
        text-decoration: none;
    }
    &:focus {
        @extend %highlight-bg-on-focus;
    }
    &.is-disabled {
        color: $occlss-find-my-nearest-link-color-disabled;
        pointer-events: none;
        text-decoration: none;
        background-color: transparent;
        outline: transparent;
    }
}

.occlss-find-my-nearest__find-my-location-cont {
    padding-left: 0;
    padding-right: 0;
}

.occlss-find-my-nearest__search-form-cont--postcode {
    .occlss-layout__col {
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            padding-right: 0;
        }
    }
    .occlss-form-cntrls__input {
      @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            margin-bottom: rem(10px);
        }  
    }
}

.occlss-find-my-nearest__desc-text {
    display: block;
    margin: rem(14px 0 10px 0);
}

.occlss-find-my-nearest--short {
    padding: 0;
    .occlss-find-my-nearest__search-form-cont {
        padding: 0;
    }
    .occlss-form-cntrls__input {
        margin-bottom: rem(20px);
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            margin-bottom: rem(15px);
        }
    }
    .occlss-find-my-nearest__search-form-cont {
        .occlss-layout__col {
            padding: 0;
        }
    }
    .occlss-find-my-nearest__controls {
        margin-bottom: rem(10px);
    }

}

.occlss-find-my-nearest--district {
    //max-width: rem(600px);
    margin-bottom: rem(40px);
    .occlss-find-my-nearest__input-group {
        padding-bottom: rem(24px);
    }
    .occlss-find-my-nearest__controls {
        @extend .occlss-layout__col--align-self-end;
        margin-bottom: rem(24px);
        padding-left: rem(24px);
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
            margin-bottom: rem(12px);
            padding-left: 0;
        }
    }
    .occlss-form-cntrls__input {
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'sm'))) {
            margin-bottom: 0;
        }
    }
    .occlss-find-my-nearest__find-my-location-cont {
        @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
            margin-bottom: 0;
        }
    }
    .occlss-find-my-nearest__search-form-cont {
        padding-left: rem(10px);
    }
}

.occlss-find-my-nearest--district-tight {
    .occlss-find-my-nearest__controls {
            margin-bottom: rem(12px);
            padding-left: 0;
    }
    .occlss-form-cntrls__input {
            margin-bottom: 0;
    }
    .occlss-find-my-nearest__find-my-location-cont {
            margin-bottom: 0;
    }
    .occlss-find-my-nearest__link {
        margin-bottom: 0;
        padding: 0;
        font-size: rem(16px);
    }
    .occlss-find-my-nearest__input-group {
        padding-bottom: rem(12px);
    }
}

.occlss-find-my-nearest--side-bar {
    .occlss-layout__col {
        @extend .occlss-layout__col--xs-12;
    }
}
*/

/* OCCLSS Find my nearest
 * @version 1.0.0
 */

.occlss-find-my-nearest__link:focus {
    color: #1a1a1a;
    background-color: #edc856;
    outline: 2px solid #edc856
}

.occlss-find-my-nearest__link:hover:focus {
    color: #1a1a1a
}

@media(min-width: 480px) {
    .occlss-find-my-nearest--side-bar .occlss-layout__col,
    .occlss-find-my-nearest--side-bar .occlss-short-summary__link-cont,
    .occlss-find-my-nearest--side-bar .occlss-short-summary__title-cont,
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest--side-bar .occlss-promoted-content-panel__content {
        width: 100%;
        *width: 99.9%
    }
}

.occlss-find-my-nearest--district .occlss-find-my-nearest__controls {
    align-self: flex-end;
    vertical-align: bottom
}

.occlss-find-my-nearest {
    background: #d6d8e0;
    padding-top: 1.1875rem;
    padding-bottom: 1.1875rem
}

.occlss-find-my-nearest__find-my-location-cont,
.occlss-find-my-nearest__controls,
.occlss-find-my-nearest__submit,
.occlss-find-my-nearest__input-group {
    margin-bottom: 0
}

.occlss-find-my-nearest__search-form-cont .occlss-layout__col,
.occlss-find-my-nearest__search-form-cont .occlss-short-summary__link-cont,
.occlss-find-my-nearest__search-form-cont .occlss-short-summary__title-cont,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content {
    padding: 0 .625rem 0 0
}

.occlss-find-my-nearest__label {
    margin-bottom: 0;
    font-size: 1.5rem
}

.occlss-find-my-nearest__icon {
    width: 3.125rem;
    height: 3.125rem
}

.occlss-find-my-nearest__link {
    font-size: 20px;
    font-weight: 400;
    transition: all .5s ease;
    padding: 0
}

.occlss-find-my-nearest__link:hover {
    color: #073d73;
    text-decoration: none
}

.occlss-find-my-nearest__link.is-disabled {
    color: #656d80;
    pointer-events: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    outline: rgba(0, 0, 0, 0)
}

.occlss-find-my-nearest__find-my-location-cont {
    padding-left: 0;
    padding-right: 0
}

@media(max-width: 992px) {

    .occlss-find-my-nearest__search-form-cont--postcode .occlss-layout__col,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-short-summary__link-cont,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-short-summary__title-cont,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-left .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__content,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__image-container,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
    .occlss-promoted-content-panel--image-top .occlss-find-my-nearest__search-form-cont--postcode .occlss-promoted-content-panel__content {
        padding-right: 0
    }
}

@media(max-width: 992px) {
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-form-cntrls__input {
        margin-bottom: .625rem
    }
}

.occlss-find-my-nearest__desc-text {
    display: block;
    margin: .875rem 0 .625rem 0
}

.occlss-find-my-nearest--short {
    padding: 0
}

.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont {
    padding: 0
}

.occlss-find-my-nearest--short .occlss-form-cntrls__input {
    margin-bottom: 1.25rem
}

@media(max-width: 992px) {
    .occlss-find-my-nearest--short .occlss-form-cntrls__input {
        margin-bottom: .9375rem
    }
}

.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-layout__col,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-short-summary__link-cont,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-short-summary__title-cont,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-left .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-left .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__image-container,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__image-container,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel--image-top .occlss-promoted-content-panel__content,
.occlss-promoted-content-panel--image-top .occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-promoted-content-panel__content {
    padding: 0
}

.occlss-find-my-nearest--short .occlss-find-my-nearest__controls {
    margin-bottom: .625rem
}

.occlss-find-my-nearest--district {
    margin-bottom: 2.5rem
}

.occlss-find-my-nearest--district .occlss-find-my-nearest__input-group {
    padding-bottom: 1.5rem
}

.occlss-find-my-nearest--district .occlss-find-my-nearest__controls {
    margin-bottom: 1.5rem;
    padding-left: 1.5rem
}

@media(max-width: 768px) {
    .occlss-find-my-nearest--district .occlss-find-my-nearest__controls {
        margin-bottom: .75rem;
        padding-left: 0
    }
}

@media(max-width: 768px) {
    .occlss-find-my-nearest--district .occlss-form-cntrls__input {
        margin-bottom: 0
    }
}

@media(max-width: 992px) {
    .occlss-find-my-nearest--district .occlss-find-my-nearest__find-my-location-cont {
        margin-bottom: 0
    }
}

.occlss-find-my-nearest--district .occlss-find-my-nearest__search-form-cont {
    padding-left: .625rem
}

.occlss-find-my-nearest--district-tight .occlss-find-my-nearest__controls {
    margin-bottom: .75rem;
    padding-left: 0
}

.occlss-find-my-nearest--district-tight .occlss-form-cntrls__input {
    margin-bottom: 0
}

.occlss-find-my-nearest--district-tight .occlss-find-my-nearest__find-my-location-cont {
    margin-bottom: 0
}

.occlss-find-my-nearest--district-tight .occlss-find-my-nearest__link {
    margin-bottom: 0;
    padding: 0;
    font-size: 1rem
}

.occlss-find-my-nearest--district-tight .occlss-find-my-nearest__input-group {
    padding-bottom: .75rem
}

@media(min-width: 480px) {

    .occlss-find-my-nearest--side-bar .occlss-calendar-date__header,
    .occlss-find-my-nearest--side-bar .occlss-calendar-date__content,
    .occlss-find-my-nearest--side-bar .occlss-calendar-date__footer {
        width: 100%;
        *width: 99.9%
    }
}

.occlss-find-my-nearest__search-form-cont .occlss-calendar-date__header,
.occlss-find-my-nearest__search-form-cont .occlss-calendar-date__content,
.occlss-find-my-nearest__search-form-cont .occlss-calendar-date__footer {
    padding: 0 .625rem 0 0
}

@media(max-width: 992px) {

    .occlss-find-my-nearest__search-form-cont--postcode .occlss-calendar-date__header,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-calendar-date__content,
    .occlss-find-my-nearest__search-form-cont--postcode .occlss-calendar-date__footer {
        padding-right: 0
    }
}

.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-calendar-date__header,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-calendar-date__content,
.occlss-find-my-nearest--short .occlss-find-my-nearest__search-form-cont .occlss-calendar-date__footer {
    padding: 0
}