---
title: Standart page
description: [Description]
section: Pages
layout: layout-pane.njk
theme: Landing page
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

{{ example({group: "pages", item: "standart-page", example: "default", html: true }) }}

### When to use this component 

[Text]
