---
title: Input text error
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "input-text",
  state: "error",
  statusMessage: "Helpful error message",
  labelText: "Text input label",
  fldName: "Text input label"
}) }}



