{{#featuredPanelDefault}}
<a href="{{featured-panel-view-more-link-url}}" class="occlss-featured-panel {{ featured-panel-mod-class }}">
    <div class="occlss-featured-panel__content">
        {{#featured-panel-heading-text}}
        <h2 class="occlss-featured-panel__heading {{ featured-panel-heading-size-class }}">
            {{ featured-panel-heading-text }} 
            {{#featured-panel-heading-arrow}}
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                    <svg aria-hidden="true" class="occlss-icon__container occlss-featured-panel__link-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                    </svg>
                </span>
            {{/featured-panel-heading-arrow}}
        </h2>
        {{/featured-panel-heading-text}} 

        {{#featured-panel-summary-text}}
            <p class="occlss-featured-panel__short-summary">{{{ featured-panel-summary-text }}}</p>
        {{/featured-panel-summary-text}} 
        {{#featured-panel-intro-text}}
            <p class="occlss-featured-panel__intro">{{featured-panel-intro-text}}</p>
        {{/featured-panel-intro-text}} 
        {{#featured-panel-view-more-links}}
                {{#featured-panel-view-more-link-text}}
                    <div class="occlss-featured-panel__view-more-link {{ featured-panel-view-more-link-size-class }}">
                        {{ featured-panel-view-more-link-text }}
                        {{#featured-panel-view-more-link-arrow}}
                        <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                            <svg aria-hidden="true" class="occlss-icon__container occlss-featured-panel__link-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                                    class="icon__source icon__source--svg"></use>
                            </svg>
                        </span>
                        {{/ featured-panel-view-more-link-arrow}}
                    </div>
                {{/featured-panel-view-more-link-text}}
        {{/featured-panel-view-more-links}}

    </div>
</a>
{{/featuredPanelDefault}}