---
title: Landing page
description: [Description]
section: Pages
layout: layout-pane.njk
theme: Landing page
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Index page

{{ example({group: "pages", item: "landing-pages", example: "index-page", html: true }) }}

## Simple landing page

{{ example({group: "pages", item: "landing-pages", example: "simple-landing-page", html: true }) }}




