{{> organisms-page-head-with-login-nav }}

<div id="occlss-main-content">


  <div class="occlss-footer-feedback js-occlss-footer-feedback">

    <div class="occlss-wrapper">
        <div class="occlss-footer-feedback__controls">
            <a href="#" class="occlss-footer-feedback__link js-footer-feedback-open">Is there anything wrong with this page?</a>
        </div>
    </div>



    <div class="occlss-wrapper occlss-footer-feedback__wrapper">
    <div class="occlss-footer-feedback__form-cont">
      <div class="occlss-layout occlss-layout--gutter-s occlss-u-bpspace-none">
        <div class="occlss-layout__col">
            
                <div class="occlss-footer-feedback__close-cont">
                    <a href="#" class="js-footer-feedback-close">Close</a>
                </div>

                <!---->

                <form class="js-webform-details-toggle">
                    <div class="occlss-form-cntrls js-form-type-processed-text">
                        <h2><b>Help us improve Oxfordshire.gov.uk</b></h2>
                        <p>Don’t include any personal or financial information like your National Insurance number or credit
                        card numbers.</p>
                    </div>

                    <div class="occlss-form-cntrls js-form-item js-form-type-textfield js-form-item-what-were-you-doing-">
                        <label class="occlss-form-cntrls__label" for="edit-what-were-you-doing-">What were you doing?</label>
                        <input class="occlss-form-cntrls__input occlss-form-cntrls--size-450" type="text" value="" size="60" maxlength="255">
                    </div>

                    <div class="occlss-form-cntrls js-form-item form-item js-form-type-textfield form-item-what-went-wrong- js-form-item-what-went-wrong-">
                        <label class="occlss-form-cntrls__label" for="edit-what-went-wrong-">What went wrong?</label>
                        <input class="occlss-form-cntrls__input occlss-form-cntrls--size-450 form-text" type="text" value="" size="60" maxlength="255">
                    </div>

                    <input class="webform-button--submit occlss-button occlss-button--primary js-occlss-footer-feedback-submit" data-drupal-selector="edit-actions-submit" data-disable-refocus="true" type="submit" id="edit-actions-submit" name="op" value="Send">
                    <input autocomplete="off" data-drupal-selector=""  type="hidden" name="form_build_id" value="">
                    <input data-drupal-selector="edit-webform-submission-feedback-footer-add-form-form-token" type="hidden" name="form_token" value="">
                    <input data-drupal-selector="edit-webform-submission-feedback-footer-add-form" type="hidden" name="form_id" value="webform_submission_feedback_footer_add_form">
                </form>

                <!---->
            
        </div>
      </div>
      </div>
    </div>
  </div>


</div>

{{> organisms-page-footer }}