---
title: Components
description: [Description here]
section: Components
aliases:
layout: layout-pane.njk
---

Components are used to style groups of objects or text. They can be used on their own or in conjunction with other elements.

Each component has a set of rules that determine how and when it should be used.

