---
title: Box out
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "box-out/macro.njk" import occlssBoxOut %}

{{ occlssBoxOut({
  heading: "How to supply your documents",
  content: [
    {
      type: "p",
      items: [
        {
          content: "If you are unable to upload your documents to the application form, you can take then to one of the Libraries listed below to be validated."
        }
      ]
    },{
      type: "ul",
      items: [
        {
          content: "Abingdon Library"
        },{
          content: "Didcot Library"
        },{
          content: "Oxfordshire County Library"
        },{
          content: "Summertown Library"
        },{
          content: "Wallingford Library"
        }
      ]
    },{
      type: "p",
      items: [
        {
          content: "You will need to take original documents but they will be returned to you."
        }
      ]
    }
  ]
}) }}