/* OCCLSS Secondary site nav
 * @version 1.0.0
 */

@media(max-width: 480px) {
    .occlss-secondary-site-nav--mobile {
        display: none
    }
}

@media(max-width: 480px) {
    .occlss-secondary-site-nav--mobile.is-active {
        display: block
    }
}

.occlss-secondary-site-nav__container {
    background: #00483a
}

.occlss-secondary-site-nav__list {
    list-style: none;
    padding: 0 0 0 1rem;
    margin: .375rem 0 0 0
}

@media(max-width: 480px) {
    .occlss-secondary-site-nav__list {
        padding: 0
    }
}

.occlss-secondary-site-nav__item {
    display: inline-block;
    margin-right: 1.875rem;
    margin-bottom: 0
}

@media(max-width: 480px) {
    .occlss-secondary-site-nav__item {
        display: block;
        width: 100%;
        padding: .75rem;
        text-align: center;
        border-bottom: 1px solid #fff
    }
}

.occlss-secondary-site-nav__item:last-child {
    margin-right: 0
}

.occlss-secondary-site-nav__link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block
}

@media(max-width: 480px) {
    .occlss-secondary-site-nav__menu {
        padding: .1875rem
    }
}