---
title: Top tasks pane
description: [Description]
section: Components
layout: layout-pane.njk
theme: Hero
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

This component is used only on the residents homepage (main Oxfordshire County Council homepage). It allows a user to navigate to the most popular services that can be accessed online.

{{ example({group: "components", item: "top-tasks-pane", example: "default", html: true }) }}

## Changelog

#### 1.0.0

- Component Added