---
title: Top tasks pane
description: [Description]
section: Components
layout: layout-pane.njk
theme: Hero
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Accordion

{{ example({group: "components", item: "top-tasks-pane", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added