{{> organisms-page-head-with-form}}
<main id="occlss-main-content">
  <div class="occlss-wrapper">
      {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
  </div>
  <section>
    <div class="occlss-wrapper">
      {{> organisms-hero-pane(occlss-hero-title: "Business", occlss-hero-image: "../../images/demo/hero-image-3.jpg", occlss-hero-mod-class: "occlss-hero-pane--lgimage",occlss-hero-heading-mod: "occlss-hero-pane__heading--business") }}     
    </div>
  </section>

  <section>

      <div class="occlss-wrapper"><!--START wrapper block-->
        <div class="occlss-layout occlss-layout--gutter-s occlss-u-tspace-sm"><!--START layout block-->
          
          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-6">
            <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--aqua-dee">
              <div class="occlss-promoted-content-panel__content">
                <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                  Non-household waste
                  <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                    costs
                    <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                        class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </a>
          </div>


          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-6">
            <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--boston-blue">
              <div class="occlss-promoted-content-panel__content">
                <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                  Van and trailer
                  <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                    e-permits
                    <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                        class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </a>
          </div>

          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-8">
            <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky occlss-promoted-content-panel--image-top">
              <figure class="occlss-promoted-content-panel__image-container">
                    <img src="/images/demo/hero-image-3.jpg" width="1200" class="occlss-promoted-content-panel__image" alt="Meet the Innovation winners as bids invited for a slice of £100,000 in grant funding">
              </figure>
              <div class="occlss-promoted-content-panel__content">
                <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                    Household waste recycling centres
                </div>
                <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--text-medium">
                  Summary of the feature with a link to 
                  <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                    content.
                    <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                        class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </a>
          </div>

          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-4 occlss-layout__col--bleed">
            <div class="occlss-layout">

              <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-12">
                <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--boston-blue">
                  <div class="occlss-promoted-content-panel__content">
                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                      Van and trailer
                      <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                        e-permits
                        <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-12">
                
                <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky occlss-promoted-content-panel--image-top">
                  <figure class="occlss-promoted-content-panel__image-container">
                    <img src="/images/demo/hero-image-3.jpg" width="1200" class="occlss-promoted-content-panel__image" alt="Meet the Innovation winners as bids invited for a slice of £100,000 in grant funding">
                  </figure>
                  <div class="occlss-promoted-content-panel__content">
                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                        Household waste recycling centres
                    </div>
                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--text-medium">
                      Summary of the feature with a link to 
                      <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                        content.
                        <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                        </svg>
                      </span>

                    </div>
                  </div>
                </a>

              </div>

              <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-12">
                <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--boston-blue">
                  <div class="occlss-promoted-content-panel__content">
                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                      Van and trailer
                      <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                        e-permits
                        <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>

<!-- Panels are here -->

          <div class="occlss-layout__col occlss-layout__col--md-4">
            
            <div class="js-occlss-popular-content-pane occlss-popular-content-pane occlss-popular-content-pane--residents" id="tab-Children-and-families"
              tabindex="0" aria-controls="panel-Children-and-families" role="tab">

              <div id="block-childrenandfamilies" class="block block-block-content block-block-content4c72fc22-71a4-4af5-b7e6-2aee49ff804d blocck--sitelinks">
                
                <h2 id="Fire-and-public-safety" class="occlss-popular-content-pane__heading">Fire and public safety</h2>
                
                <div class="occlss-popular-content-pane__content" id="panel-Children-and-families" aria-labelledby="tab-Children-and-families"
                  role="tabpanel">
                  
                  <ul class="occlss-summary-list occlss-summary-list--popular-content-pane">
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-and-rescue-service" class="occlss-summary-list__link">Fire and Rescue Service</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-stations" class="occlss-summary-list__link">Fire stations</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/content/fire-drills-schools" class="occlss-summary-list__link">Fire drills in schools</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/content/fire-marshalwarden-training" class="occlss-summary-list__link">Fire marshal/warden training</a>
                    </li>
                    <li class="occlss-summary-list__item">
                      <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-and-public-safety" class="occlss-summary-list__link">More fire and public safety</a>
                    </li>
                  </ul>

                </div>

              </div>

            </div>

          </div>

          <div class="occlss-layout__col occlss-layout__col--md-8 occlss-layout__col--flex">

            <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky occlss-promoted-content-panel--image-left">
                
                <figure class="occlss-promoted-content-panel__image-container">
                    <img src="/images/demo/hero-image-3.jpg" class="occlss-promoted-content-panel__image" alt="Meet the Innovation winners as bids invited for a slice of £100,000 in grant funding">
                </figure>

                <div class="occlss-promoted-content-panel__content">

                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                        Energy from waste
                    </div>

                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--text-medium">
                      Help us turn more food waste
                      <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                        content.
                        <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                        </svg>
                      </span>
                    </div>

                </div>

            </a>

          </div>

          <div class="occlss-layout__col occlss-layout__col--md-8 occlss-layout__col--flex">

            <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky occlss-promoted-content-panel--image-left">
                
                <figure class="occlss-promoted-content-panel__image-container occlss-promoted-content-panel__image-container--cell">
                    <img src="/images/demo/hero-image-3.jpg" class="occlss-promoted-content-panel__image" alt="Meet the Innovation winners as bids invited for a slice of £100,000 in grant funding">
                </figure>

                <div class="occlss-promoted-content-panel__content occlss-promoted-content-panel__content--cell">

                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                        Energy from waste
                    </div>

                    <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--text-medium">
                      Help us turn more food waste
                      <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                        content.
                        <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                            class="icon__source icon__source--svg"></use>
                        </svg>
                      </span>
                    </div>

                </div>

            </a>

          </div>

          <div class="occlss-layout__col occlss-layout__col--md-4">
            
            <div class="js-occlss-popular-content-pane occlss-popular-content-pane occlss-popular-content-pane--residents" id="tab-Children-and-families"
              tabindex="0" aria-controls="panel-Children-and-families" role="tab">

              <div id="block-childrenandfamilies" class="block block-block-content block-block-content4c72fc22-71a4-4af5-b7e6-2aee49ff804d blocck--sitelinks">
                
                <h2 id="Fire-and-public-safety" class="occlss-popular-content-pane__heading">Fire and public safety</h2>
                
                <div class="occlss-popular-content-pane__content" id="panel-Children-and-families" aria-labelledby="tab-Children-and-families"
                  role="tabpanel">
                  
                  <ul class="occlss-summary-list occlss-summary-list--popular-content-pane">
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-and-rescue-service" class="occlss-summary-list__link">Fire and Rescue Service</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/public-site/fire-stations" class="occlss-summary-list__link">Fire stations</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/content/fire-drills-schools" class="occlss-summary-list__link">Fire drills in schools</a>
                    </li>
                    <li class="occlss-summary-list__item occlss-summary-list__item--underlined">
                      <a href="https://www2.oxfordshire.gov.uk/cms/content/fire-marshalwarden-training" class="occlss-summary-list__link">Fire marshal/warden training</a>
                    </li>
                  </ul>

                </div>

              </div>

            </div>

          </div>

        </div><!--End layout elemnt -->
  </section>


</main>

<section class="occlss-section occlss-section--find-my-nearest">
  {{> organisms-find-my-nearest }}
</section>

{{> organisms-page-footer }}
