{{> organisms-page-head-with-form}}


<div class="occlss-wrapper">
  {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
</div>

<section id="pagecontent">
  <div class="occlss-wrapper">

    <article role="article" class="occlss-wrapper occlss-wrapper--secondary">

      <div class="occlss-layout occlss-layout--gutter-s">


        <header class="occlss-layout__col occlss-layout__col--md-8">
          <h1 class="occlss-g-heading-main occlss-u-bspace-sm">Apply for a Blue Badge</h1>
          <p class="occlss-g-summary-text occlss-u-bspace-none">How to apply or renew a disabled parking Blue Badge.</p>
          {{> molecules-content-nav }}
        </header>

        <div class="occlss-layout__col occlss-layout__col--md-8">

          <h2>How to supply your documents</h2>

          <p>You may qualify for a Blue Badge if any of the following apply.</p>

          <h3>Auto-eligible criteria</h3>

         <div class="occlss-accordion js-occlss-accordion">
            <h3 class="occlss-accordion__panel-title">Terminal illness</h3>
            <div class="occlss-accordion__panel-content">
              <p>If you are someone who has been given a medical prognosis of less than a year to live, please speak to your MacMillan Nurse, hospice worker, specialist nurse, GP or Health Professional who will complete a form on your behalf. You do not have to complete an application.</p>
            </div>

            <h3 class="occlss-accordion__panel-title">Disability Living Allowance mobility component</h3>
            <div class="occlss-accordion__panel-content">
              <p>
                  You qualify if you are:
              </p>
              <ul>
                <li>In receipt of the Higher Rate Mobility Component – this will be confirmed on the letter from the DWP.</li>
              </ul>
              <p>You don't qualify if you are in receipt of:</p>
              <ul>
                <li>Low or Middle Rate Mobility Component</li>
                <li>the Care Component at any rate (unless they are also in receipt of the Higher Rate Mobility Component)</li>
                <li>Attendance Allowance at any rate</li>
                <li>Pension Credit</li>
              </ul>
            </div>
          </div>


           <div class="occlss-accordion js-occlss-accordion">
            <h3 class="occlss-accordion__panel-title">8 points or more of the mobility component of PIP</h3>
            <div class="occlss-accordion__panel-content">
              <p>You qualify if you are:</p>
              <ul>
                  <li>
                      In receipt of a score of 8 points or more in the ‘moving around’ activity of the Mobility Component of Personal Independence Payment. 
                  </li>
              </ul>
              <p>You don't qualify if you:</p>
              <ul>
                <li>Are in receipt of a score of 7 or less under the ‘moving around’ activity of the Mobility Component of Personal Independence Payment.</li>
                <li>Score on the ‘planning and following a journey’ activity of the Mobility Component (unless they are also in receipt a score of 8 points or more of the Mobility Component).</li>
                <li>Are in receipt of the Daily Living Component of Personal Independence Payment (unless they are also in receipt a score of 8 points or more of the Mobility Component).</li>
              </ul>
            </div>

            <h3 class="occlss-accordion__panel-title">Lump sum at tariff 1-8 from the Armed Forces Compensation Scheme</h3>
            <div class="occlss-accordion__panel-content">
              <p>
                  You qualify if you are:
              </p>
              <ul>
                <li>Awarded a lump sum benefit at tariffs 1-8 of the Armed Forces and Reserve Forces (Compensation) Scheme and certification of having a permanent and substantial difficulty which causes inability to walk or very considerable difficulty in walking.</li>
              </ul>
              <p>You don't qualify if you:</p>
              <ul>
                <li>Awarded a lump sum benefit at tariff 9 – 15 of the Armed Forces and Reserve Forces (Compensation) Scheme.</li>
                <li>In receipt of a lump sum benefit at tariffs 1-8 of the Armed Forces and Reserve Forces (Compensation) Scheme without certification of having a permanent and substantial difficulty which causes inability to walk or very considerable difficulty in walking.</li>
              </ul>
            </div>

            <h3 class="occlss-accordion__panel-title">Child under 3 who needs bulky medical equipment</h3>
            <div class="occlss-accordion__panel-content">
              <p>
                 You qualify if your child has a specific medical condition which means that they must always be accompanied by bulky medical equipment which cannot be carried around without great difficulty.
              </p>
            </div>

          </div>
        <h4>Awaiting or recovering from surgery or treatment</h4>
        <p>
          If you have had surgery within the past 3 months we won't consider your application unless surgery is not expected to have improved your walking ability.
        </p>
        <p>
          If you are awaiting surgery or treatment, and expect this to improve your walking ability you should give the date you expect to have surgery on your application form.
        </p>

        <h2>What if you don’t qualify?</h2>

        <p>
          If you don't qualify then find out about options for people with mobility problems on our accessible transport pages.
        </p>

        {{> molecules-pagination }}



        </div>
        <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--offset-1-md">



          <div>
            <div>
              <div>



              </div>
            </div>
          </div>

          <div class="occlss-sidebar-item-section occlss-sidebar-item-section--residents" role="complementary">

          </div>


        </div>

      </div>
    </article>


  </div>
</section>


<div class="chat">
  <div class="chat__header" title="Toggle chat">
    <h4 class="chat__header-title">Chatbot</h4>
  </div>
  <div class="chat__container">
    <div id="webchat"></div>
  </div>
</div>

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
  window.WebChat.renderWebChat({
      directLine: window.WebChat.createDirectLine({ secret: '49eMuqc5OG4.cwA.7_w.8Tt0SEuOmUvH3GOg9T4X2YQjgHEehPDQ3Gm2faabMBk' })
  }, document.getElementById('webchat'));
</script>

{{> organisms-page-footer }}
