{{> organisms-page-head-with-form}}


<div class="occlss-wrapper">
  {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
</div>

<section id="pagecontent">
  <div class="occlss-wrapper">

    <article role="article" class="occlss-wrapper occlss-wrapper--secondary">

      <div class="occlss-layout occlss-layout--gutter-s">


        <header class="occlss-layout__col occlss-layout__col--md-8">
          <h1 class="occlss-g-heading-main occlss-u-bspace-sm">Admissions to infant and primary schools</h1>
          <p class="occlss-g-summary-text occlss-u-bspace-none">Applying to start infant and primary school for the
            first time.</p>
        </header>

        <div class="occlss-layout__col occlss-layout__col--md-8">

          <p>Children born between 1 September 2014 and 31 August 2015 (inclusive) need to apply for a primary or
            infant school place for their children.</p>

          <h2>How to apply</h2>

          <p>From 25 October 2018 you can <a href="https://myonecitizenportallive.oxfordshire.gov.uk/CitizenPortal_LIVE/Account/Login?ReturnUrl=%2FCitizenPortal_LIVE%2F">apply
              online</a> for a primary or infant school place.</p>

          <p>If you cannot apply online, you can request a paper application form from schools, nurseries and from the
            School Admissions Team.</p>

          <div class="occlss-alert-box">
              <span class="occlss-alert-box__icon" aria-hidden="true">!</span>
              <span class="occlss-alert-box__text">
              <span class="occlss-alert-box__assistive">Warning</span>
              The deadline for receipt of completed school applications is 15 January 2019
              </span>
          </div>

          <p>If your application is late, it will be processed later in the year, and you are far less likely to get a
            place at one of your preferred schools</p>

          <div style="display: flex;">
          <a href="https://myonecitizenportallive.oxfordshire.gov.uk/CitizenPortal_LIVE/Account/Login?ReturnUrl=%2FCitizenPortal_LIVE%2F" class="occlss-button occlss-button--primary">Apply
              for a school place</a>
          </div>

          <h2>List of schools</h2>

          <p>Details for every state funded Oxfordshire school can be found on our <a href="https://www.oxfordshire.gov.uk/residents/schools/list">list
              of schools</a> page.</p>

          <p>On this page you can find each school’s location, contact details, catchment area (where it has one),
            admissions rules and five-year history of allocation data.</p>

          <h2>Key dates</h2>

          <ul>
            <li>25 October 2018 - parents can start to apply&nbsp;</li>
            <li>15 January 2019 - closing date for applications</li>
            <li>16 April 2019 – National Allocation Day: letters (sent by second class post) and emails sent detailing
              the offer of a school place</li>
            <li>September 2019 – start of the school year</li>
          </ul>
          <h2>Allocation day</h2>

          <p>Everyone who applies online by 15 January 2019 will receive an email on 16 April 2019 advising which
            school their child has been offered a place at. All applicants will be sent a letter on 16 April 2019 with
            all relevant information.</p>

          <h3>Important things to remember when applying</h3>

          <ul>
            <li>apply on time, ie no later than 15 January 2019</li>
            <li>it is the responsibility of parents/carers to apply for a school place</li>
            <li>you can list three different schools in order of preference. We strongly advise you to use all three
              preferences</li>
            <li>we advise you to enter your catchment (or designated area) school as one of your preferences</li>
            <li>if your application is late, it will be processed later in the year, and you are far less likely to get
              a place at one of your preferred schools</li>
          </ul>
          <h2>Parents’ guide</h2>

          <p>Further information about the secondary school application process and general information about
            Oxfordshire primary and infant schools can be found in our <a href="/cms/sites/default/files/folders/documents/childreneducationandfamilies/starting-school.pdf">Starting
              School guide (pdf format, 3MB).</a></p>

          <h2>School transport</h2>

          <p>Primary and infant school children are eligible for free home to school transport where they attend their
            nearest available school, if that school is over 2 miles from their home address. However, transport can
            also be provided where the distance to the nearest available school is less than 2 miles and the route is
            currently listed as dangerous by the Council. Please see the <a data-entity-substitution="canonical"
              data-entity-type="node" data-entity-uuid="674237e1-6e1a-4f16-bfb5-095c0fa29408" href="/residents/schools/travelling-school"
              title="Travelling to school">Travelling to school</a>&nbsp;page for further details and the full
            transport policy.</p>

          <p>Please note that where a new school is built, this can affect a child’s eligibility to school transport.</p>

          <p>You should consider how your child will get to school if you apply for a place at a school that is further
            away than your nearest available school.</p>

          <h2>Catchment areas</h2>

          <p>Many, but not all, primary and infant schools have catchment (or designated) areas.</p>

          <p>If there are more applications than places, priority is given to children in accordance with the school's
            published admission rules.&nbsp;We advise you to list your catchment school, if there is one for your
            address,&nbsp;as one of your preferences.&nbsp;</p>

          <p>Details of catchment areas/designated areas can be found for all schools (where they use them) on our <a
              href="https://www.oxfordshire.gov.uk/residents/schools/list">list of schools</a> page</p>

          <p>Please note that applying for your catchment school does not guarantee that your child will be offered a
            place, or that they are eligible for free home to school transport. See transport paragraph above.</p>


          <p>This search gives rough straight line distances from a post code to school. The Admissions Team measures
            more precisely, from the child’s home address to school, in determining home to school distances.</p>

          <div class="occlss-accordion js-occlss-accordion">

            <h3 class="occlss-accordion__panel-title">How places are allocated</h3>
            <div class="occlss-accordion__panel-content">
              <p>Information on how places are allocated at all schools is available on the <a href="https://www.oxfordshire.gov.uk/cms/schools/list/all?utm_source=FURL-1&amp;utm_medium=schoolslist&amp;utm_term=nil&amp;utm_content=&amp;utm_campaign=schoolslist">individual
                  school pages</a></p>
            </div>
            <h3 class="occlss-accordion__panel-title">Junior school applications</h3>
            <div class="occlss-accordion__panel-content">
              <p>Junior schools are those that take children aged 7-11. Please see the <a href="https://www2.oxfordshire.gov.uk/cms/node/222762">junior
                  school page</a>&nbsp;for further details.</p>
            </div>
            <h3 class="occlss-accordion__panel-title">Deferring an application</h3>
            <div class="occlss-accordion__panel-content">
              <p>Parents of children born between 1 April 2015 and 31 August 2015 may request that their application be
                deferred for entry to Reception in September 2020.</p>

              <p>Decisions on deferral requests are made by the Governors, or Board of Directors, for academies, free
                schools and church aided schools. The decision for community schools is made by the Admissions and
                Transport Services Manager, in liaison with headteachers.</p>

              <p>If the request is agreed to, it does not guarantee a place for your child at your preferred school and
                adds no weight to the application. The application will be considered alongside all others and any
                available places will be allocated in accordance with the school’s published admissions rules.</p>

              <p>If the request is refused, there is no right of appeal against the decision, and you should submit an
                application for infant or primary school no later than 15 January 2019 to start Reception during the
                2019/20 academic year.</p>

              <p>Full information on application deferrals can be found in the ‘Starting School’ online booklet,
                available from 25 October.</p>

              <p>To request a deferred application complete <a href="https://www2.oxfordshire.gov.uk/cms/content/form-defer-school-application">a
                  deferral request form</a>. You should submit the request before 15 January 2019.</p>
            </div>
            <h3 class="occlss-accordion__panel-title">Help and advice</h3>
            <div class="occlss-accordion__panel-content">
              <p>For advice and information about applying for a primary or infant school place, please contact our <a
                  href="https://www2.oxfordshire.gov.uk/cms/node/2485">School Admissions Team</a>.</p>
            </div>
            <h3 class="occlss-accordion__panel-title">Transferring schools</h3>
            <div class="occlss-accordion__panel-content">
              <p>Visit the <a href="https://www2.oxfordshire.gov.uk/cms/node/1622">transferring schools page</a> for
                information on in-year applications&nbsp;if you want to change your child's current school.</p>
            </div>
          </div>










        </div>
        <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--offset-1-md">


          <div class="occlss-sidebar-item-section occlss-sidebar-item-section--residents" role="complementary">
            <nav class="occlss-sidebar-item-section__navbar" role="navigation">
              <ul class="occlss-summary-list occlss-summary-list--sidebar-nav">
                <li class="occlss-summary-list__item ">
                  <h2 class="occlss-sidebar-item-section__title">Related content</h2>
                </li>
                <li class="occlss-summary-list__item">
                  <a href="/residents/schools/travelling-school" class="occlss-summary-list__link">Travelling to school</a>
                </li>
                <li class="occlss-summary-list__item">
                  <a href="/residents/schools/starting-school/transferring-or-moving-school" class="occlss-summary-list__link">Transferring
                    or moving school</a>
                </li>
                <li class="occlss-summary-list__item">
                  <a href="/residents/schools/starting-school/junior-school" class="occlss-summary-list__link">Admissions
                    to junior schools</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--bleed-x occlss-layout__col--lg-12 occlss-layout__col--md-12 occlss-layout__col--sm-12 occlss-layout__col--xs-12"
            id="promo_pane_contact_us">


            <a href="https://www2.oxfordshire.gov.uk/cms/content/contact-school-admissions-team" class="occlss-promoted-content-panel occlss-promoted-content-panel--link occlss-promoted-content-panel--pale-sky"
              id="promo_pane_link_solr_search_1" title="">

              <div class="occlss-promoted-content-panel__content">

                <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--text-medium"
                  id="promo_paragraph_1">
                  Contact
                  <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                    us
                    <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/themes/custom/occ/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary"
                        class="icon__source icon__source--svg"></use>
                    </svg>
                  </span>
                </div>

              </div>
            </a>

          </div>
        </div>

      </div>
    </article>


  </div>
</section>


{{> chatbot-chatbot-script }}

{{> organisms-page-footer }}