<div class="obj-chat js-chatbot">
  <div class="obj-chat__header" title="Toggle chat">
    <h4 class="obj-chat__header-title">Chatbot</h4>
  </div>
  <div class="obj-chat__container">
    <div id="webchat"></div>
  </div>
</div>

<script src="https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js"></script>
<script>
  window.WebChat.renderWebChat({
      directLine: window.WebChat.createDirectLine({ secret: '49eMuqc5OG4.cwA.7_w.8Tt0SEuOmUvH3GOg9T4X2YQjgHEehPDQ3Gm2faabMBk' })
  }, document.getElementById('webchat'));
</script>