---
title: Icons
description: [Description]
section: Components
layout: layout-pane.njk
order: 0
show_page_nav: false
---

{% from "table/macro.njk" import occlssTable %}
{% from "_example.njk" import example %}


## Angle arrow down

{{ example({group: "styles", item: "icons", example: "angle-arrow-down", html: true }) }}

## Angle arrow left

{{ example({group: "styles", item: "icons", example: "angle-arrow-left", html: true }) }}

## Angle arrow right

{{ example({group: "styles", item: "icons", example: "angle-arrow-right", html: true }) }}

## Angle arrow up

{{ example({group: "styles", item: "icons", example: "angle-arrow-up", html: true }) }}

## Arrow both

{{ example({group: "styles", item: "icons", example: "arrow-both", html: true }) }}

## Arrow down bold

{{ example({group: "styles", item: "icons", example: "arrow-down-bold", html: true }) }}

## Arrow right down long

{{ example({group: "styles", item: "icons", example: "arrow-right-down-long", html: true }) }}

## Arrow right left long

{{ example({group: "styles", item: "icons", example: "arrow-right-left-long", html: true }) }}

## Arrow right long down secondary

{{ example({group: "styles", item: "icons", example: "arrow-right-long-down-secondary", html: true }) }}

## Arrow right long left secondary

{{ example({group: "styles", item: "icons", example: "arrow-right-long-left-secondary", html: true }) }}

## Arrow right long right secondary

{{ example({group: "styles", item: "icons", example: "arrow-right-long-right-secondary", html: true }) }}

## Arrow right long up secondary

{{ example({group: "styles", item: "icons", example: "arrow-right-long-up-secondary", html: true }) }}

## Arrow right right long

{{ example({group: "styles", item: "icons", example: "arrow-right-right-long", html: true }) }}

## Arrow right up long

{{ example({group: "styles", item: "icons", example: "arrow-right-up-long", html: true }) }}

## Check

{{ example({group: "styles", item: "icons", example: "check", html: true }) }}

## Circle

{{ example({group: "styles", item: "icons", example: "circle", html: true }) }}

## ex

{{ example({group: "styles", item: "icons", example: "ex", html: true }) }}

## Exclamation mark

{{ example({group: "styles", item: "icons", example: "exclamation-mark", html: true }) }}

## File

{{ example({group: "styles", item: "icons", example: "file", html: true }) }}

## Info

{{ example({group: "styles", item: "icons", example: "info", html: true }) }}

## Invisible

{{ example({group: "styles", item: "icons", example: "invisible", html: true }) }}

## Newsletter

{{ example({group: "styles", item: "icons", example: "newsletter", html: true }) }}

## Pin

{{ example({group: "styles", item: "icons", example: "pin", html: true }) }}

## Search

{{ example({group: "styles", item: "icons", example: "search", html: true }) }}

## Visible

{{ example({group: "styles", item: "icons", example: "visible", html: true }) }}

## Warning badge

{{ example({group: "styles", item: "icons", example: "warning-badge", html: true }) }}

## Warning sign

{{ example({group: "styles", item: "icons", example: "warning-sign", html: true }) }}

## Twitter

{{ example({group: "styles", item: "icons", example: "twitter", html: true }) }}

## Linkedin

{{ example({group: "styles", item: "icons", example: "linkedin", html: true }) }}

## Instagram

{{ example({group: "styles", item: "icons", example: "instagram", html: true }) }}

## Facebook

{{ example({group: "styles", item: "icons", example: "facebook", html: true }) }}

## RSS

{{ example({group: "styles", item: "icons", example: "rss", html: true }) }}

## Changelog

#### 1.0.0

- Component Added