---
title: Form controls
description: [Description]
section: Components
layout: layout-pane.njk
theme: Form elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Input

{{ example({group: "components", item: "form-controls", example: "input", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Input error

{{ example({group: "components", item: "form-controls", example: "input-error", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Input inline

{{ example({group: "components", item: "form-controls", example: "input-inline", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Input max width 210px

{{ example({group: "components", item: "form-controls", example: "input-width-210", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Input max width 310px

{{ example({group: "components", item: "form-controls", example: "input-width-310", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Input max width 450px

{{ example({group: "components", item: "form-controls", example: "input-width-450", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Select

{{ example({group: "components", item: "form-controls", example: "select", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Textarea

{{ example({group: "components", item: "form-controls", example: "textarea", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Textarea error

{{ example({group: "components", item: "form-controls", example: "textarea-error", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Checkbox

{{ example({group: "components", item: "form-controls", example: "checkbox", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Checkbox disabled

{{ example({group: "components", item: "form-controls", example: "checkbox-disabled", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Radio button

{{ example({group: "components", item: "form-controls", example: "radio-button", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Radio button disabled

{{ example({group: "components", item: "form-controls", example: "radio-button-disabled", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added