---
title: Summary list
description: [Description]
section: Components
layout: layout-pane.njk
theme: Navigation
order: 0
show_page_nav: false
---
The summary list component is used to display a list of links, for example, under the Related content heading on simple landing pages.

{% from "_example.njk" import example %}

{{ example({group: "components", item: "summary-list", example: "default", html: true }) }}

## Changelog

#### 1.0.0

- Component Added