---
title: Button negative disabled
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Cancel payment",
  classes: "occlss-button--negative is-disabled",
  disabled: true
}) }}