---
title: Button negative disabled
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Negative disabled",
  classes: "occlss-button--negative is-disabled",
  "disabled": true
}) }}