// Global classes Like headings, intro text etc.
.occlss-g-summary-text {
    font-family: $occlss-summary-text-font-family;
    font-size: rem($occlss-summary-text-font-size-primary);
    font-weight: $occlss-summary-text-font-weight-primary;
    color: $occlss-summary-text-font-color-primary;
    line-height: $occlss-summary-text-line-height-primary;
    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'sm'))) {
        margin: rem($occlss-summary-text-font-margin-primary);
    }
    @include breakpoint(max-height 800px) {
        margin: rem(0 0 30px 0);
    }
}

// Global font sizes
.occlss-g-xxxxx-large-text {
    font-size: rem($occlss-g-xxxxx-large-font-size);
}

.occlss-g-xxxx-large-text {
    font-size: rem($occlss-g-xxxx-large-font-size);
}

.occlss-g-xxx-large-text {
    font-size: rem($occlss-g-xxx-large-font-size);
}

.occlss-g-xx-large-text {
    font-size: rem($occlss-g-xx-large-font-size);
}

.occlss-g-x-large-text {
    font-size: rem($occlss-g-x-large-font-size);
}

.occlss-g-large-text {
    font-size: rem($occlss-g-large-font-size);
}

.occlss-g-medium-text {
    font-size: rem($occlss-g-medium-font-size);
}

.occlss-g-regular-text {
    font-size: rem($occlss-g-regular-font-size);
}

.occlss-g-small-text {
    font-size: rem($occlss-g-small-font-size);
}

// Global font weight
.occlss-g-font-weight-light {
    font-weight: $occlss-g-font-weight-light;
}

.occlss-g-font-weight-regular {
    font-weight: $occlss-g-font-weight-regular;
}

.occlss-g-font-weight-medium {
    font-weight: $occlss-g-font-weight-medium;
}

.occlss-g-font-weight-semibold {
    font-weight: $occlss-g-font-weight-semibold;
}

.occlss-g-font-weight-bold {
    font-weight: $occlss-g-font-weight-bold;
}

.occlss-g-font-weight-black {
    font-weight: $occlss-g-font-weight-black;
}


// Global text inline block
.occlss-g-font-inline-block {
    display: inline-block;
}



.occlss-g-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


// Global text colour
.occlss-g-text-color-white {
    color: $occlss-g-text-color-white;
}

.occlss-g-text-color-dark {
    color: $occlss-g-text-color-dark;
}