/**
 * Owl Carousel v2.3.0
 * OCCLSS theme - Owl Carousel CSS File
 */

 .occlss-owl-theme .owl-nav {
    position: absolute;
    pointer-events: none;
    top: 45%;
    left: rem(0px);
    right: rem(0px);
    -webkit-tap-highlight-color: transparent;
}

.occlss-owl-theme .owl-nav button.owl-prev,
.occlss-owl-theme .owl-nav button.owl-next {
    pointer-events: auto;
    opacity: 0.9;
    color: #FFF;
    background: $occlss-carusel-nav-button-background-color;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    width: rem(80px);
    height: rem(80px);
    position: relative;
    span {
        visibility: hidden;
    }
    &:after {
        content: "";
        position: absolute;
        display: block;
        background-image: url('#{$occlss-global-image-path}/icon-arrow-right-white.svg');
        background-repeat: no-repeat;
        width: rem(30px);
        height: rem(56px);
        top: rem(15px);
        left: rem(29px);
    }
}

.occlss-owl-theme .owl-nav button.owl-prev {
    float: left;
    &:after {
        background-image: url('#{$occlss-global-image-path}/icon-arrow-left-white.svg');
        top: rem(11px);
        left: rem(20px);
        top: rem(15px);
        left: rem(24px);
    }
}

.occlss-owl-theme .owl-nav button.owl-next {
    float: right;
}

.occlss-owl-theme .owl-nav .disabled {
    opacity: 0;
    cursor: default;
}

.occlss-owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: rem(10px);
}

.occlss-owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.occlss-owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.occlss-owl-theme .owl-dots .owl-dot span {
    width: rem(20px);
    height: rem(20px);
    margin: rem(5px 7px);
    background: $occlss-carusel-dot-button-background-color-default;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: rem(30px);
}

.occlss-owl-theme .owl-dots .owl-dot.active span,
.occlss-owl-theme .owl-dots .owl-dot:hover span {
    background: $occlss-carusel-dot-button-background-color-hover;
}