---
title: Promoted content panel
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "aqua-dee",
  textRows: [
        {
          text: "Line font size - header-xlarge",
          textSize: "header-xlarge"
        }
  ]
}) }}