<nav class="occlss-site-nav">

    <a href="{{ link.pages-homepage }}" class="occlss-site-nav__logo-link" title="Back to Oxfordshire County Council Home">
        {{> atoms-occlss-head-logo }}
    </a>


    <ul class="occlss-site-nav__list">
        <li class="occlss-site-nav__item"><a href="https://service.oxfordshire.gov.uk/auth?returnurl=http://www.oxfordshire.gov.uk" class="occlss-site-nav__link">My account</a></li>
    </ul>
    
</nav>