<nav class="occlss-site-nav">

    <a href="{{ link.pages-homepage }}" class="occlss-site-nav__logo-link" title="Back to Oxfordshire County Council Home">
        {{> atoms-occlss-head-logo }}
    </a>

    <a href="javascript:void(0);" class="occlss-site-nav__toggler js-occlss-nav-toggler-button">
            Menu
    </a>

    <ul class="occlss-site-nav__list">
        <li class="occlss-site-nav__item"><a href="javascript:void(0);" class="occlss-site-nav__link">Register</a></li>
        <li class="occlss-site-nav__item"><a href="javascript:void(0);" class="occlss-site-nav__link">Login</a></li>
    </ul>

</nav>
<script>
$(document).ready(function () {
$('.js-occlss-nav-toggler-button').click(function() {
    
    if( $(this).hasClass('is-active') ) {
      $(this).parents().children('.occlss-site-nav__list').removeClass('is-active');
      $(this).removeClass('is-active');
    } else {
    $(this).parents().children('.occlss-site-nav__list').addClass('is-active');
       $(this).addClass('is-active');
    }
  });
});
</script>