<nav class="occlss-site-nav">

    <a href="{{ link.pages-homepage }}" class="occlss-site-nav__logo-link" title="Back to Oxfordshire County Council Home">
        {{> atoms-occlss-head-logo }}
    </a>

    <a href="" class="occlss-site-nav__toggler">Menu</a>

    <ul class="occlss-site-nav__list">

        <li class="occlss-site-nav__item  occlss-site-nav__item--close"><a href="" class="occlss-site-nav__link occlss-site-nav__close">Close</a></li>
        <li class="occlss-site-nav__item"><a href="/" class="occlss-site-nav__link">Register</a></li>
        <li class="occlss-site-nav__item"><a href="/about/" class="occlss-site-nav__link">Login</a></li>
    </ul>

</nav>
