<div class="occlss-breadcrumb {{#occlss-breadcrumb-no-space}}occlss-breadcrumb--no-space{{/occlss-breadcrumb-no-space}}">
      <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
        <div class="occlss-layout__col occlss-layout__col--12">

          <nav role="navigation" aria-labelledby="system-breadcrumb">
            <h2 class="occlss-u-visuallyhidden">Breadcrumb</h2>
            <ol class="occlss-breadcrumb__conteiner">
              <li class="occlss-breadcrumb__item">
                <a href="{{ link.pages-homepage }}">Home</a>
              </li>
              <li class="occlss-breadcrumb__item">
                <a href="javascript:void(0);">Residents</a>
              </li>
              <li class="occlss-breadcrumb__item">
                <a href="javascript:void(0);">Register of Landowner Statements</a>
              </li>
            </ol>
          </nav>
        </div>
    </div>
</div>