<nav class="occlss-skip-to-content">
    <ul class="occlss-u-unstyled-list occlss-skip-to-content__skip-menu">
        <li class="occlss-skip-to-content__item">
            <a href="#main-nav" class="occlss-skip-to-content__skip-menu-link">skip to Main Navigation</a>
        </li>
        <li class="occlss-skip-to-content__item">
            <a href="#occlss-main-content" class="occlss-skip-to-content__skip-menu-link">skip to Main Content</a>
        </li>
        <li class="occlss-skip-to-content__item">
            <a href="#occlss-footer" class="occlss-skip-to-content__skip-menu-link">skip to Footer</a>
        </li>
    </ul>
</nav>
