---
title: Page footer full
layout: layout-example.njk
---

{% from "page-footer/macro.njk" import occlssPageFooter %}

{{ occlssPageFooter({
  fRowHeading: "Oxfordshire County Council",
  fRowHTML: "<p>County Hall, New Road, Oxford, OX1 1ND</p>\n <p><a href=\"https://www.oxfordshire.gov.uk/residents/contact-council/contact-us\" class=\"occlss-u-more-link\">Contact us<span class=\"occlss-icon occlss-icon--arrow-right-long-right-secondary\" aria-hidden=\"true\"><svg aria-hidden=\"true\" class=\"occlss-icon__container occlss-u-more-link__icon\"><use xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"/assets/images/occlss/occlss-sprite.svg#arrow-right-long-right-secondary\" class=\"icon__source icon__source--svg\"></use></svg></span></a></p>\n",
  fRowSocialicons: [
    {
      icon: "facebook"
    },{
      icon: "twitter"
    },{
      icon: "rss"
    },{
      icon: "linkedin"
    },{
      icon: "instagram"
    }
  ],
  fRowSecondHTML: "<h5>Sign up for the YourOxfordshire newsletter</h5>\n <p>Get the latest news direct to your inbox every month.</p>\n <div class=\"occlss-layout occlss-u-tspace-sm\"><div class=\"occlss-layout__col occlss-layout__col--xs-12 occlss-layout__col--md-8 occlss-layout__col--bleed occlss-form__sign-up-form-controls\"><a href=\"http://oxfordshire.us1.list-manage1.com/subscribe?u=feb3ea90bfa82dcb90c21a3e7&id=206c6fb447\" class=\"occlss-button occlss-button--primary occlss-button--fullwidth occlss-form__sign-up-form-submit\" target=\"_blank\">Sign up to the newsletter</a></div></div>",
  sRowHeading: "Services",
  sRowListItems: [
    {
      title: "Business",
      url: "https://www.oxfordshire.gov.uk/business"
    },{
      title: "Children, education and families",
      url: "https://www.oxfordshire.gov.uk/residents/children-education-and-families"
    },{
      title: "Community and living",
      url: "https://www.oxfordshire.gov.uk/residents/community-and-living"
    },{
      title: "Environment and planning",
      url: "https://www.oxfordshire.gov.uk/residents/environment-and-planning"
    },{
      title: "Fire and public safety",
      url: "https://www.oxfordshire.gov.uk/residents/fire-and-public-safety"
    },{
      title: "Leisure and culture",
      url: "https://www.oxfordshire.gov.uk/residents/leisure-and-culture"
    },{
      title: "Roads and transport",
      url: "https://www.oxfordshire.gov.uk/residents/roads-and-transport"
    },{
      title: "Social and health care",
      url: "https://www.oxfordshire.gov.uk/residents/social-and-health-care"
    }
  ],
  tRowHeading: "Information",
  tRowListItems: [
    {
      title: "Access to information",
      url: "https://www.oxfordshire.gov.uk/council/about-your-council/access-data-and-information"
    },{
      title: "Accessibility options",
      url: "https://www.oxfordshire.gov.uk/council/about-website/help-using-site"
    },{
      title: "Terms and conditions",
      url: "https://www.oxfordshire.gov.uk/council/about-website/terms-and-conditions"
    },{
      title: "How we use cookies",
      url: "https://www.oxfordshire.gov.uk/residents/environment-and-planning"
    },{
      title: "Privacy",
      url: "https://www.oxfordshire.gov.uk/council/about-website/terms-and-conditions#privacy"
    },{
      title: "Sitemap",
      url: "https://www.oxfordshire.gov.uk/cms/sitemap"
    },{
      title: "GOV.UK",
      url: "http://www.gov.uk/"
    },{
      title: "Brexit information on GOV.UK",
      url: "https://www.gov.uk/government/brexit"
    }
  ]
}) }}