@use '../../settings/global-variables' as *;
@use '../../tools/mixins_breakpoint' as *;
@use '../../tools/mixins_rem' as *;

// Close open psnnel
.occlss-co {
    display: none;
    @include breakpoint-max-width('md', $occlss-layout-breakpoints) {
        display: block;
        margin-top: rem(15px);
    }
}