@use '../../settings/global-variables' as *;
@use '../../tools/placeholder-classes';
@use '../../tools/mixins_rem' as *;
@use '../../tools/mixins_breakpoint' as *;

.occlss-info-card {
    &__title {
        display: inline-block;
        margin-bottom: rem(22px);
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline; 
        }
        &:focus {
            @extend %highlight-bg-on-focus;
        }
    }
    &__label {
        font-weight: 700;
        padding: 0 10px 0 0;
        @include occlss-breakpoint('max-width', ('sm', $occlss-layout-breakpoints)) {
            margin-bottom: rem(6px);
        }
    }
    &__content {
        padding: 0;
        display: inline-block;
    }
    &__cont_row {
        margin-bottom: rem(6px);
        @include occlss-breakpoint('max-width', ('sm', $occlss-layout-breakpoints)) {
            margin-bottom: rem(12px);
        }
    }
}