<div class="occlss-form">
    <form class="occlss-form__content">
        <fieldset class="occlss-u-unFieldset">
            {{> molecules-checkboxes }}
            <button type="submit" class="occlss-button occlss-button--primary occlss-form__submit">Submit</button>
        </fieldset>
    </form>
</div>
