<form method="post" class="occlss-form occlss-form--border">
  <div class="occlss-layout">
    <!--START layout block-->
    <div class="occlss-layout__col occlss-layout__col--12">
      <!--START layout elemnt -->
      <fieldset class="occlss-form__group">
        <legend class="occlss-form__group-title occlss-form__group-title--large">Create an account</legend>
        <span class="occlss-form__group-desc">
          Create an account to have updates sent to you by email, track the progress of your reports and forms that are pre-filled with your personal details.
        </span>

        <div class="occlss-form__input-group">
          <label class="occlss-form__label" for="sign-in-username">Email address</label>
          <input class="occlss-form__input" id="sign-in-username" name="username" type="text" autocapitalize="off" autocorrect="off">
        </div>

        <div class="occlss-layout occlss-layout--bleed">
          <div class="occlss-layout__col occlss-layout__col--xs-6 occlss-layout__col--sm-8">
            <p>
              <a title="Forgot password" href="javascript:void(0);" aria-controls="sign-in-password">
                Continue without an account
              </a>
            </p>
          </div>
          <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--xs-6 occlss-layout__col--sm-4">
            <button type="submit" class="occlss-button occlss-button--secondary occlss-form__submit">Create account</button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
