<div class="occlss-find-my-nearest occlss-find-my-nearest--district {{occlss-find-my-nearest-mod-class}}" role="search">
    <div class="occlss-layout">
        <div class="occlss-layout__col occlss-layout__col--12">
            <form id="js-occlss-find-my-nearest-postcode">
                <div class="occlss-layout occlss-find-my-nearest__search-form-cont">
                    <div class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--12">
                        <div class="occlss-form-cntrls occlss-find-my-nearest__input-group">
                            <legend class="occlss-form-cntrls__label occlss-find-my-nearest__label">Find in Oxfordshire</legend>
                            <label for="input-type-text-ed01" class="occlss-u-visuallyhidden">Chose the option</label>
                           <select class="occlss-form-cntrls__select" id="input-type-text-ed01" name="input-type-text-ed01">
                                <option value="">District council</option>
                                <option value="">Concillors</option>
                                <option value="">MPs</option>
                                <option value="">Schools</option>
                                <option value="">Libraries</option>
                                <option value="">Waste recycling centres</option>
                            </select>
                        </div>
                    </div>
                    <div class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6">
                        <div class="occlss-form-cntrls occlss-find-my-nearest__input-group">
                            <label for="input-type-text-ep01">Enter a postcode</label>
                            <input class="occlss-form-cntrls__input" id="input-type-text-ep01" name="input-type-text-ep01" type="text">
                        </div>
                    </div>
                    <div class="occlss-layout__col occlss-layout__col--sm-6 occlss-find-my-nearest__controls">
                        <button type="submit" class="occlss-button occlss-button--primary occlss-button--fullwidth occlss-find-my-nearest__submit">Find</button>
                    </div>
                    <div class="occlss-layout__col occlss-layout__col--12 occlss-layout__col--align-self-end occlss-find-my-nearest__find-my-location-cont">
                        <a href="javascript:void(0);" class="occlss-find-my-nearest__link" id="js-occlss-find-my-nearest-link">Or locate me now</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
