<div class="occlss-trim">
    <form class="occlss-form" id="js-occlss-form-password-show-hide">
        <div class="occlss-layout">
            <!--START layout block-->
            <div class="occlss-layout__col occlss-layout__col--12">
                <!--START layout elemnt -->
                <fieldset>
                    <legend class="occlss-form__group-title occlss-form__group-title--large occlss-form__group-title--bordered">Log in to your account</legend>
                    <span class="occlss-form__desc-text">
                        If you already have an account, sign in below.
                    </span>

                    <div class="occlss-form-cntrls">
                        <label class="occlss-form-cntrls__label" for="sign-in-username">Username or email address</label>
                        <input class="occlss-form-cntrls__input" id="sign-in-username" name="username" type="text" autocapitalize="off" autocorrect="off">
                    </div>
                    
                    <div class="js-occlss-form-cntrls-password occlss-form-cntrls occlss-form-cntrls--password">
                        <label class="occlss-form-cntrls__label" for="sign-in-password">Password</label>
                        <input class="occlss-form-cntrls__input" id="sign-in-password" name="password" type="password">

                        <a class="js-occlss-form-cntrls-show-hide-password occlss-form-cntrls__show-hide">
                            <span class="occlss-icon occlss-icon--visible" aria-hidden="true">
                                <svg aria-hidden="true" class="occlss-icon__container">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#visible" class="icon__source icon__source--svg"></use>
                                </svg>
                            </span>
                        </a>

                    </div>
                    <div class="occlss-layout occlss-layout--bleed">
                        <div class="occlss-layout__col occlss-layout__col--8">
                            <p>
                                <a title="Forgot password" href="javascript:void(0);" aria-controls="sign-in-password">
                                    I forgot my password
                                </a>
                            </p>
                        </div>
                        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--4">
                            <button type="submit" class="occlss-button occlss-button--primary occlss-form__submit">Sign in</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>