<div class="occlss-form">
    <form class="occlss-form__content">
        {{> molecules-radio-buttons }}
        <button type="submit" class="occlss-button occlss-button--primary occlss-form__submit">Submit</button>
    </form>
</div>
