{{#findMyNearest}}
<form class="occlss-form">
    <fieldset>
        <div class="occlss-wrapper">
            <div class="occlss-search-place-form" role="search">
                <div class="occlss-layout occlss-layout--gutter-s">

                    <div class="occlss-layout__col occlss-layout__col--md-5">
                        <div id="js-occlss-search-place-form-postcode">
                            <div class="occlss-layout occlss-search-place-form__search-form-cont occlss-search-place-form__search-form-cont--postcode">
                                <div class="occlss-layout__col occlss-layout__col--md-8">
                                    <div class="occlss-form-cntrs occlss-search-place-form__input-group">
                                        <legend class="occlss-form-cntrs__label occlss-search-place-form__label">Find my nearest ...</legend>
                                        <label for="input-type-text-a1e1">Enter a postcode</label>
                                        <input class="occlss-form-cntrs__input" id="input-type-text-a1e1" name="input-type-text-a1e1" type="text">
                                    </div>
                                </div>

                                <div class="occlss-layout__col occlss-layout__col--md-4 occlss-layout__col--align-self-end occlss-search-place-form__input-group">
                                    <button type="submit" class="occlss-button occlss-button--primary occlss-button--fullwidth occlss-search-place-form__submit">Search</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="occlss-layout__col occlss-layout__col--md-4 occlss-layout__col--align-self-end">
                        {{#selectAPlace}}
                            {{> molecules-input-select }}
                        {{/selectAPlace}}
                    </div>


                    <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--align-self-end occlss-search-place-form__find-my-location-cont">

                        <span class="occlss-icon occlss-icon--pin" aria-hidden="true">
                            <svg aria-hidden="true" class="occlss-icon__container occlss-search-place-form__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#pin" class="icon__source icon__source--svg"></use>
                            </svg>
                        </span>

                        <a href="#" class="occlss-search-place-form__link" id="js-occlss-search-place-form-link">Or find my location</a>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
{{/findMyNearest}}