<div class="occlss-short-search-form" role="search">
  <form class="occlss-short-search-form__content">
    <fieldset class="u-unFieldset">
      <div class="occlss-layout">
        <div class="occlss-short-search-form__group occlss-layout__col occlss-layout__col--md-9 occlss-layout__col--8 occlss-layout__col--bleed">
          <label class="occlss-short-search-form__group-title occlss-u-visuallyhidden" for="occlss-short-search-form-input-da1d121aq">Search</label>
          <div class="occlss-short-search-form__controls">
            <span class="occlss-icon occlss-icon--search occlss-short-search-form__icon" aria-hidden="true">
              <svg aria-hidden="true" class="occlss-icon__container">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#search" class="icon__source icon__source--svg"></use>
              </svg>
            </span>
            <input type="text" class="occlss-short-search-form__input-text" id="occlss-short-search-form-input-da1d121aq" name="Search"/>
          </div>
        </div>
        <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--4 occlss-layout__col--bleed">
          <button type="submit" class="occlss-button occlss-button--search occlss-button--fullwidth occlss-short-search-form__submit">Search</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>