<form class="occlss-form occlss-form--sign-up">
    <div class="occlss-layout">

        <div class="occlss-form-cntrs--sign-up-group occlss-layout__col occlss-layout__col--sm-12 occlss-layout__col--md-7 occlss-layout__col--bleed">
            <label class="occlss-form-cntrs__label occlss-form-cntrs__label--sign-up-title" for="occlss-sign-up-form-input-dd1">Email address</label>
            <input type="text" class="occlss-form-cntrs__input occlss-form-cntrs__input--sign-up" name="email" id="occlss-sign-up-form-input-dd1">
        </div>
        <div class="occlss-layout__col occlss-layout__col--sm-12 occlss-layout__col--md-5 occlss-layout__col--bleed occlss-form__sign-up-form-controls">
            <button type="submit" class="occlss-button occlss-button--primary occlss-button--fullwidth occlss-form__sign-up-form-submit">Sign up</button>
        </div>

    </div>
</form>