---
title: Buttons pattern default
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "button/macro.njk" import occlssButton %}

<form class="occlss-form">
    <nav class="occlss-form__controls occlss-u-bspace-large" role="navigation">
        <ul class="occlss-form__listitems">
            <li class="occlss-form__controls-list-item occlss-form__controls-list-item--spaced">
                {{ occlssButton({
                text: "Back",
                classes: "occlss-button--neutral"
                }) }}
            </li>
            <li class="occlss-form__controls-list-item">
                {{ occlssButton({
                text: "Continue",
                classes: "occlss-button--primary"
                }) }}
            </li>
        </ul>
    </nav>
</form>