---
title: Radio button
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "radio-button",
  labelText: "Radio button"
}) }}



