---
title: Radio button
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "radio-button",
  cntrlsClasses: "occlss-form-cntrls--radioitem",
  labelClasses: "occlss-form-cntrls__label--radiobutton",
  labelText: "Radio button",
  fldName: "Radio button"
}) }}