---
title: Personal details
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Forms
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "forms", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

## Changelog

#### 1.0.0

- Component Added