---
title: Page footer
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}


## Page footer full

{{ example({group: "components", item: "page-footer", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]


## Page footer short

{{ example({group: "components", item: "page-footer", example: "short", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]