---
title: Page footer
description: [Description]
section: Components
layout: layout-pane.njk
theme: Page elements
order: 0
show_page_nav: true
---

{% from "_example.njk" import example %}

## Page footer full

{{ example({group: "components", item: "page-footer", example: "default", html: true }) }}

### When to use this component 

The full footer is displayed at the botton of every page on the main Oxfordshire County Council website.

The footer contains a simple service directory, contact information and well as other links that some users will expect to find in a footer, for example, terms and conditions and sitemap. It also contains statutory information about cookies and privacy.


## Page footer short

{{ example({group: "components", item: "page-footer", example: "short", html: true }) }}

### When to use this component 

This footer is displayed on third-party Oxfordshire County Council-branded websites. It contains contact information and links to statutory information only.

## Changelog

#### 1.0.0

- Component Added