// Default html, body default parameters


html {
    font-family: $occlss-page-font-family-primary;
    color: $occlss-page-font-color-primary;
    font-weight: $occlss-page-font-weight-primary;
    background-color: $occlss-page-background-primary;
    //font-size: 100%; /* This means 16px */
    //-webkit-text-size-adjust: 100%;  //fix for iOS
      

    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'xs'))) {
        font-size: 87.5%;
    }

    @include breakpoint(min-width (map-get($occlss-layout-breakpoints, 'md'))) {
        font-size: 100%;
    }
}

p {
    line-height: $occlss-page-line-height-paragraph-unit;
    //margin: rem($occlss-page-margin-paragraph-unit);
    margin-top: rem($occlss-page-margin-paragraph-unit-top);
    margin-bottom: rem($occlss-page-margin-paragraph-unit-bottom);
    margin-left: rem($occlss-page-margin-paragraph-unit-left);
    margin-right: rem($occlss-page-margin-paragraph-unit-right);
}

p + h2,
p + h3,
p + h4,
p + h5, 
ul + h2,
ul + h3,
ul + h4, 
ul + h5,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
div + h2,
div + h3,
div + h4,
div + h5,
table + h2,
table + h3,
table + h4,
table + h5 {
    padding-top: rem(20px);
}

ol,
ul {
    margin: rem(0 0 30px 0);
    padding: rem(0 0 0 40px);
    li {
        margin-bottom: rem(16px);
    }
}