---
title: Box out
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Box out

The box out component draws the user's attention to detailed supplementary information.

{{ example({group: "components", item: "box-out", example: "default", html: true }) }}


### When to use this component 

Use this component where you want to provide some supplementary guidance or instructions, for example, instructions for providing documents to support an application. 

The box can include a title, paragraph text, bullet lists and links. 

## Changelog

#### 1.0.0

- Component Added