---
title: Box out
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Box out

This is similar to the info box but should be used where more information is being supplied. For example, instructions or guidance.

{{ example({group: "components", item: "box-out", example: "default", html: true }) }}


### When to use this component 

[Text]

### How it works

[Text]