---
title: Info box
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Info box

Unlike the alert box, this is a callout that simply supplies some some related or supplimentary information that may only apply to some people but will be quite important to them. It allows us to add this information without breaking the flow of the content too much. It should be short and to the point.

{{ example({group: "components", item: "info-box", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]