/* OCCLSS Form cntrls
 * @version 1.0.0
 */

.occlss-form__group-title,
.occlss-form-cntrls__label {
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.25rem;
    margin: 0 0 .625rem 0
}

.occlss-form-cntrls {
    margin: 0 0 1.875rem 0
}

.occlss-form-cntrls--listitem {
    margin-bottom: 0
}

.occlss-form-cntrls--short-search {
    position: relative;
    margin-bottom: 0
}

.occlss-form-cntrls__short-search-icon {
    position: absolute;
    top: .5rem;
    left: .5625rem;
    pointer-events: none
}

.occlss-form-cntrls__short-search-icon .occlss-icon__container {
    fill: #0b0c0c
}

.occlss-form-cntrls--sign-up-group {
    padding: 0 .625rem 0 0;
    margin-bottom: 0
}

@media(max-width: 992px) {
    .occlss-form-cntrls--sign-up-group {
        padding-right: 0;
        margin-bottom: 1rem
    }
}

.occlss-form-cntrls__checkbox,
.occlss-form-cntrls__radiobutton,
.occlss-form-cntrls__textarea,
.occlss-form-cntrls__input,
.occlss-form-cntrls__select {
    -webkit-appearance: none;
    appearance: none;
    border: .125rem solid #525252;
    border-radius: 0;
    box-sizing: border-box;
    color: #525252;
    display: inline-block;
    font-size: 1rem;
    height: 3.2rem;
    line-height: 1.3;
    padding: .85rem .7rem;
    width: 100%
}

.occlss-form-cntrls__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ""
}

.occlss-form-cntrls__select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("/assets/images/occlss//arrow-down-bold.svg");
    background-position: right .8125rem center;
    background-repeat: no-repeat;
    background-size: 1.3125rem;
    padding-right: 2.6875rem
}

.occlss-form-cntrls__select::-ms-expand {
    display: none
}

.occlss-form-cntrls__textarea {
    height: 18.75rem;
    display: inline-block;
    vertical-align: middle
}

.occlss-form-cntrls__input:focus,
.occlss-form-cntrls__input--focus,
.occlss-form-cntrls__textarea:focus,
.occlss-form-cntrls__textarea--focus,
.occlss-form-cntrls__select:focus,
.occlss-form-cntrls__select--focus {
    border-width: .25rem;
    box-shadow: 0 0 0 .1875rem #edc856
}

.occlss-form-cntrls__input--short-search {
    padding: .6875rem 1.25rem .6875rem 3rem;
    border-radius: 1.5625rem;
    height: auto
}

.occlss-form-cntrls__input--short-search:focus {
    box-shadow: inset 0rem 0rem 0rem .0625rem #edc856;
    outline: none
}

@media(max-width: 768px) {
    .occlss-form-cntrls__input--short-search {
        margin-bottom: 1rem
    }
}

.occlss-form-cntrls__label--sign-up-title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif
}

.occlss-form-cntrls__input--sign-up {
    width: 100%;
    font-size: 1rem;
    padding: .75rem 1.25rem .6875rem 1.25rem;
    border: .125rem solid #0b0c0c;
    color: #1a1a1a;
    height: 2.95rem
}

.occlss-form-cntrls--day,
.occlss-form-cntrls--month,
.occlss-form-cntrls--year {
    clear: none;
    float: left;
    margin-right: .625rem;
    margin-bottom: .625rem;
    width: 3.3125rem
}

.occlss-form-cntrls--year {
    width: 4.375rem
}

@media(min-width: 768px) {

    .occlss-form-cntrls__input--size-450,
    .occlss-form-cntrls--size-450 {
        max-width: 28.125rem
    }
}

@media(min-width: 768px) {

    .occlss-form-cntrls__input--size-310,
    .occlss-form-cntrls--size-310 {
        max-width: 19.375rem
    }
}

@media(min-width: 768px) {

    .occlss-form-cntrls__input--size-210,
    .occlss-form-cntrls--size-210 {
        max-width: 13.125rem
    }
}

.occlss-form-cntrls--inline {
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap
}

.occlss-form-cntrls--inline .occlss-form-cntrls__select,
.occlss-form-cntrls--inline .occlss-form-cntrls__input,
.occlss-form-cntrls--inline .occlss-form-cntrls__label {
    margin: 0
}

.occlss-form-cntrls--inline .occlss-form-cntrls__label {
    display: flex;
    display: -ms-flexbox;
    flex: 0 0 auto;
    padding-right: .75rem;
    align-items: center
}

.occlss-form-cntrls--inline .occlss-form-cntrls__select,
.occlss-form-cntrls--inline .occlss-form-cntrls__input {
    width: auto;
    flex: 1 1 auto
}

.occlss-form-cntrls--sort-by {
    margin-bottom: 0
}

.occlss-form-cntrls--sort-by .occlss-form-cntrls__select {
    background-image: url("/assets/images/occlss//arrow-both.svg");
    background-position: right .3125rem center;
    background-repeat: no-repeat;
    background-size: 1.3125rem;
    padding: .3125rem 1.875rem .3125rem .3125rem;
    max-width: 16.25rem;
    height: 2.25rem;
    font-size: .875rem;
    border-radius: .3125rem
}

.occlss-form-cntrls--sort-by .occlss-form-cntrls__select:focus {
    box-shadow: inset 0rem 0rem 0rem .0625rem #edc856;
    outline: none
}

.occlss-form-cntrls--password {
    position: relative
}

.occlss-form-cntrls--password .occlss-form-cntrls__input {
    padding-right: 3.125rem
}

.occlss-form-cntrls--error .occlss-form-cntrls__input,
.occlss-form-cntrls--error .occlss-form-cntrls__textarea,
.occlss-form-cntrls--error .occlss-form-cntrls__select {
    width: calc(100% - 40px);
    border: .125rem solid #ad0505;
    background-color: #fee6e6
}

.occlss-form-cntrls--error .occlss-form-cntrls__label {
    margin-top: 0
}

.occlss-form-cntrls__label--error {
    display: inline-block
}

.occlss-form-cntrls__label {
    margin-top: 0;
    display: block
}

.occlss-form-cntrls__label--small {
    font-size: 1.125rem
}

.occlss-form-cntrls__label--def-text {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    font-family: "Open Sans", sans-serif
}

.occlss-form-cntrls--radioitem {
    display: block;
    position: relative;
    min-height: 2.5rem;
    margin-bottom: .625rem;
    padding-left: 2.5rem;
    clear: left
}

.occlss-form-cntrls__radiobutton {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -0.125rem;
    left: -0.125rem;
    width: 2.75rem;
    height: 2.75rem;
    margin: 0;
    opacity: 0
}

.occlss-form-cntrls__label--radiobutton {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding: .5rem .9375rem .3125rem;
    cursor: pointer;
    touch-action: manipulation;
    display: block;
    margin-bottom: .3125rem
}

.occlss-form-cntrls__label--radiobutton:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: .125rem solid currentColor;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0)
}

.occlss-form-cntrls__radiobutton:checked+.occlss-form-cntrls__label--radiobutton:after {
    opacity: 1
}

.occlss-form-cntrls__label--radiobutton:after {
    content: "";
    position: absolute;
    top: .625rem;
    left: .625rem;
    width: 0;
    height: 0;
    border: .625rem solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor
}

.occlss-form-cntrls__radiobutton:focus+.occlss-form-cntrls__label--radiobutton:before {
    border-width: .25rem;
    box-shadow: 0 0 0 .25rem #edc856
}

.occlss-form-cntrls__radiobutton:disabled,
.occlss-form-cntrls__radiobutton:disabled+.occlss-form-cntrls__label--radiobutton {
    cursor: default
}

.occlss-form-cntrls__radiobutton:disabled+.occlss-form-cntrls__label--radiobutton {
    opacity: .5
}

.occlss-form-cntrls__radiobutton:disabled,
.occlss-form-cntrls__radiobutton:disabled+.occlss-form-cntrls__label--radiobutton {
    cursor: default
}

.occlss-form-cntrls--checkbox {
    display: block;
    position: relative;
    min-height: 2.5rem;
    margin-bottom: .625rem;
    padding-left: 2.5rem;
    clear: left
}

.occlss-form-cntrls__checkbox {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -0.125rem;
    left: -0.125rem;
    width: 2.75rem;
    height: 2.75rem;
    margin: 0;
    opacity: 0
}

.occlss-form-cntrls__label--checkbox {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding: .5rem .9375rem .3125rem;
    cursor: pointer;
    touch-action: manipulation
}

.occlss-form-cntrls__label--checkbox:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: .125rem solid currentColor;
    background: rgba(0, 0, 0, 0)
}

.occlss-form-cntrls__checkbox:checked+.occlss-form-cntrls__label--checkbox:after {
    opacity: 1
}

.occlss-form-cntrls__label--checkbox:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: .6875rem;
    left: .5625rem;
    width: 1.4375rem;
    height: .75rem;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 .3125rem .3125rem;
    border-top-color: rgba(0, 0, 0, 0);
    opacity: 0;
    background: rgba(0, 0, 0, 0)
}

.occlss-form-cntrls__checkbox:focus+.occlss-form-cntrls__label--checkbox:before {
    border-width: .25rem;
    box-shadow: 0 0 0 .1875rem #edc856
}

.occlss-form-cntrls__checkbox:disabled,
.occlss-form-cntrls__checkbox:disabled+.occlss-form-cntrls__label--checkbox {
    cursor: default
}

.occlss-form-cntrls__checkbox:disabled+.occlss-form-cntrls__label--checkbox {
    opacity: .5
}

.occlss-form-cntrls__checkbox:disabled,
.occlss-form-cntrls__checkbox:disabled+.occlss-form-cntrls__label--checkbox {
    cursor: default
}

.occlss-form-cntrls__show-hide {
    position: absolute;
    right: .625rem;
    top: 51%;
    cursor: pointer
}

.occlss-form-cntrls--small .occlss-form-cntrls__input--short-search {
    padding: .375rem .75rem
}

@media(max-width: 768px) {
    .occlss-form-cntrls--small .occlss-form-cntrls__input--short-search {
        padding: .625rem 1rem
    }
}

.occlss-form-cntrls__textarea:disabled,
.occlss-form-cntrls__input:disabled,
.occlss-form-cntrls__select:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5
}