---
title: Home page
description: [Description]
section: Patterns
layout: layout-pane.njk
theme: Pages
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Home page

{{ example({group: "patterns", item: "home-page", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]