{{> organisms-page-head-with-form}}
<main id="occlss-main-content">

  <section>
    <div class="occlss-wrapper">
      {{> organisms-hero-pane(occlss-hero-title: "What do you need to do today?", occlss-hero-image: "../../images/demo/hero-image-2.png", occlss-hero-heading-mod: "occlss-hero-pane__heading--residents") }} 
    </div>
  </section>

  {{> sections-categories-grid-section }} 
  {{> sections-promoted-content-panel-grid-section }}
  {{> sections-recent-news-section }}
</main>

<section class="occlss-section occlss-section--find-my-nearest">
  {{> organisms-search-place-form }}
</section>

{{> organisms-page-footer }}