{{> organisms-page-head-with-form}}


<main role="main" id="occlss-main-content">
  <!--START section block -->
  <div class="occlss-wrapper">
    {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
  </div>

  <div class="occlss-wrapper occlss-wrapper--secondary">
    <!--START wrapper block-->

    <div class="occlss-layout occlss-layout--gutter-s">
      <!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-12">
        <!--START layout elemnt -->
        <h1 class="occlss-g-heading-main occlss-u-bspace-sm">District Councils</h1>
        <p class="occlss-g-summary-text">This page describes the work of the five district councils in Oxfordshire.</p>
      </div>
      <div class="occlss-layout__col occlss-layout__col--md-9">
        <h2>How the council is organised</h2>

        <p>Six crews and one aerial platform appliance attended the incident – they were from Oxford, Kidlington, The Slade
          (Headington) and Wheatley.</p>
        <p>On arrival crews were faced with smoke coming from the entrance to the ground floor store area of the building. Thames
          Valley Police also attended the incident to provide assistance with the investigation and traffic control around
          the area.</p>
        <p>Two crews wearing breathing apparatus entered the store area with firefighting jets to extinguish the fire. The fire
          involved one store cupboard in the area that is used as a store area for residents. The crews quickly extinguished
          the fire to stop any spread in to the main part of the building.</p>
        <p>Incident Commander, Group Manager Paul Bremble, said: “The crews were quick to extinguish the fire and stop it from
          spreading to other parts of the building. The store is situated at the ground floor of the tower and does not have
          direct access to the main part of the building. The construction of the store is designed to stop the spread of
          the fire to other parts of the building. There was no risk to residents during the incident and no spread of the
          smoke or the fire to the flats above.</p>
        <p>
          “Thankfully no one was hurt at the incident and our crews are working with Thames Valley Police to ascertain the cause of
          the fire.”
        </p>
        <p>
          <a href="javascript:void(0);">Stephen Clarke</a>, Head of Housing and Property at Oxford City Council, said: “Everybody is rightly concerned
          about fires in tower blocks since the tragedy in Grenfell Tower in London. Today’s small fire, and the textbook
          response to it, shows that the safeguards in place in Oxford work well.
        </p>

        <p>
          “We are very grateful to the firefighters for their speedy and successful response, and are reinforced that we were right
          a couple of years ago to decide to go above and beyond national fire safety standards in our £20 million refurbishment
          programme for all five Oxford tower blocks.
        </p>
        <p>
          “The comprehensive fire measures we decided on included fitting sprinklers – which Oxfordshire’s Chief Fire Officer has confirmed
          puts our blocks amongst only 18 in the country with sprinklers, out of around 600 blocks in total.”
        </p>

        <ul>
          <li>Recomends budget and policy framework to the council</li>
          <li>Leads the council</li>
          <li>Makes all the key decisions</li>
          <li>Commissions policy review from scrutiny committees</li>
        </ul>



        <h3>How to request copies</h3>

        <ul>
          <li>Please
            <a href="/cms/content/contact-oxfordshire-history-centre">contact us&nbsp;</a>with details of which books, documents, images or other sources you would like us to copy.</li>
          <li>We will reply with details of the costs involved and an order form for you to complete and return with your payment.&nbsp;
            Forms include a copyright declaration which must be signed by all applicants.</li>
          <li>Check our
            <a href="/cms/content/charges-oxfordshire-history-centre-services">charges page </a>for full details of copying costs.</li>
        </ul>

        <h3>Certificates</h3>

        <ul>
          <li>Official certificates are available for baptism and marriage entries, made out by staff. These are officially recognised
            by the church authorities for administrative purposes. Certified copies can also be provided from motor tax registration
            records.
          </li>
          <li>Please
            <a href="/cms/content/contact-oxfordshire-history-centre">contact us&nbsp;</a>to request copies of certificates.</li>
        </ul>

        <h3>Digital photographs and electronic files</h3>

        <ul>
          <li>We can supply digital photographs from many of the materials in our care; these can be provided as paper prints
            or as electronic files.&nbsp; See our
            <a href="/cms/content/charges-oxfordshire-history-centre-services">charges page</a> for the options available.</li>
          <li>Please note that remote or online orders are handled by
            <a href="http://pictureoxon.com/2-5-order-copies.php">House of Images</a>;
            <a href="http://www.oxfordshire.gov.uk/oxfordshirehistorycharges#digital">Oxfordshire County Council rates</a> are applicable only to personal visitors to Oxfordshire History Centre.</li>
          <li>Check our
            <a href="/cms/content/copying-services#copying">copying guidelines&nbsp;</a>for restrictions applying to electronic files.</li>
          <li>Please
            <a href="/cms/content/contact-oxfordshire-history-centre">contact us&nbsp;</a>to request copies as a digital print or an electronic file.</li>
        </ul>

<div class="occlss-g-table-responsive">
        <table class="occlss-table" cellpadding="0" cellspacing="0" summary="School term dates for 2017 - 2018">
          <tbody class="occlss-table__body">
            <tr class="occlss-table__row">
              <th class="occlss-table__header">Term</th>
              <th class="occlss-table__header">Dates</th>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Autumn Term</strong>
              </td>
              <td class="occlss-table__cell">4 September – 20 October 2017
                <br> (4 September is an INSET day)</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">October holiday</td>
              <td class="occlss-table__cell">23 October –&nbsp;27 October 2017</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Autumn Term</strong>
              </td>
              <td class="occlss-table__cell">30 October – 19 December 2017</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">Christmas holiday</td>
              <td class="occlss-table__cell">20 December 2017 – 3 January 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Spring Term</strong>
              </td>
              <td class="occlss-table__cell">4 January – 9 February 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">Spring half term</td>
              <td class="occlss-table__cell">12 February –&nbsp;16 February 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Spring Term</strong>
              </td>
              <td class="occlss-table__cell">19 February – 29 March 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">Easter holiday</td>
              <td class="occlss-table__cell">30 March – 13 April 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Summer Term</strong>
              </td>
              <td class="occlss-table__cell">16 April – 25 May 2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">Late Summer half term</td>
              <td class="occlss-table__cell">28 May - 1 June&nbsp;2018</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">
                <strong>Summer Term</strong>
              </td>
              <td class="occlss-table__cell">4 June - 25 July 2018</td>
            </tr>
          </tbody>
        </table>
</div>

        <h2>Test</h2>
        <div class="occlss-g-table-responsive">

        <table class="occlss-table" cellpadding="0" cellspacing="0" summary="council tax figures">
          <thead>
            <tr class="occlss-table__row">
              <th class="occlss-table__header" scope="col">Council Tax Band</th>
              <th class="occlss-table__header" scope="col">Property Values</th>
              <th class="occlss-table__header" scope="col">Band D Proportion</th>
              <th class="occlss-table__header" scope="col">2017/18</th>
              <th class="occlss-table__header" scope="col">2018/19</th>
              <th class="occlss-table__header" scope="col">Change</th>
            </tr>
          </thead>
          <tbody>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">A</td>
              <td class="occlss-table__cell">Up to £40,000</td>
              <td class="occlss-table__cell">6/9</td>
              <td class="occlss-table__cell">£897.06</td>
              <td class="occlss-table__cell">£950.79</td>
              <td class="occlss-table__cell">£53.73</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">B</td>
              <td class="occlss-table__cell">Over £40,000 and up to £52,000</td>
              <td class="occlss-table__cell">7/9</td>
              <td class="occlss-table__cell">£1,046.57</td>
              <td class="occlss-table__cell">£1,109.26</td>
              <td class="occlss-table__cell">£62.69</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">C</td>
              <td class="occlss-table__cell">Over £52,000 and up to £68,000</td>
              <td class="occlss-table__cell">8/9</td>
              <td class="occlss-table__cell">£1,196.08</td>
              <td class="occlss-table__cell">£1,267.72</td>
              <td class="occlss-table__cell">£71.64</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">D</td>
              <td class="occlss-table__cell">Over £68,000 and up to £88,000</td>
              <td class="occlss-table__cell">9/9</td>
              <td class="occlss-table__cell">£1,345.59</td>
              <td class="occlss-table__cell">£1,426.19</td>
              <td class="occlss-table__cell">£80.60</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">E</td>
              <td class="occlss-table__cell">Over £88,000 and up to £120,000</td>
              <td class="occlss-table__cell">11/9</td>
              <td class="occlss-table__cell">£1,644.61</td>
              <td class="occlss-table__cell">£1,743.12</td>
              <td class="occlss-table__cell">£98.51</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">F</td>
              <td class="occlss-table__cell">Over £120,000 and up to £160,000</td>
              <td class="occlss-table__cell">13/9</td>
              <td class="occlss-table__cell">£1,943.63</td>
              <td class="occlss-table__cell">£2,060.05</td>
              <td class="occlss-table__cell">£116.42</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">G</td>
              <td class="occlss-table__cell">Over £160,000 and up to £320,000</td>
              <td class="occlss-table__cell">15/9</td>
              <td class="occlss-table__cell">£2,242.65</td>
              <td class="occlss-table__cell">£2,376.98</td>
              <td class="occlss-table__cell">£134.33</td>
            </tr>
            <tr class="occlss-table__row">
              <td class="occlss-table__cell">H</td>
              <td class="occlss-table__cell">Over £320,000</td>
              <td class="occlss-table__cell">18/9</td>
              <td class="occlss-table__cell">£2,691.18</td>
              <td class="occlss-table__cell">£2,852.38</td>
              <td class="occlss-table__cell">£161.20</td>
            </tr>
          </tbody>
        </table>

      </div>

      </div>
      <div class="occlss-layout__col occlss-layout__col--md-3">
        {{> organisms-find-my-nearest-short(occlss-find-my-nearest-mod-class: 'occlss-u-bspace-md') }} {{> organisms-sidebar-item-section
        }}
      </div>
      <!--End layout elemnt -->
    </div>
    <!--End layout block -->


  </div>
  <!--End wrapper block -->



</main>
<!--End section block -->


{{> organisms-page-footer }}
