{{> organisms-page-head }}
{{> molecules-version-bar }}


<div class="occlss-wrapper">
    {{> molecules-breadcrumb }}
</div>

<main role="main" id="occlss-main-content"><!--START section block -->
  <div class="occlss-wrapper occlss-wrapper--secondary"><!--START wrapper block-->
	  <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-6"><!--START layout elemnt -->


        <h1 class="occlss-g-heading-main">Fire in store area of Plowman Tower Oxford</h1>
        <p class="occlss-g-summary-text">Firefighters were called out to an incident at Plowman Tower at Westlands Drive in Oxford at 12:26 on Wednesday, June 26.</p>

        <h2>How the council is organised</h2>

        {{> molecules-alert-box }}
        {{> molecules-info-box(text:'This is some information that is related to the content surrounding it. This might not apply to everyone but it might be important to you') }}
        {{> organisms-box-out }}

        <p>
        This font style is bigger than normal paragraph text but can be used to draw attention to a pice of content. Keep it short and sweet.
        </p>
        
        <p>Six crews and one aerial platform appliance attended the incident – they were from Oxford, Kidlington, The Slade (Headington) and Wheatley.</p>
        <p>On arrival crews were faced with smoke coming from the entrance to the ground floor store area of the building. Thames Valley Police also attended the incident to provide assistance with the investigation and traffic control around the area.</p>
        <p>Two crews wearing breathing apparatus entered the store area with firefighting jets to extinguish the fire. The fire involved one store cupboard in the area that is used as a store area for residents. The crews quickly extinguished the fire to stop any spread in to the main part of the building.</p>
        <p>Incident Commander, Group Manager Paul Bremble, said: “The crews were quick to extinguish the fire and stop it from spreading to other parts of the building. The store is situated at the ground floor of the tower and does not have direct access to the main part of the building. The construction of the store is designed to stop the spread of the fire to other parts of the building. There was no risk to residents during the incident and no spread of the smoke or the fire to the flats above.</p>
        <p>
          “Thankfully no one was hurt at the incident and our crews are working with Thames Valley Police to ascertain the cause of the fire.”
        </p>

        {{> organisms-find-my-nearest-district-council }}

        <p>
          <a href="javascript:void(0);">Stephen Clarke</a>, Head of Housing and Property at Oxford City Council, said: “Everybody is rightly concerned about fires in tower blocks since the tragedy in Grenfell Tower in London. Today’s small fire, and the textbook response to it, shows that the safeguards in place in Oxford work well.
        </p>
        <p>
          “We are very grateful to the firefighters for their speedy and successful response, and are reinforced that we were right a couple of years ago to decide to go above and beyond national fire safety standards in our £20 million refurbishment programme for all five Oxford tower blocks.
        </p>
        
        <p>
          “The comprehensive fire measures we decided on included fitting sprinklers – which Oxfordshire’s Chief Fire Officer has confirmed puts our blocks amongst only 18 in the country with sprinklers, out of around 600 blocks in total.”
        </p>
        <ul>
          <li>Recomends budget and policy framework to the council</li>
          <li>Leads the council</li>
          <li>Makes all the key decisions</li>
          <li>Commissions policy review from scrutiny committees</li>
        </ul>

        {{> molecules-pagination }}

        
	  </div><!--End layout elemnt -->
    <div class="occlss-layout__col occlss-layout__col--md-4 occlss-layout__col--offset-2-md">
      {{> organisms-find-my-nearest-district-council }}
	  </div><!--End layout elemnt -->
    
    </div> <!--End layout block -->
  </div> <!--End wrapper block -->
</main><!--End section block -->

{{> organisms-page-footer-no-link }}
