{{> organisms-page-head-with-form}}
<main id="occlss-main-content">
  <div class="occlss-wrapper">
      {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
  </div>
  <div>
    <div class="occlss-wrapper">
      {{> organisms-hero-pane(occlss-hero-title: "Business", occlss-hero-image: "../../images/demo/hero-image-3.jpg", occlss-hero-mod-class: "occlss-hero-pane--lgimage",occlss-hero-heading-mod: "occlss-hero-pane__heading--business") }}     
    </div>
  </div>
  <div>

    <div class="occlss-wrapper"><!--START wrapper block-->
      <div class="occlss-layout occlss-layout--gutter-s occlss-u-tspace-sm"><!--START layout block-->
        
        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-3">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--aqua-dee">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                All the
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                  news
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>


        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-5">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--boston-blue">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                Licences and
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                  permits
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>

        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-4">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                Advice for
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary occlss-promoted-content-panel__arrow">
                  businesses
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>

      </div><!--End layout elemnt -->
    </div>
</div>
  <div>
      <div class="occlss-wrapper"><!--START wrapper block-->
        <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
          {{> sections-recent-news-section }}
        </div><!--End layout elemnt -->
      </div>
  </div>

  <div role="tablist" aria-live="polite">
      <div class="occlss-wrapper"><!--START wrapper block-->
        <div class="occlss-layout occlss-layout--popular-content-grid occlss-layout--gutter-s occlss-u-tpspace-none"><!--START layout block-->
            {{> sections-categories-grid-section }}
            {{> sections-promoted-content-panel-grid-section }}
          </div><!--End layout elemnt -->
      </div>
  </div>

</main>

<div class="occlss-section occlss-section--find-my-nearest">
  {{> organisms-find-my-nearest }}
</div>

{{> organisms-page-footer }}
