{{> organisms-page-head-with-form}}

<section>
  <div class="occlss-wrapper">
    {{> organisms-hero-pane(occlss-hero-title: "Council", occlss-hero-image: "../../images/demo/hero-image-3.jpg", occlss-hero-mod-class: "occlss-hero-pane--lgimage",occlss-hero-heading-mod: "occlss-hero-pane__heading--council") }} 
  </div>
</section>

<main role="main" id="occlss-main-content"><!--START section block -->
  <div class="occlss-wrapper occlss-wrapper--secondary"><!--START wrapper block-->
	  <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-9"><!--START layout elemnt -->
        <h1 class="occlss-g-heading-main">Street and resident parking permits</h1>


        {{> molecules-page-guide }}

        <h2>1. Apply for or renew a resident's parking permit</h2>

        <p>
          You can only apply for or renew a permit online.
        </p>
        <p>
          We deal with parking permits for on-street parking in areas where controlled parking zone (CPZ) have been introduces (where parking is only permitted in designated parking bays).
        </p>
        <p>
          Please note that you will recieve a parking tickets if you parking in a permit holder bay without display a valid resident or permit.
        </p>
        
         <button class="occlss-button occlss-button--primary">Apply for a resident's parking permit</button>
         <button class="occlss-button occlss-button--primary">Renew a reasident's parking permit</button>


        {{> molecules-pagination }}

	  </div><!--End layout elemnt -->
    <div class="occlss-layout__col occlss-layout__col--md-3"><!--START layout elemnt -->

      {{> organisms-sidebar-item-section }}

    </div><!--End layout elemnt -->
    </div> <!--End layout block -->
  </div> <!--End wrapper block -->
</main><!--End section block -->

{{> organisms-page-footer }}