{{> organisms-page-head-with-form}}


<main role="main" id="occlss-main-content"><!--START section block -->
    <div class="occlss-wrapper">
      {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
  </div>
  
  <div class="occlss-wrapper occlss-wrapper--secondary"><!--START wrapper block-->
	  
    <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-12"><!--START layout elemnt -->
        <h1 class="occlss-g-heading-main">Government in Oxfordshire</h1>
	    </div><!--End layout elemnt -->
    </div> <!--End layout block -->

	  <div class="occlss-layout occlss-layout--gutter-s"><!--START layout block-->

        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-3">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--aqua-dee">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                All the news
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>


        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-5">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--boston-blue">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                Licences and permits
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>

        <div class="occlss-layout__col occlss-layout__col--flex occlss-layout__col--md-4">
          <a href="#" class="occlss-promoted-content-panel occlss-promoted-content-panel--pale-sky">
            <div class="occlss-promoted-content-panel__content">
              <div class="occlss-promoted-content-panel__text-line occlss-promoted-content-panel__text-line--header-small">
                Advice for businesses
                <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                  <svg aria-hidden="true" class="occlss-icon__container occlss-promoted-content-panel__link-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                      class="icon__source icon__source--svg"></use>
                  </svg>
                </span>
              </div>
            </div>
          </a>
        </div>


    </div> <!--End layout block -->
  </div> <!--End wrapper block -->



</main><!--End section block -->


{{> organisms-page-footer }}