{{> organisms-page-head-with-form}}

<div class="occlss-wrapper">
  {{> molecules-breadcrumb }}
</div>

<main role="main" id="occlss-main-content">
  <!--START section block -->

  <div class="occlss-wrapper occlss-wrapper--secondary">
    <!--START wrapper block-->
    <div class="occlss-layout occlss-layout--gutter-s">
        <div class="occlss-layout__col occlss-layout__col--md-3">
        <!--START layout elemnt -->
        {{> organisms-sidebar-item-section }}
      </div>
      <!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-9">
        <!--START layout elemnt -->
        <h1>Register of Landowner Statements</h1>
        <p class="occlss-g-summary-text">
          Search the register of landowner statements, declarations and plans deposited by landowners.
        </p>







          <form action="#" method="get" role="search">
            <div class="occlss-layout">
              <div class="occlss-layout__col occlss-layout__col--12">
                <div class="occlss-form__input-group">
                  <label class="occlss-form__label occlss-u-visuallyhidden" for="inp01022018">Search register</label>
                  <input class="occlss-form__input" id="inp01022018" name="inp01022018" type="text">
                </div>
              </div>
              <div class="occlss-layout__col occlss-layout__col--12">
                <button type="submit" class="occlss-button occlss-button--primary occlss-button--fullwidth">Search register</button>
              </div>
            </div>
          </form>


        <p>
          The register of statements, declarations and plans deposited by landowners to prevent their land being:
        </p>

        <ul>
          <li>Recorded as a public right of way on the basis of presumed dedication under the Highways Act 1980 section 31(6),
            protecting against such claims only during the period of time the statement and declaration are valid.</li>
          <li>Registered as a town or village green under the Commons Act 2006 Section 15A, provided they are deposited before
            there has been 20 years recreational use of the land as of right.</li>
        </ul>

        <p>
          Please note entries prior to 1 October 2013 only refer to deposits under the Highways Act 1980.
        </p>

      </div>
      <!--End layout elemnt -->
    </div>

    <div class="occlss-wrapper occlss-wrapper--secondary">
      <!--START wrapper block-->
      <div class="occlss-layout occlss-layout--gutter-s">
        <!--START layout block-->

        
        <div class="occlss-layout__col occlss-layout__col--9 occlss-layout__col--order-2">

          
            <h2>Records</h2>
            <div class="occlss-form">
              <form>
                <label class="occlss-form__label occlss-search-place-form__label" for="options-a1e1">Sort by: </label>
                <select class="occlss-form__select js-occlss-search-place-form-select" name="select-a-place" id="options-a1e1">
                  <option value="1">Our reference</option>
                  <option value="">Abingdon</option>
                </select>
              </form>
            </div>

          <p class="occlss-u-tspace-md"><strong>Records 711 to 716 of 71</strong></p>
          {{> atoms-splitter(classes: "occlss-u-bspace-md") }}
         
          <div class="occlss-info-card">

            <a href="#" class="occlss-info-card__title">Ambrosden Depot and Camp &amp; most of Ambrosden Village</a>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Our reference: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">1002</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Highway statement received: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">24/03/1994</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Declaration expiry date: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">23/03/2000</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Parishes: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">Ambrosden</div>
            </div>


            {{> atoms-splitter(classes: "occlss-u-tspace-md occlss-u-bspace-md") }}

          </div>
          <div class="occlss-info-card">

            <a href="#" class="occlss-info-card__title">
              Land at Brize Rorton<br>
              Brize Norton<br>
              Oxfordshire<br>
              OX18 3NX
            </a>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Our reference: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">1002</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Highway statement received: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">24/03/1994</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Declaration expiry date: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">23/03/2000</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Parishes: </div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">Ambrosden</div>
            </div>


            {{> atoms-splitter(classes: "occlss-u-tspace-md occlss-u-bspace-md") }}

          </div>
          <div class="views-row occlss-info-card">

            <a href="#" class="occlss-info-card__title">
              1. The Kennels, Bradwell Grove, Burford, OX18 4JP<br>
              2. Land to the west of the Kennels, Bradwell Grove, Burford OX18 4JR<br>
              3. Land to the east of the Lower Glissard's Plantation, Bradwell Grove  OX18 4JJ<br>
              4. land to the west of Woodside Farm, Bradwell Grove, Burford OX18 4JJ</a>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Our reference:</div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">1927</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Greens statement received:</div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">Mon, 13/11/2017 - 12:00</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Highway statement received:</div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">02/10/2017</div>
            </div>


            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Declaration expiry date:</div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">12/11/2037</div>
            </div>

            <div class="occlss-layout">
              <div class="occlss-info-card__label occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-3">Parishes:</div>
              <div class="occlss-info-card__content occlss-layout__col occlss-layout__col--6 occlss-layout__col--xs-9">Broadwell, Shilton</div>
            </div>


            {{> atoms-splitter(classes: "occlss-u-tspace-md occlss-u-bspace-md") }}

          </div>

        </div>

        <aside class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--order-1">
  


              <div class="block-facets-heading">
                <h2 class="block-facets-heading__title">Filter my results</h2>
                <a href=" /prowd?" class="sort-item.sort clear">Clear filters</a>
              </div>



              <div id="block-prowddeposittype" class="block-facet--links block block-facets block-facet-blockdeposit-type">

                <h3>Deposit type</h3>

                <ul data-drupal-facet-id="deposit_type" data-drupal-facet-alias="deposit_type" class="item-list__links">
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=deposit_type%3AHighway" rel="nofollow" data-drupal-facet-item-id="deposit_type-Highway" data-drupal-facet-item-value="Highway">
                      <span class="facet-item__value">Highway</span>
                      <span class="facet-item__count">(65)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=deposit_type%3AHighway%20and%20Village%20Green" rel="nofollow" data-drupal-facet-item-id="deposit_type-Highway-and-Village-Green"
                      data-drupal-facet-item-value="Highway and Village Green">
                      <span class="facet-item__value">Highway and Village Green</span>
                      <span class="facet-item__count">(89)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=deposit_type%3AVillage%20Green" rel="nofollow" data-drupal-facet-item-id="deposit_type-Village-Green"
                      data-drupal-facet-item-value="Village Green">
                      <span class="facet-item__value">Village Green</span>
                      <span class="facet-item__count">(3)</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div id="block-prowddistrict" class="block-facet--links block block-facets block-facet-blockdistrict">

                <h3>District</h3>

                <ul data-drupal-facet-id="district" data-drupal-facet-alias="district" class="item-list__links">
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3ACherwell" rel="nofollow" data-drupal-facet-item-id="district-Cherwell" data-drupal-facet-item-value="Cherwell">
                      <span class="facet-item__value">Cherwell</span>
                      <span class="facet-item__count">(163)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3AOxford%20City" rel="nofollow" data-drupal-facet-item-id="district-Oxford-City"
                      data-drupal-facet-item-value="Oxford City">
                      <span class="facet-item__value">Oxford City</span>
                      <span class="facet-item__count">(33)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3ASouth%20Oxfordshire" rel="nofollow" data-drupal-facet-item-id="district-South-Oxfordshire"
                      data-drupal-facet-item-value="South Oxfordshire">
                      <span class="facet-item__value">South Oxfordshire</span>
                      <span class="facet-item__count">(225)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3AVale%20of%20the%20White%20Horse" rel="nofollow" data-drupal-facet-item-id="district-Vale-of-the-White-Horse"
                      data-drupal-facet-item-value="Vale of the White Horse">
                      <span class="facet-item__value">Vale of the White Horse</span>
                      <span class="facet-item__count">(2)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3AVale%20of%20White%20Horse" rel="nofollow" data-drupal-facet-item-id="district-Vale-of-White-Horse"
                      data-drupal-facet-item-value="Vale of White Horse">
                      <span class="facet-item__value">Vale of White Horse</span>
                      <span class="facet-item__count">(126)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=district%3AWest%20Oxfordshire" rel="nofollow" data-drupal-facet-item-id="district-West-Oxfordshire"
                      data-drupal-facet-item-value="West Oxfordshire">
                      <span class="facet-item__value">West Oxfordshire</span>
                      <span class="facet-item__count">(168)</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div id="block-prowdparishes" class="block-facet--links block block-facets block-facet-blockparishes">

                <h3>Parish</h3>

                <ul data-drupal-facet-id="parishes" data-drupal-facet-alias="parishes" class="item-list__links">
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=parishes%3AAbingdon" rel="nofollow" data-drupal-facet-item-id="parishes-Abingdon" data-drupal-facet-item-value="Abingdon">
                      <span class="facet-item__value">Abingdon</span>
                      <span class="facet-item__count">(4)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=parishes%3AAdderbury" rel="nofollow" data-drupal-facet-item-id="parishes-Adderbury" data-drupal-facet-item-value="Adderbury">
                      <span class="facet-item__value">Adderbury</span>
                      <span class="facet-item__count">(2)</span>
                    </a>
                  </li>
                  <li class="facet-item">
                    <a href="/prowd?f%5B0%5D=parishes%3AAlvescot" rel="nofollow" data-drupal-facet-item-id="parishes-Alvescot" data-drupal-facet-item-value="Alvescot">
                      <span class="facet-item__value">Alvescot</span>
                      <span class="facet-item__count">(2)</span>
                    </a>
                  </li>
                </ul>
                <a href="#" class="facets-soft-limit-link">Show more</a>

              </div>

        </aside>


      </div>
    </div>

    <!--End layout block -->
  </div>
  <!--End wrapper block -->
</main>
<!--End section block -->

{{> organisms-page-footer }}