{{> organisms-page-head-with-form }}


<main role="main" id="occlss-main-content">
  <!--START section block -->
  <div class="occlss-wrapper">
    {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
  </div>

  <div class="occlss-wrapper occlss-wrapper--secondary">
    <!--START wrapper block-->

    <div class="occlss-layout occlss-layout--gutter-s">
      <!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--md-12">
        <!--START layout elemnt -->
        <h1 class="occlss-g-heading-main">Advice for communities</h1>
      </div>
      <!--End layout elemnt -->
    </div>
    <!--End layout block -->


    <div class="occlss-layout occlss-layout--gutter-s">
      <!--START layout block-->



      <div class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--12 occlss-u-bspace-md">
        {{> organisms-short-summary }}
      </div>

    </div>


  </div>
  <!--End wrapper block -->



</main>
<!--End section block -->


{{> organisms-page-footer }}

