{{> organisms-page-head-with-form}}


<div class="occlss-wrapper">
  {{> molecules-breadcrumb(occlss-breadcrumb-no-space: 'true') }}
</div>




<section id="pagecontent">
  <div class="occlss-wrapper">

    <article role="article" class="occlss-wrapper occlss-wrapper--secondary">

      <div class="occlss-layout occlss-layout--gutter-s">


        <header class="occlss-layout__col occlss-layout__col--md-8">
          <h1 class="occlss-g-heading-main occlss-u-bspace-sm">Apply for a Blue Badge</h1>
          <p class="occlss-g-summary-text occlss-u-bspace-none">How to apply or renew a disabled parking Blue Badge.</p>
          {{> molecules-content-nav }}
        </header>

        <div class="occlss-layout__col occlss-layout__col--md-8">

          <h2>Check if you are eligible for a Blue Badge</h2>

          <p>You may qualify for a Blue Badge if any of the following apply.</p>

          <h3>Auto-eligible criteria</h3>

         <div class="occlss-accordion js-occlss-accordion">
            <h4 class="occlss-accordion__panel-title">Terminal illness</h4>
            <div class="occlss-accordion__panel-content">
              <p>If you are someone who has been given a medical prognosis of less than a year to live, please speak to your MacMillan Nurse, hospice worker, specialist nurse, GP or Health Professional who will complete a form on your behalf. You do not have to complete an application.</p>
            </div>

            <h4 class="occlss-accordion__panel-title">Disability Living Allowance mobility component</h4>
            <div class="occlss-accordion__panel-content">
              <p>
                  You qualify if you are:
              </p>
              <ul>
                <li>In receipt of the Higher Rate Mobility Component – this will be confirmed on the letter from the DWP.</li>
              </ul>
              <p>You don't qualify if you are in receipt of:</p>
              <ul>
                <li>Low or Middle Rate Mobility Component</li>
                <li>the Care Component at any rate (unless they are also in receipt of the Higher Rate Mobility Component)</li>
                <li>Attendance Allowance at any rate</li>
                <li>Pension Credit</li>
              </ul>
            </div>
          </div>

        <p>You qualify if you have a permanent and substantial difficulty that causes inability to walk or very considerable difficulty in walking.</p>
        <p>Being unable to walk means that you can't take a single step.</p>

        {{> molecules-pagination }}



        </div>
        <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--offset-1-md">



          <div>
            <div>
              <div>



              </div>
            </div>
          </div>

          <div class="occlss-sidebar-item-section occlss-sidebar-item-section--residents" role="complementary">

          </div>


        </div>

      </div>
    </article>


  </div>
</section>

{{> organisms-page-footer-no-link }}
