{{> organisms-page-head-with-login-nav }}

<div id="occlss-main-content">
    <div class="occlss-wrapper">
        <div class="occlss-layout occlss-layout--gutter-s">

            <div class="occlss-layout__col occlss-layout__col--sm-10">

                {{> atoms-heading(occlss-heading-text: "Form tile", occlss-heading-tag: "h1",occlss-heading-class: "occlss-u-tspace-large",occlss-heading-secondary-text:"") }}

                <div class=" occlss-trim occlss-trim--green">
                    <div class="occlss-form">
                        <div class="occlss-layout">
                            <div class="occlss-layout__col occlss-layout__col--sm-9 occlss-layout__col--md-6">
                                <form class="occlss-form__content">
                                    <fieldset>

                                        <legend class="occlss-form__group-title occlss-form__group-title--large">
                                            Personal details of the applicationt
                                        </legend>

                                        <span class="occlss-form__desc-text">
                                            These are the details of the person who requires the Blue Badge.
                                        </span>

                                        <ol class="occlss-u-unstyled-list">

                                            <li class="occlss-form-cntrs">
                                                <label class="occlss-form-cntrs__label" for="input-type-text">First name</label>
                                                <input class="occlss-form-cntrs__input" id="input-type-text" name="input-type-text" type="text">
                                            </li>


                                            <li class="occlss-form-cntrs">
                                                <label class="occlss-form-cntrs__label" for="input-type-text">Last name</label>
                                                <input class="occlss-form-cntrs__input" id="input-type-text" name="input-type-text" type="text">
                                            </li>

                                            <li class="occlss-form-cntrs">
                                                <label class="occlss-form-cntrs__label" for="input-type-textarea">Text area label</label>
                                                <textarea class="occlss-form-cntrs__textarea" id="input-type-textarea" name="input-type-textarea"></textarea>
                                            </li>

                                            <li class="occlss-form-cntrs">

                                                <fieldset class="occlss-form__group">
                                                    <legend class="occlss-form__group-title occlss-u-rm-bottom">Date of birth</legend>
                                                    <span class="occlss-form__hint-text occlss-form__hint-text--spaced" id="dobHint">For example: 04 28 1986</span>
                                                    <div class="occlss-form__inline-fields">
                                                        <div class="occlss-form-cntrs occlss-form-cntrs--day">
                                                            <label class="occlss-form-cntrs__label occlss-form-cntrs__label--small" for="date_of_birth_2">Day</label>
                                                            <input class="occlss-form-cntrs__input" aria-describedby="dobHint" id="date_of_birth_2" name="date_of_birth_2" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]"
                                                                type="number" min="1" max="31" value="">
                                                        </div>
                                                        <div class="occlss-form-cntrs occlss-form-cntrs--month">
                                                            <label class="occlss-form-cntrs__label occlss-form-cntrs__label--small" for="date_of_birth_1">Month</label>
                                                            <input class="occlss-form-cntrs__input" aria-describedby="dobHint" id="date_of_birth_1" name="date_of_birth_1" pattern="0?[1-9]|1[012]"
                                                                type="number" min="1" max="12" value="">
                                                        </div>
                                                        <div class="occlss-form-cntrs occlss-form-cntrs--year">
                                                            <label class="occlss-form-cntrs__label occlss-form-cntrs__label--small" for="date_of_birth_3">Year</label>
                                                            <input class="occlss-form-cntrs__input" aria-describedby="dobHint" id="date_of_birth_3" name="date_of_birth_3" pattern="[0-9]{4}"
                                                                type="number" min="1900" max="2000" value="">
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </li>

                                            <li class="occlss-form-cntrs">
                                                <div class="occlss-form-cntrs">
                                                    <label class="occlss-form-cntrs__label" for="options">Dropdown label</label>
                                                    <select class="occlss-form-cntrs__select" name="options" id="options">
                                                        <option value="value1">Option A</option>
                                                        <option value="value2">Option B</option>
                                                        <option value="value3">Option C</option>
                                                    </select>
                                                </div>
                                            </li>

                                            <li class="occlss-form-cntrs">

                                                <fieldset class="occlss-form__group">
                                                    <legend class="occlss-form__group-title">Select an option</legend>
                                                    <ul class="occlss-u-unstyled-list">
                                                        <li class="occlss-form-cntrs">
                                                            <input class="occlss-form-cntrs__radiobutton" id="opt-1" type="radio" checked name="radio-1" value="opt-1">
                                                            <label class="occlss-form-cntrs__label" for="opt-1">Options 1</label>
                                                        </li>
                                                        <li class="occlss-form-cntrs">
                                                            <input class="occlss-form-cntrs__radiobutton" id="opt-2" type="radio" name="radio-1" value="opt-2">
                                                            <label class="occlss-form-cntrs__label" for="opt-2">Options 2</label>
                                                        </li>
                                                    </ul>
                                                </fieldset>

                                            </li>

                                            <li class="occlss-form-cntrs">
                                                <fieldset class="occlss-form__group">
                                                    <legend class="occlss-form__group-title">Select an option</legend>
                                                    <ul class="occlss-u-unstyled-list">
                                                        <li class="occlss-form-cntrs">
                                                            <input class="occlss-form-cntrs__checkbox" id="cb-opt-1" type="checkbox" name="cb-opt" value="option-1" checked>
                                                            <label class="occlss-form-cntrs__label" for="cb-opt-1">Option 1</label>
                                                        </li>
                                                        <li class="occlss-form-cntrs">
                                                            <input class="occlss-form-cntrs__checkbox" id="cb-opt-2" type="checkbox" name="cb-opt" value="option-2">
                                                            <label class="occlss-form-cntrs__label" for="cb-opt-2">Option 2</label>
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                            </li>


                                            <li class="occlss-form-cntrs">

                                                <fieldset>

                                                    <legend class="occlss-u-visuallyhidden">Select customer</legend>

                                                    <nav class="occlss-form__controls" role="navigation">
                                                        <ul class="occlss-u-unstyled-list">
                                                            <li class="occlss-form__controls-list-item occlss-form__controls-list-item--spaced">
                                                                <button class="occlss-button occlss-button--neutral">Back</button>
                                                            </li>
                                                            <li class="occlss-form__controls-list-item">
                                                                <button class="occlss-button occlss-button--primary occlss-form__submit">Continue</button>
                                                            </li>
                                                        </ul>
                                                    </nav>

                                                </fieldset>

                                            </li>

                                        </ol>

                                    </fieldset>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> organisms-page-footer }}