---
title: Short summary
description: [Description]
section: Components
theme: Cards
layout: layout-pane.njk
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Short summary

{{ example({group: "components", item: "short-summary", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]