---
title: Short summary
description: [Description]
section: Components
theme: Cards
layout: layout-pane.njk
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Short summary

The short summary should tell the user what the page is about. This component is used on simple landing pages as links to content.

{{ example({group: "components", item: "short-summary", example: "default", html: true }) }}

#### 1.0.0

- Component Added