---
title: Short summary
description: [Description]
section: Components
theme: Cards
layout: layout-pane.njk
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Short summary

The short summary should tell the user what the page is about. They are displayed on simple landing pages and in search results.

{{ example({group: "components", item: "short-summary", example: "default", html: true }) }}

### When to use this component 

All standard pages, campaign pages, simple landing pages and index pages have a summary as mandatory.

#### 1.0.0

- Component Added