           <div class="occlss-accordion js-occlss-accordion">

     
        
        <h3 class="occlss-accordion__panel-title">Article 1</h3>
        
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
        </div>

        <h3 class="occlss-accordion__panel-title">Article 2</h3>
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
            <p>
              Etiam sit amet venenatis metus. In egestas ex sed nunc facilisis pulvinar. Aliquam erat volutpat. Morbi ac pulvinar nulla.
              Pellentesque facilisis, ligula ac ultricies mollis, lorem nulla tristique orci, vel egestas neque neque ut nisl. Proin
              vitae ligula eu ante varius accumsan condimentum sit amet ligula. Maecenas facilisis sodales lacus, et viverra erat pellentesque
              at. Phasellus in magna aliquet nisl lacinia tincidunt et pulvinar lorem. Pellentesque a venenatis dolor. Vestibulum ultrices,
              dolor consequat lacinia aliquam, nisl orci mattis orci, sit amet tempus velit libero pretium metus. Maecenas id nunc lacus.
              Suspendisse facilisis, nisl ac placerat varius, tortor metus molestie risus, non tempus sem nibh eget dui. Phasellus eros
              lacus, faucibus ut ante ultricies, ullamcorper ullamcorper erat. Donec eleifend eget erat sed vestibulum. Nullam facilisis
              sapien erat, at commodo nisi interdum at. In at sapien at libero hendrerit semper.
            </p>
        </div>
      </div>
      
      <div class="occlss-accordion occlss-accordion--business js-occlss-accordion">
        
        <h3 class="occlss-accordion__panel-title">Article 1</h3>
        
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
        </div>

        <h3 class="occlss-accordion__panel-title">Article 2</h3>
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
            <p>
              Etiam sit amet venenatis metus. In egestas ex sed nunc facilisis pulvinar. Aliquam erat volutpat. Morbi ac pulvinar nulla.
              Pellentesque facilisis, ligula ac ultricies mollis, lorem nulla tristique orci, vel egestas neque neque ut nisl. Proin
              vitae ligula eu ante varius accumsan condimentum sit amet ligula. Maecenas facilisis sodales lacus, et viverra erat pellentesque
              at. Phasellus in magna aliquet nisl lacinia tincidunt et pulvinar lorem. Pellentesque a venenatis dolor. Vestibulum ultrices,
              dolor consequat lacinia aliquam, nisl orci mattis orci, sit amet tempus velit libero pretium metus. Maecenas id nunc lacus.
              Suspendisse facilisis, nisl ac placerat varius, tortor metus molestie risus, non tempus sem nibh eget dui. Phasellus eros
              lacus, faucibus ut ante ultricies, ullamcorper ullamcorper erat. Donec eleifend eget erat sed vestibulum. Nullam facilisis
              sapien erat, at commodo nisi interdum at. In at sapien at libero hendrerit semper.
            </p>
        </div>
      </div>


      <div class="occlss-accordion occlss-accordion--council js-occlss-accordion">
        
        <h3 class="occlss-accordion__panel-title">Article 1</h3>
        
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
        </div>

        <h3 class="occlss-accordion__panel-title">Article 2</h3>
        <div class="occlss-accordion__panel-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales convallis ex, a tincidunt mauris ornare non. Interdum
              et malesuada fames ac ante ipsum primis in faucibus. Duis ullamcorper, augue ut pharetra ultricies, ipsum sem dapibus dui,
              in eleifend neque augue vitae leo. Suspendisse potenti. Nulla porta leo ac facilisis iaculis. Aliquam et nibh iaculis,
              ultricies tellus et, rutrum neque. Donec eget aliquam tortor. Cras quis nunc congue, vehicula turpis ac, auctor leo. Fusce
              aliquet turpis aliquet, bibendum tortor et, faucibus massa. Cras accumsan tristique neque ut pellentesque. Duis eget efficitur
              leo.
            </p>
            <p>
              Etiam sit amet venenatis metus. In egestas ex sed nunc facilisis pulvinar. Aliquam erat volutpat. Morbi ac pulvinar nulla.
              Pellentesque facilisis, ligula ac ultricies mollis, lorem nulla tristique orci, vel egestas neque neque ut nisl. Proin
              vitae ligula eu ante varius accumsan condimentum sit amet ligula. Maecenas facilisis sodales lacus, et viverra erat pellentesque
              at. Phasellus in magna aliquet nisl lacinia tincidunt et pulvinar lorem. Pellentesque a venenatis dolor. Vestibulum ultrices,
              dolor consequat lacinia aliquam, nisl orci mattis orci, sit amet tempus velit libero pretium metus. Maecenas id nunc lacus.
              Suspendisse facilisis, nisl ac placerat varius, tortor metus molestie risus, non tempus sem nibh eget dui. Phasellus eros
              lacus, faucibus ut ante ultricies, ullamcorper ullamcorper erat. Donec eleifend eget erat sed vestibulum. Nullam facilisis
              sapien erat, at commodo nisi interdum at. In at sapien at libero hendrerit semper.
            </p>
        </div>
      </div>