<div class="occlss-layout occlss-layout--bleed">
    <div class="occlss-layout__col">
        <div class="occlss-hero-pane" style="background-image: url(../../images/demo/hero-image-2.png);">
            <h1 class="occlss-hero-pane__heading">What do you need to do today?</h1>
        </div>
    </div>
</div>