<div class="js-occlss-popular-content-pane occlss-popular-content-pane {{ popular-content-pane-mode-class }}" id="tab0" tabindex="0" class="section-title" aria-controls="panel0" role="tab">
    <h2 class="occlss-popular-content-pane__heading">{{ popular-content-pane-heading }}</h2>
    <div class="occlss-popular-content-pane__content"  id="panel0" aria-labelledby="tab0" role="tabpanel">
        {{> atoms-summary-list }}
        <a href="{{ popular-content-pane-view-more-link-url }}" class="occlss-u-more-link">
            {{ popular-content-pane-view-more-link-name }}

            <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                <svg aria-hidden="true" class="occlss-icon__container occlss-u-more-link__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary" class="icon__source icon__source--svg"></use>
                </svg>
            </span>

        </a>
    </div>
</div>


