<div class="js-occlss-popular-content-pane occlss-popular-content-pane {{ popular-content-pane-mode-class }}" id="tab-{{popular-content-pane-id}}" tabindex="0" aria-controls="panel-{{popular-content-pane-id}}" role="tab">
    <h2 class="occlss-popular-content-pane__heading">{{ popular-content-pane-heading }}</h2>
    <div class="occlss-popular-content-pane__content"  id="panel-{{popular-content-pane-id}}" aria-labelledby="tab-{{popular-content-pane-id}}" role="tabpanel">
        {{> molecules-summary-list }}
    </div>
</div>


