<div class="js-occlss-popular-content-pane occlss-popular-content-pane {{ popular-content-pane-mode-class }}" id="tab0" tabindex="0" aria-controls="panel0" role="tab">
    <h2 class="occlss-popular-content-pane__heading">{{ popular-content-pane-heading }}</h2>
    <div class="occlss-popular-content-pane__content"  id="panel0" aria-labelledby="tab0" role="tabpanel">
        {{> molecules-summary-list }}
    </div>
</div>


