        <div class="occlss-short-summary {{occlss-short-summary-mod-class }}">

          <div class="occlss-short-summary__title-cont">
            <h2 class="occlss-u-bspace-xs">In this section</h2>
            <div class="occlss-splitter occlss-splitter--council occlss-u-tspace-none"></div>
          </div>


          <div class="occlss-short-summary__link-cont">
            <a href="#" class="occlss-short-summary__link">
              <div class="occlss-short-summary__content-wraper">

                <div class="occlss-short-summary__content">

                  <h3 class="occlss-short-summary__content-title">Oxfordshire County Council</h3>
                  <p>
                    How Oxfordshire County Council works to provide services to the public.
                  </p>

                </div>

              </div>
            </a>
          </div>

          <div class="occlss-short-summary__link-cont">
            <a href="#" class="occlss-short-summary__link">
              <div class="occlss-short-summary__content-wraper">
                <div class="occlss-short-summary__content">
                  <h3 class="occlss-short-summary__content-title">District councils</h3>
                  <p>
                    This page describes the work of the five district councils in Oxfordshire.
                  </p>

                </div>
              </div>
            </a>
          </div>


          <div class="occlss-short-summary__link-cont">
            <a href="#" class="occlss-short-summary__link">
              <div class="occlss-short-summary__content-wraper">
                <div class="occlss-short-summary__content">
                  <h3 class="occlss-short-summary__content-title">MPs and MEPs</h3>
                  <p>
                    Find your Members of Parliament (MPs) and Members of European Parliament (MEPs).
                  </p>

                </div>
              </div>
            </a>
          </div>


          <div class="occlss-short-summary__link-cont">
            <a href="#" class="occlss-short-summary__link">
              <div class="occlss-short-summary__content-wraper">

                <div class="occlss-short-summary__content">

                  <h3 class="occlss-short-summary__content-title">Parish and town councils</h3>
                  <p>
                    What are parish and town councils and how do they work?
                  </p>

                </div>

              </div>
            </a>
          </div>

          <div class="occlss-short-summary__link-cont">
            <a href="#" class="occlss-short-summary__link">
              <div class="occlss-short-summary__content-wraper">
                <div class="occlss-short-summary__content">
                  <h3 class="occlss-short-summary__content-title">Mayors and chairs</h3>
                  <p>
                    Details about the chairmen of Oxfordshire's district councils and town mayors.
                  </p>

                </div>
              </div>
            </a>
          </div>

        </div>