
{{#toptasksPane}}
<div class="occlss-top-tasks-pane {{modeClass}}">

  <div class="occlss-wrapper occlss-top-tasks-pane__wrapper">
    <div class="occlss-layout occlss-top-tasks-pane__layout">

      {{#tabs}}
        <div class="occlss-layout__col occlss-layout__col--sm-4">
          <div class="occlss-top-tasks-pane__content">
            <h2 class="occlss-top-tasks-pane__heading">{{tabTitle}}</h2>
            {{> molecules-summary-list }}
          </div>
        </div>
      {{/tabs}}

    </div>  
  </div>

</div>

{{/toptasksPane}}