<footer class="occlss-page-footer">
  <div class="occlss-wrapper occlss-page-footer__wraper">
    <!--START wrapper block-->
    <div class="occlss-layout occlss-layout--gutter-s">
      <!--START layout block-->
      <div class="occlss-layout__col occlss-layout__col--sm-5 s-cms-content-footer">
        <!--START layout elemnt -->

        <h5>Oxfordshire County Council</h5>
        <p>County Hall, New Road, Oxford, OX1 1ND</p>
        <h5>Contact us</h5>
        <ul class="icon-list">
          <li>
            <a href="javascript:void(0);">
              <span class="occlss-icon occlss-icon--facebook" aria-hidden="true">
                <svg aria-hidden="true" class="occlss-icon__container">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#facebook" class="icon__source icon__source--svg"></use>
                </svg>
              </span>

            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="occlss-icon occlss-icon--twitter" aria-hidden="true">
                <svg aria-hidden="true" class="occlss-icon__container">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#twitter" class="icon__source icon__source--svg"></use>
                </svg>
              </span>

            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
            
              <span class="occlss-icon occlss-icon--rss" aria-hidden="true">
                <svg aria-hidden="true" class="occlss-icon__container">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#rss" class="icon__source icon__source--svg"></use>
                </svg>
              </span>

            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
          
              <span class="occlss-icon occlss-icon--newsletter" aria-hidden="true">
                <svg aria-hidden="true" class="occlss-icon__container">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#newsletter" class="icon__source icon__source--svg"></use>
                </svg>
              </span>

            </a>
          </li>
        </ul>
        <h5>Sign up for the YourOxfordshire newsletter</h5>
        <p>Get the latest news direct to your inbox every month.</p>
        {{> organisms-sign-up-form }}
      </div>
      <!--End layout elemnt -->
      <div class="occlss-layout__col occlss-layout__col--sm-4 s-cms-content-footer">
        <!--START layout elemnt -->
        <h5>Services</h5>
        <p>
          <a href="javascript:void(0);">Business</a>
        </p>
        <p>
          <a href="javascript:void(0);">Children, education and families</a>
        </p>
        <p>
          <a href="javascript:void(0);">Community and planning</a>
        </p>
        <p>
          <a href="javascript:void(0);">Fire and public planning</a>
        </p>
        <p>
          <a href="javascript:void(0);">Lesure and culture</a>
        </p>
        <p>
          <a href="javascript:void(0);">Roads and transport</a>
        </p>
        <p>
          <a href="javascript:void(0);">Social and helth care</a>
        </p>
      </div>
      <!--End layout elemnt -->
      <div class="occlss-layout__col occlss-layout__col--sm-3 s-cms-content-footer">
        <!--START layout elemnt -->
        <h5>Information</h5>
        <p>
          <a href="javascript:void(0);">Access to information</a>
        </p>
        <p>
          <a href="javascript:void(0);">Tems ans conditions</a>
        </p>
        <p>
          <a href="javascript:void(0);">How we use cookies</a>
        </p>
        <p>
          <a href="javascript:void(0);">Privacy policy</a>
        </p>
        <p>
          <a href="javascript:void(0);">Working for us</a>
        </p>
        <p>
          <a href="javascript:void(0);">Sitemap</a>
        </p>
        <p>
          <a href="javascript:void(0);">GOV.UK</a>
        </p>
      </div>
      <!--End layout elemnt -->
    </div>
    <!--End layout block -->
  </div>
  <!--End wrapper block -->
</footer>
