html {

	// Fill the whole browser. Necessary when the body is smaller than the browser,
	// but wants to fill the whole page using min-height.
	width: 100%;
	height: 100%;

	// Set the font-size in the root element as rem is relative to the document root

	@media (max-width: $mobile) {
		font-size: 87.5%;
	}
	
	/*@include breakpoint($mobile){
		background: #999967 !important;
    }
    @include breakpoint($tablet){
        background: #666666 !important;
    }
    @include breakpoint($desktop){
        background: #CCCC9A !important;
    }*/

}

.html-bg-white {
	background: #ffffff;
}