// Default html, body default parameters


html {
    font-family: $doc-page-font-family-primary;
    color: $doc-page-font-color-primary;
    font-weight: $doc-page-font-weight-primary;
    background-color: $doc-page-background-primary;
    @media(max-width: 30rem) {
        font-size: 87.5%
    }
    @media(min-width: 62rem) {
        font-size: 100%
    }
}

p {
    line-height: $doc-page-line-height-paragraph-unit;
    margin-top: $doc-page-margin-paragraph-unit-top;
    margin-bottom: $doc-page-margin-paragraph-unit-bottom;
    margin-left: $doc-page-margin-paragraph-unit-left;
    margin-right: $doc-page-margin-paragraph-unit-right;
}

p + h2,
p + h3,
p + h4,
p + h5, 
ul + h2,
ul + h3,
ul + h4, 
ul + h5,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
div + h2,
div + h3,
div + h4,
div + h5,
table + h2,
table + h3,
table + h4,
table + h5 {
    padding-top: 1.25rem;
}

ol,
ul {
    margin: 0 0 1.875rem 0;
    padding: 0 0 0 2.5rem;
    li {
        margin-bottom: 1rem;
    }
}