.occlss-short-summary {
    @extend .occlss-layout;
}

.occlss-short-summary__title-cont {
    @extend .occlss-layout__col;
    @extend .occlss-layout__col--12;
}

.occlss-short-summary__link-cont {
    @extend .occlss-layout__col;
    @extend .occlss-layout__col--flex;
    @extend .occlss-layout__col--md-4;
    @include transition(background-color .1s ease);
    position: relative;
    margin-bottom: rem(32px);
    @include breakpoint(max-width (map-get($occlss-layout-breakpoints, 'md'))) {
        margin-bottom: 0;
        &:last-child {
            margin-bottom: rem(32px);
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: rem(16px);
        right: rem(16px);
        height: rem(3px);
        background-color: $occlss-short-summary-residents-color;
        display: block;
    }
}

.occlss-short-summary__link {
    @extend .occlss-promoted-content-panel;
    color: $occlss-short-summary-content-font-color;
    padding: 0;
    &:hover {
        color: $occlss-short-summary-content-font-color;
        text-decoration: none;
    }
    &:focus {
        @extend %highlight-outline-on-focus;
    }
}


.occlss-short-summary__content-title {
    font-size: rem($occlss-short-summary-content-font-size-title);
    font-weight: $occlss-short-summary-content-font-weight-title;
}

.occlss-short-summary--residents {
    .occlss-short-summary__link-cont {
        &::after {
            background-color: $occlss-short-summary-residents-color;
        }
    }
    .occlss-short-summary__link-cont {
        &:hover {
            background-color: $occlss-short-summary-residents-color;
        }
    }
}

.occlss-short-summary--business {
    .occlss-short-summary__link-cont {
        &::after {
            background-color: $occlss-short-summary-business-color;
        }
    }
    .occlss-short-summary__link-cont {
        &:hover {
            background-color: $occlss-short-summary-business-color;
        }
    }
}

.occlss-short-summary--council {
    .occlss-short-summary__link-cont {
        &::after {
            background-color: $occlss-short-summary-council-color;
        }
    }
    .occlss-short-summary__link-cont {
        &:hover {
            background-color: $occlss-short-summary-council-color;
        }
    }
}

 
  
