/* OCCLSS Short summary
 * @version 1.0.0
 */

.occlss-short-summary__link:focus {
    outline: 3px solid #edc856
}

.occlss-short-summary {
    display: inline-block;
    display: flex;
    *display: inline;
    zoom: 1;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    letter-spacing: -0.31em !important;
    *letter-spacing: normal !important;
    word-spacing: -0.43em !important;
    list-style-type: none
}

.occlss-short-summary:before,
.occlss-short-summary:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    max-width: 100%
}

.occlss-short-summary *:before,
.occlss-short-summary *:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

.occlss-short-summary .occlss-layout,
.occlss-layout .occlss-short-summary,
.occlss-short-summary .occlss-short-summary {
    flex: 1 1 auto
}

.occlss-short-summary * {
    box-sizing: border-box
}

.occlss-short-summary *:before,
.occlss-short-summary *:after {
    box-sizing: border-box
}

.occlss-short-summary__link-cont,
.occlss-short-summary__title-cont {
    flex-direction: column;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1rem 1rem
}

.occlss-short-summary__link-cont {
    display: inline-block;
    display: flex;
    *display: inline;
    zoom: 1
}

.occlss-short-summary__title-cont {
    width: 100%;
    *width: 99.9%
}

@media(min-width: 992px) {
    .occlss-short-summary__link-cont {
        width: 33.3333333333%;
        *width: 33.2333333333%
    }
}

.occlss-layout--bleed .occlss-short-summary__link-cont,
.occlss-layout--bleed .occlss-short-summary__title-cont {
    padding: 0
}

.occlss-layout--align-end .occlss-short-summary__link-cont,
.occlss-layout--align-end .occlss-short-summary__title-cont {
    vertical-align: bottom
}

.occlss-layout--align-center .occlss-short-summary__link-cont,
.occlss-layout--align-center .occlss-short-summary__title-cont {
    vertical-align: middle
}

.occlss-layout--align-baseline .occlss-short-summary__link-cont,
.occlss-layout--align-baseline .occlss-short-summary__title-cont {
    vertical-align: baseline
}

.occlss-layout--align-content-end .occlss-short-summary__link-cont,
.occlss-layout--align-content-end .occlss-short-summary__title-cont {
    vertical-align: bottom
}

.occlss-layout--justify-end .occlss-short-summary__link-cont,
.occlss-layout--justify-end .occlss-short-summary__title-cont {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-center .occlss-short-summary__link-cont,
.occlss-layout--justify-center .occlss-short-summary__title-cont {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-space-between .occlss-short-summary__link-cont,
.occlss-layout--justify-space-between .occlss-short-summary__title-cont {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout--justify-space-around .occlss-short-summary__link-cont,
.occlss-layout--justify-space-around .occlss-short-summary__title-cont {
    text-align: left;
    text-align: start;
    text-align: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial
}

.occlss-layout__col--parent .occlss-short-summary__link-cont,
.occlss-layout__col--parent .occlss-short-summary__title-cont {
    width: 100%
}

.occlss-short-summary .occlss-promoted-content-panel--image-left,
.occlss-short-summary .occlss-promoted-content-panel--image-top {
    flex: 1 1 auto
}

.occlss-short-summary__link {
    width: 100%;
    height: 100%;
    height: inherit;
    padding: 1.25rem;
    position: relative;
    display: block;
    flex: 1 1 auto;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    color: #1a1a1a;
    overflow: hidden
}


@-moz-document url-prefix() {
    .occlss-short-summary__link:hover .occlss-promoted-content-panel__arrow {
        text-decoration: none;
        display: inline
    }
}

.occlss-short-summary__link-cont {
    transition: background-color .1s ease;
    position: relative;
    margin-bottom: 2rem
}

@media(max-width: 992px) {
    .occlss-short-summary__link-cont {
        margin-bottom: 0
    }

    .occlss-short-summary__link-cont:last-child {
        margin-bottom: 2rem
    }
}

.occlss-short-summary__link-cont::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: .1875rem;
    background-color: #d3dfdd;
    display: block
}

.occlss-short-summary__link {
    color: #1a1a1a;
    padding: 0
}

.occlss-short-summary__link:hover {
    color: #1a1a1a;
    text-decoration: none
}

.occlss-short-summary__content-title {
    font-size: 1.5rem;
    font-weight: 600
}

.occlss-short-summary--residents .occlss-short-summary__link-cont::after {
    background-color: #d3dfdd
}

.occlss-short-summary--residents .occlss-short-summary__link-cont:hover {
    background-color: #d3dfdd
}

.occlss-short-summary--business .occlss-short-summary__link-cont::after {
    background-color: #d9ecf6
}

.occlss-short-summary--business .occlss-short-summary__link-cont:hover {
    background-color: #d9ecf6
}

.occlss-short-summary--council .occlss-short-summary__link-cont::after {
    background-color: #dad3e8
}

.occlss-short-summary--council .occlss-short-summary__link-cont:hover {
    background-color: #dad3e8
}

.occlss-short-summary .occlss-calendar-date {
    flex: 1 1 auto
}
