<div class="occlss-font-size-xxxxx-large">Font size xxxxx large (font-size: 42px; )</div>
<div class="occlss-font-size-xxxx-large">Font size xxxx large (font-size: 36px; )</div>
<div class="occlss-font-size-xxx-large">Font size xxx large (font-size: 30px; )</div>
<div class="occlss-font-size-xx-large">Font size xx large (font-size: 26px; )</div>
<div class="occlss-font-size-x-large">Font size x large (font-size: 24px; )</div>
<div class="occlss-font-size-large">Font size large (font-size: 22px; )</div>
<div class="occlss-font-size-medium">Font size medium (font-size: 20px; )</div>
<div class="occlss-font-size-regular">Font size regular (font-size: 16px; )</div>
<div class="occlss-font-size-small">Font size small (font-size: 14px; )</div>