<div>Regular - 'Fira Sans', sans-serif;, weight: 400</div>
<div>Medium - 'Fira Sans', sans-serif;, weight: 500</div>
<div>Semi bold - 'Fira Sans', sans-serif;, weight: 600</div>
<div>Bold - 'Fira Sans', sans-serif;, weight: 700</div>
<div>Font home page - <a href="https://fonts.google.com/specimen/Fira+Sans?selection.family=Fira+Sans" target="_blank">Fira Sans</a></div>
