.occlss-wrapper:before,
.occlss-wrapper:after {
    content: " ";
    display: table
}

.occlss-wrapper:after {
    clear: both
}

.occlss-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.occlss-wrapper--spacing {
    padding-left: 1rem;
    padding-right: 1rem
}

.occlss-wrapper--wide {
    max-width: 1280px
}

.occlss-wrapper--secondary {
    background: #fff
}