---
title: Social media link
description: [Description]
section: Components
layout: layout-pane.njk
theme: Social media
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Find us on Facebook

{{ example({group: "components", item: "social-media-link", example: "facebook", html: true }) }}

## Find us on Twitter

{{ example({group: "components", item: "social-media-link", example: "twitter", html: true }) }}

## Changelog

### 1.0.0

- Component added

