---
title: Social media link
description: [Description]
section: Components
layout: layout-pane.njk
theme: Social media
order: 0
show_page_nav: false
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Find us on Facebook

{{ example({group: "components", item: "social-media-link", example: "facebook", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]


## Find us on Twitter

{{ example({group: "components", item: "social-media-link", example: "twitter", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}

