---
title: Table
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

## Table

{{ example({group: "components", item: "table", example: "default", html: true }) }}

### When to use this component 

A table must only be used for displaying tabulated data. A table is a very good way of displaying complex data but think carefully before using one. How will the table display on a mobile device or for people using a screen reader? Is there a better way to present the information?

### When not to use this component

The table component must not be used to layout text. 

## Changelog

#### 1.0.0

- Component Added