---
title: Table
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_doc-el.njk" import UIel %}
{% from "_example.njk" import example %}

## Table

{{ example({group: "components", item: "table", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]

{{ UIel({
    item: "changelog",
    logs: [
        {
        heading: "1.0.0",
        comments: [
            {
                text: "Component Added"
            }
        ]
        }
    ] 
}) }}