---
title: Alert warning
layout: layout-example.njk

---

{% from "alert/macro.njk" import occlssAlert %}

{{ occlssAlert({
  title: "Sorry, we are having some problems",
  content: "We are experiencing some technical issues with our website. We apollogise for any inconvenience.",
  state: "warning",
  controls: "true"
}) }}



