---
title: Colour
description: [Description]
section: styles
layout: layout-pane.njk
order: 0
show_page_nav: true
---

{% from "_doc-el.njk" import UIel %}

Our colour palette is designed to communicate trustworthiness and professionalism while remaining approachable.

All of our colours have been carefully chosen to meet accessibility standards.

The colour swatches below include the hex value and the SASS variable for each corresponding colour.

## Wayfinding colours

Colours from this pallette are used to distinguish between the residents, business, and council sections.

### Residents

The dark green is the council’s corporate colour and forms the base of the colour palette.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#00483a",
            sassVar: "$occlss-brand-color-aqua-deep"
        },{
            hexColor: "#d3dfdd",
            sassVar: "$occlss-brand-color-nebula"
        }
    ]
}) }}


### Business

The blue represents the council’s professionalism and is inspired particularly by the science and technology industries based in Oxofrdshire.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#3a78bb",
            sassVar: "$occlss-brand-color-boston-blue"
        },{
            hexColor: "#d9ecf6",
            sassVar: "$occlss-brand-color-link-water"
        }
    ]
}) }}


### Council

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#503b76",
            sassVar: "$occlss-brand-color-victoria"
        },{
            hexColor: "#dad3e8",
            sassVar: "$occlss-brand-color-snuff"
        }
    ]
}) }}


## Secondary colour palette

These colours stand out from the more corporate colours of our main theme and allow us to add visual interest to our content.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#24b137",
            sassVar: "$occlss-brand-color-forest-green"
        },{
            hexColor: "#e2f1e4",
            sassVar: "$occlss-brand-color-harp"
        },{
            hexColor: "#656d80",
            sassVar: "$occlss-brand-color-pale-sky"
        },{
            hexColor: "#e0e2e5",
            sassVar: "$occlss-brand-color-iron"
        },{
            hexColor: "#38b1a0",
            sassVar: "$occlss-brand-color-keppel"
        },{
            hexColor: "#dbeeea",
            sassVar: "$occlss-brand-color-swans-down"
        },{
            hexColor: "#feb603",
            sassVar: "$occlss-brand-color-selective-yellow"
        },{
            hexColor: "#fdf3da",
            sassVar: "$occlss-brand-color-half-colonial-white"
        }
    ]
}) }}

## Link colours

Links within content and in menu lists are blue with dark yellow on hover.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#0a549d",
            sassVar: "$occlss-brand-color-venice-blue"
        },{
            hexColor: "#073d73",
            sassVar: "$occlss-brand-color-catalina-blue"
        },{
            hexColor: "#0e73d8",
            sassVar: "$occlss-brand-color-denim"
        },{
            hexColor: "#e5effb",
            sassVar: " $occlss-brand-color-selago"
        }
    ]
}) }}

## Messages colours

### Error alert

Red is a traditionally used to signify danger in the UK. Here we are using it to represent an error but it will always be accompanied by and icon and text for those who may not otherwise recognise it.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#ad0505",
            sassVar: "$occlss-brand-color-milano-red"
        },{
            hexColor: "#fee6e6",
            sassVar: "$occlss-brand-color-bridesmaid"
        }
    ]
}) }}


### Info alert

The blue is neutral and represents a message that is neither negative or positive but it will always be accompanied by and icon and text for those who may not otherwise recognise it.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#0e73d8",
            sassVar: "$occlss-brand-color-denim"
        },{
            hexColor: "#ecf5fe",
            sassVar: "$occlss-brand-color-solitude"
        }
    ]
}) }}


### Success alert

The green represents success but will but it will always be accompanied by and icon and text for those who may not otherwise recognise it.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#39b54a",
            sassVar: "$occlss-brand-color-apple"
        },{
            hexColor: "#d8efd7",
            sassVar: "$occlss-brand-color-zanah"
        }
    ]
}) }}


### Warning alert

The orange represents a warning that does not mean something is wrong now but that it could be if the present action is continued. It will always be accompanied by and icon and text for those who may not otherwise recognise it.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#f3830b",
            sassVar: "$occlss-brand-color-tahiti-gold"
        },{
            hexColor: "#feebd8",
            sassVar: "$occlss-brand-color-bleach-white"
        }
    ]
}) }}


## Search Button colours

These colours are only used for the search button so that it can be easily recogonised by frequent visitors to the website and will stand out from any other call to action on the page.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#edc856",
            sassVar: "$occlss-brand-color-ronchi"
        },{
            hexColor: "#d0a116",
            sassVar: "$occlss-brand-color-pizza"
        },{
            hexColor: "#B48C13",
            sassVar: "$occlss-brand-color-sahara"
        },{
            hexColor: "#f5de98",
            sassVar: "$occlss-brand-color-maize"
        }
    ]
}) }}


## Typography colours

The typography colours were chosen to provide good contrast with the website’s white background. The darkest colours are also used for text on promoted panels were white text does not provide enough contrast.

{{ UIel({
    item: "color-box",
    boxes: [
        {
            hexColor: "#000000",
            sassVar: "$occlss-brand-color-black"
        },{
            hexColor: "#525252",
            sassVar: "$occlss-brand-color-emperor"
        },{
            hexColor: "#1a1a1a",
            sassVar: "$occlss-brand-color-cod-gray"
        },{
            hexColor: "#333333",
            sassVar: "$occlss-brand-color-mine-shaft"
        },{
            hexColor: "#fcfcfc",
            sassVar: "$occlss-brand-color-alabaster"
        }
    ]
}) }}


## Changelog

#### 1.0.0

- Component Added