---
title: Textarea error
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "textarea",
  labelText: "Textarea error",
  fldName: "Textarea error",
  state: "error",
  statusMessage: "Helpful error message"
}) }}



