.occlss-page-guide {
    border-bottom: $occlss-page-guide-border;
    margin-bottom: rem(70px);
}

.occlss-page-guide__item {
    margin-bottom: rem(14px);
}

.occlss-page-guide__column {
    padding-top: 0;
}