// Buttons
// Primary
.occlss-button--primary {
  color: $occlss-button-primary-font-color;
  background-color: $occlss-button-primary-background;
  border-color: transparent;
  border-radius: rem(6px);
  box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));

  @if variable-exists(occlss-button-primary-border-bottom) {
    border-bottom: rem($occlss-button-primary-border-bottom);
    background-size: rem(1px 200px);
    &.is-hover,
    &.is-focus,
    &:focus,
    &:hover{
      color: #ffffff;
      background-color: $occlss-button-primary-background-hover;
      border-bottom: 4px solid transparent;
      box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));      
    }
    &:active {
      background-color: $occlss-button-primary-background;
      border-bottom: rem($occlss-button-primary-border-bottom);
      box-shadow: rem(0 4px 6px 1px rgba(26,26,26,0.35));
    }
  }
  &.is-disabled,
  &:disabled {
    opacity: 1;
    color: $occlss-button-primary-font-color-disable;
    background: $occlss-button-primary-background-disable;
    border-bottom: rem($occlss-button-primary-border-bottom-disable);
    box-shadow: none;
  }
}

// Secondary
.occlss-button--secondary {
  color: $occlss-button-secondary-font-color;
  background-color: $occlss-button-secondary-background;
  border-color: transparent;
  border-radius: rem(6px);
  box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));

  @if variable-exists(occlss-button-secondary-border-bottom) {
    border-bottom: rem($occlss-button-secondary-border-bottom);
    background-size: rem(1px 200px);
    &.is-hover,
    &.is-focus,
    &:focus,
    &:hover{
      background-color: $occlss-button-secondary-background-hover;
      border-bottom: rem(4px solid transparent);
      box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));      
    }
    &:active {
      background-color: $occlss-button-secondary-background;
      border-bottom: rem($occlss-button-secondary-border-bottom);
      box-shadow: rem(0 4px 6px 1px rgba(26,26,26,0.35));
    }
  }
  &.is-disabled,
  &:disabled {
    opacity: 1;
    color: $occlss-button-secondary-font-color-disable;
    background: $occlss-button-secondary-background-disable;
    border-bottom: rem($occlss-button-secondary-border-bottom-disable);
    box-shadow: none;
  }
}

// negative
.occlss-button--negative {
  @include button-variant(
    $occlss-button-negative-font-color,
    $occlss-button-negative-background,
    $occlss-button-negative-border-color,
    $occlss-button-negative-font-color-hover,
    $occlss-button-negative-background-hover,
    $occlss-button-negative-border-color-hover
  );

  box-shadow: rem($occlss-button-negative-shadow);
  &:hover{
    box-shadow: rem($occlss-button-negative-shadow);
  }
  &:active,
  &:focus {
    color:  $occlss-button-negative-font-color-hover;
    background-color: $occlss-button-negative-background-hover;
    box-shadow: rem($occlss-button-negative-shadow-hover);
  }

  &.is-disabled,
  &:disabled {
    color: mix($occlss-button-negative-font-color-disable, #ffffff, 80%);
    background: #ffffff;
    box-shadow: none;
  }
  padding-top: rem(11px);
  padding-bottom: rem(12px);
}

// neutral
.occlss-button--neutral {
  @include button-variant(
    $occlss-button-neutral-font-color,
    $occlss-button-neutral-background,
    $occlss-button-neutral-border-color,
    $occlss-button-neutral-font-color-hover,
    $occlss-button-neutral-background-hover,
    $occlss-button-neutral-border-color-hover
  );

  box-shadow: rem($occlss-button-neutral-shadow);

  &:hover{
    box-shadow: rem($occlss-button-neutral-shadow);
  }
  &:active,
  &:focus {
    color:  $occlss-button-neutral-font-color-hover;
    background-color: $occlss-button-neutral-background-hover;
    box-shadow: rem($occlss-button-neutral-shadow-hover);
  }

  &.is-disabled,
  &:disabled {
    color: mix($occlss-button-neutral-font-color-disable, #ffffff, 80%);
    background: #ffffff;
    box-shadow: none;
  }
  padding-top: rem(11px);
  padding-bottom: rem(12px);
}

.occlss-button--search {
  color: $occlss-button-search-font-color;
  background-color: $occlss-button-search-background;
  border-color: transparent;
  border-radius: rem($occlss-button-search-border-radius);
  box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));

  &.is-hover,
  &.is-focus,
  &:focus,
  &:hover{
    color: $occlss-button-search-font-color-hover;
    background-color: $occlss-button-search-background-hover;
    box-shadow: rem(0 2px 4px 0 rgba(26,26,26,0.20));      
  }
  &:active {
    color: $occlss-button-search-font-color-hover;
    background-color: $occlss-button-search-background-active;
    box-shadow: rem(0 4px 6px 1px rgba(26,26,26,0.35));
  }
  
  &.is-disabled,
  &:disabled {
    color: $occlss-button-search-font-color-disable;
    background: $occlss-button-search-background-disable;
    box-shadow: none;
  }
}