.occlss-sidebar-item-section {
    position: relative;
    padding-left: rem(24px);
    min-height: rem(100px);
    margin-bottom: rem(12px);
    &:before {
        content: "";
        width: rem(6px);
        height: rem(100px);
        background: $occlss-sidebar-item-section-background-color;
        display: block;
        position: absolute;
        left: 0;
    }
}

.occlss-sidebar-item-section--residents {
    &:before {
        background: $occlss-sidebar-item-section-background-color-residents;
    }
}

.occlss-sidebar-item-section--business {
    &:before {
        background: $occlss-sidebar-item-section-background-color-business;
    }  
}


.occlss-sidebar-item-section--council {
    &:before {
        background: $occlss-sidebar-item-section-background-color-council;
    }   
}



.occlss-sidebar-item-section__title {
    margin-bottom: rem(2px);
}