---
title: Get started
layout: body.njk

footnote: Getting started
header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
filter_test: I should have dashes between words
---


{% from "_doc-el.njk" import UIel %}

{{
    UIel({
        item: "h1", 
        content: "Getting started"
    }) 
}}

{{
    UIel ({
        item: "intro-text", 
        content: "Design your service using the Oxfordshire County Council live style system. The Oxfordshire County Council live style system includes the resources to create user interfaces consistent with Oxfordshire County Council principles, design language, and best practices."
    })
}}


<div class="occlss-layout doc-card-nav">
    <a href="/styles/" class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6 occlss-layout__col--md-4 doc-card-nav__card">
      <div class="doc-card-nav__card-conteiner">
        <h3 class="doc-card-nav__card-title">Styles</h3>
        <p class="doc-card-nav__card-content">Styles provide a consistent scaffold upon which we can build everything we need to communicate with our users.</p>
      </div>
    </a>
    <a href="/components/" class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6 occlss-layout__col--md-4 doc-card-nav__card">
    <div class="doc-card-nav__card-conteiner">
      <h3 class="doc-card-nav__card-title">Components</h3>
      <p class="doc-card-nav__card-content">Components are used to style groups of objects or text.</p>
    </div>
    </a>
    <a href="/patterns/" class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6 occlss-layout__col--md-4 doc-card-nav__card">
      <div class="doc-card-nav__card-conteiner">
        <h3 class="doc-card-nav__card-title">Patterns</h3>
        <p class="doc-card-nav__card-content">Design patterns are components used together to create patterns that the user is able to recognise and use.</p>
      </div>
    </a>
    <a href="/pages/" class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6 occlss-layout__col--md-4 doc-card-nav__card">
      <div class="doc-card-nav__card-conteiner">
        <h3 class="doc-card-nav__card-title">Pages</h3>
        <p class="doc-card-nav__card-content">This is examples of our different page types that we yous across your website platform.</p>
      </div>
    </a>
    <a href="/how-to-styleup/" class="occlss-layout__col occlss-layout__col--bleed occlss-layout__col--sm-6 occlss-layout__col--md-4 doc-card-nav__card">
      <div class="doc-card-nav__card-conteiner">
        <h3 class="doc-card-nav__card-title">How to styleup</h3>
        <p class="doc-card-nav__card-content">Here is everything you'll need to know how to apply our style to your platform.</p>
      </div>
    </a>
</div>