---
title: Get started
layout: body.njk

footnote: Getting started
header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
filter_test: I should have dashes between words
---


{% from "_doc-el.njk" import UIel %}

{{
    UIel({
        item: "h1", 
        content: "Getting started"
    }) 
}}

{{
    UIel ({
        item: "intro-text", 
        content: "The Oxfordshire County Council style system includes the resources to create user interfaces consistent with the Oxfordshire County Council principles, design language, and best practices."
    })
}}

This style guide provides a range of resources for developers, which includes:

- Semantic and accessible component markup.
- Cross-browser compatible CSS (Support IE browsers from IE11).
- Colours, icons and fonts