---
title: Get started
layout: body.njk

footnote: Getting started
header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
filter_test: I should have dashes between words
---


{% from "_doc-el.njk" import UIel %}

{{
    UIel({
        item: "h1", 
        content: "Getting started"
    }) 
}}

{{
    UIel ({
        item: "intro-text", 
        content: "The Oxfordshire County Council style system includes the resources to create user interfaces consistent with the Oxfordshire County Council principles, design language, and best practices."
    })
}}

This style guide provides a range of resources for developers, which includes:

- Semantic and accessible component markup.
- Cross-browser compatible CSS (Support IE browsers from IE11).
- Colours, icons and fonts


<div class="occlss-layout">
    <a href="/styles/" class="occlss-layout__col occlss-layout__col--md-4">
      <h3>Styles</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </a>
    <a href="/components/" class="occlss-layout__col occlss-layout__col--md-4">
      <h3>Components</h3>
      <p>Louis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </a>
    <a href="/patterns/" class="occlss-layout__col occlss-layout__col--md-4">
      <h3>Patterns</h3>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </a>
    <a href="/pages/" class="occlss-layout__col occlss-layout__col--md-4">
      <h3>Pages</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
    <a href="/how-to-styleup/" class="occlss-layout__col occlss-layout__col--md-4">
      <h3>How to styleup</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </a>
  </div>