---
title: Download link
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "download-link/macro.njk" import occlssDownloadLink %}

{{ occlssDownloadLink({
  text: "Applying to school for the first time (.pdf format).",
  url: "javascript:void(0);"
}) }}