---
title: Input checkbox
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "form-controls/macro.njk" import occlssFormCntrls %}

{{ occlssFormCntrls({
  type: "checkbox",
  cntrlsClasses: "occlss-form-cntrls--checkbox",
  labelClasses: "occlss-form-cntrls__label--checkbox",
  labelText: "Checkbox",
  fldName: "Checkbox"
}) }}