---
title: Short Search Form
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "short-search-form/macro.njk" import occlssShortSearchForm %}

{{ occlssShortSearchForm() }}



