---
title: Button primary
layout: layout-example.njk
doc_bg: white
doc_gap: true
---
{% from "button/macro.njk" import occlssButton %}

{{ occlssButton({
  text: "Apply for a Blue Badge",
  classes: "occlss-button--primary"
}) }}