<div class="occlss-calendar-date">
	{% if params.header %}<div class="occlss-calendar-date__header">{{ params.header }}</div>{% endif %}
	{% if params.content %}<div class="occlss-calendar-date__content">{{ params.content }}</div>{% endif %}
	{% if params.footer %}<div class="occlss-calendar-date__footer">{{ params.footer }}</div>{% endif %}
</div>