{% from "secondary-site-nav/macro.njk" import occlssSecondarySiteNav %}

<nav class="occlss-site-nav{% if params.mobileNav == "true" %} occlss-site-nav--mobile{% endif %}">
    {% if params.logoLinkLogoUrl %}
        <a href="{{ params.logoLinkUrl }}" class="occlss-site-nav__logo-link"
            title="{{ params.logoLinkTitle }}">
            <img src="{{ params.logoLinkLogoUrl }}" class="occlss-head-logo" alt="{{ params.logoLinkLogoAlt }}">
        </a>
    {% endif %}
    
    {% if params.mobileNav == "true" %}
        <a href="javascript:void(0);" class="occlss-site-nav__toggler js-occlss-nav-toggler-button">
            Menu
        </a>
    {% endif %}
    {% if params.navItems %}
    <ul class="occlss-site-nav__list">
        {% for item in params.navItems %}
        <li class="occlss-site-nav__item">
          <a href="{{ item.url }}" class="occlss-site-nav__link">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</nav>

{% if params.secondaryNav == true %}
    {{ occlssSecondarySiteNav({
        mobile: params.secondaryNavMobile,
        secondaryNavitems: params.secondaryNavItems,
        secondaryNavSearch: params.secondaryNavSearch,
        secondaryNavSearchType: params.secondaryNavSearchType,
        secondaryNavSearchPlaceholder: params.secondaryNavSearchPlaceholder
    }) }}
{% endif %}