// Single side border-radius

// border radius
$occlss-p-enable-rounded:     true !default;

@mixin border-radius($radius: $border-radius) {
  @if $occlss-p-enable-rounded {
    border-radius: $radius;
  }
}

@mixin border-top-radius($radius) {
  @if $occlss-p-enable-rounded {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
  }
}

@mixin border-right-radius($radius) {
  @if $occlss-p-enable-rounded {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }
}

@mixin border-bottom-radius($radius) {
  @if $occlss-p-enable-rounded {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

@mixin border-left-radius($radius) {
  @if $occlss-p-enable-rounded {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }
}
