---
title: Accordion
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}


## Accordion

{{ example({group: "components", item: "accordion", example: "default", html: true }) }}

### When to use this component 

[Text]

### How it works

[Text]