---
title: Accordion
description: [Description]
section: Components
layout: layout-pane.njk
theme: Content elements
order: 0
show_page_nav: false
---

{% from "_example.njk" import example %}

The accordion component lets users show and hide sections of related content on a page.

{{ example({group: "components", item: "accordion", example: "default", html: true }) }}

## When to use this component

Accordions can be used to show and hide information that might part of larger or more complex areas of content.

## When not to use

Accordions hide content from users and not everyone will notice or understand them. They shouldn’t be used for content that is essential to all users.

Before using an accordion:

- consider reducing or simplifying the content
- splitting the content up across several pages
- separating the content with headings on a single page use an index page or jump-links page that allows users to quickly navigate to content they want.

Accordions work best when they contain simple content and links. Avoid using accordions for frequently asked questions, use a jump-links page instead.

## Changelog

### 2.2.0

- Accordions markup changes to a description list

### 1.0.0

- Component added