/*
Scope Namespaces: s-
Format:
.s-scope-name {}
.s-cms-content {}

<section class="s-cms-content">

  <h1>...</h1>

  <p>...</p>

  <p>...</p>

  <ul>
    ...
  </ul>

  <p>...</p>

</section>

*/

.s-cms-content-footer {

  font-weight: $occlss-cms-footer-text-font-weight;
  h2,h3,h4,h5 {
    color: #ffffff;
    font-size: rem($occlss-cms-footer-text-font-size);
    font-weight: $occlss-cms-footer-heading-font-weight;
    margin: rem(0 0 10px 0);
  }

  ul {
    @extend %reset_list_style;
  }

  .icon-list {
    @extend %reset_list_style;
    @extend %clearfix;
    margin-bottom: rem(20px);
    li {
      float: left;
      margin-right: rem(12px);
    }
  }
  li,
  p {
    margin: rem(0 0 5px 0);
    &:last-child {
      margin: 0;
    }
  }
  a {
    @include link-colors(#ffffff, $occlss-cms-footer-link-font-color);
    font-weight: $occlss-cms-footer-link-weight;
    &.is-active:focus {
      @extend %highlight-outline-on-focus;
    }
    &:focus {
      .occlss-u-more-link__icon {
        fill: #000000;
      }
    }

  }
  .occlss-button {
    &:hover {
      color: #ffffff;
    }
  }

  .occlss-u-more-link__icon {
    fill: #ffffff;
  }
  .icon-list {
    margin-top: rem(20px);
  }
  .occlss-u-more-link {
    font-weight: $occlss-cms-footer-u-more-link-weight;
  }
}
