<a href="{{ params.url }}" id="social-media-link-{{ params.title | lower | replace(" ", "-")}}" class="occlss-social-media-link">
    <span class="occlss-social-media-link__heading">Find us on Facebook</span>
    <span class="occlss-icon occlss-icon--facebook occlss-social-media-link__icon" aria-hidden="true">
		<svg aria-hidden="true" class="occlss-icon__container">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/occlss/occlss-sprite.svg#{{ params.iconName }}" class="icon__source icon__source--svg"></use>
		</svg>
	</span>
</a>