<nav class="occlss-pagination" role="navigation" aria-label="Pagination">
    <ul class="occlss-pagination__list">
        <li class="occlss-pagination__item occlss-pagination__item--previous">
            <a href="javascript:void(0);" class="occlss-pagination__link" rel="prev">
                <span class="occlss-pagination__link-title">
                    <span class="occlss-icon occlss-icon--arrow-right-long-left-secondary" aria-hidden="true">
                        <svg aria-hidden="true" class="occlss-icon__container occlss-pagination__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-left-secondary"
                                class="icon__source icon__source--svg"></use>
                        </svg>
                    </span>
                    Previous </span>
                <span class="occlss-u-visuallyhidden">:</span>
                <span class="occlss-pagination__link-label">Overview</span>
            </a>
        </li>
        <li class="occlss-pagination__item occlss-pagination__item--next">
            <a href="javascript:void(0);" class="occlss-pagination__link" rel="next">
                <span class="occlss-pagination__link-title">
                    Next
                    <span class="occlss-icon occlss-icon--arrow-right-long-right-secondary" aria-hidden="true">
                        <svg aria-hidden="true" class="occlss-icon__container occlss-pagination__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/occlss-sprite.svg#arrow-right-long-right-secondary"
                                class="icon__source icon__source--svg"></use>
                        </svg>
                    </span>
                    
                </span>
                <span class="occlss-u-visuallyhidden">:</span>
                <span class="occlss-pagination__link-label">What you need before applying for a permit</span>
            </a>
        </li>
    </ul>
</nav>