<section class="occlss-a-to-z">
    <div class="occlss-wrapper occlss-a-to-z__wraper">
        
        <ul class="occlss-a-to-z__listitems"><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/A">A</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/B">B</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/C">C</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/D">D</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/E">E</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/F">F</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/G">G</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/H">H</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/I">I</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/J">J</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/K">K</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/L">L</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/M">M</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/N">N</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/O">O</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/P">P</a>
            </li><li class="occlss-a-to-z__item">
                <span class="occlss-a-to-z__letter occlss-a-to-z__letter--off">Q</span>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/R">R</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/S">S</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/T">T</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/U">U</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/V">V</a>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/W">W</a>
            </li><li class="occlss-a-to-z__item">
                <span class="occlss-a-to-z__letter occlss-a-to-z__letter--off">X</span>
            </li><li class="occlss-a-to-z__item">
                <span class="occlss-a-to-z__letter occlss-a-to-z__letter--off">Y</span>
            </li><li class="occlss-a-to-z__item">
                <a class="occlss-a-to-z__letter" href="https://www.oxfordshire.gov.uk/cms/atoz/Z">Z</a>
            </li>
        </ul>

    </div>
</section>