
<div class="occlss-loading-bar js-occlss-loading-bar{% if params.active %} is-active{% endif %}" aria-hidden="true">
    <div class="occlss-loading-bar__content occlss-loading-bar__content--dark-gray">
        <i class="occlss-loading-bar__icon"></i>
        <i class="occlss-loading-bar__icon"></i>
        <i class="occlss-loading-bar__icon"></i>
        <i class="occlss-loading-bar__icon"></i>
    </div>
</div>