---
title: Promoted content panel Pale sky colour
layout: layout-example.njk
stylesheets:
- ../../../stylesheets/example-gap.css
---

{% from "promoted-content-panel/macro.njk" import occlssPromotedContentPanel %}

{{ occlssPromotedContentPanel({
  panelColour: "pale-sky",
  textRows: [
        {
          text: "Pale sky colour",
          textSize: "text-large"
        }
  ]
}) }}