<div class="occlss-box-out">
    {{> molecules-info-box(text:'<h3>Instructions for doing a thing</h3>') }}
    <p>
        Instructions for a thing that you might need to do. Of cource, you may not need to do it but it's better safe than sorry    
    </p>
    <ul>
        <li>The first thing in a list of things</li>
        <li>The next thing in the list</li>
        <li>A thing that is in the wrorong list</li>
        <li>This might belong in the list</li>
        <li>This is not a list item, it just looks like one</li>
    </ul>
    <p>
        When you have done the right thing above, do another thing.
    </p>
</div>