<div class="occlss-download-link">
    {{> atoms-icon-file(modClass: "occlss-icon--small") }}
    <a href="#" class="occlss-download-link__lnk">Read this epic document to read (.pdf format).</a>
</div>