<a class="occlss-download-link" href="#">
    {{> atoms-icon-file(modClass: "occlss-icon--small occlss-download-link__icon") }}<span class="occlss-download-link__lnk">Read this epic document to read (.pdf format).</span>
</a>