<div class="occlss-jump-link">
	<h2>On this page</h2>

	<ul class="occlss-jump-link__nav">
		<li class="occlss-jump-link__nav-item"><a href="#" class="occlss-jump-link__lnk">Jump link 1</a></li>
		<li class="occlss-jump-link__nav-item"><a href="#" class="occlss-jump-link__lnk">Jump link 2</a></li>
		<li class="occlss-jump-link__nav-item"><a href="#" class="occlss-jump-link__lnk">Jump link 3</a></li>
	</ul>

</div>