<div class="occlss-jump-links">
	<h2 class="occlss-jump-links__title">On this page</h2>
	<ul class="occlss-jump-links__nav">
		<li class="occlss-jump-links__nav-item"><a href="#" class="occlss-jump-links__lnk">Jump link 1</a></li>
		<li class="occlss-jump-links__nav-item"><a href="#" class="occlss-jump-links__lnk">Jump link 2</a></li>
		<li class="occlss-jump-links__nav-item"><a href="#" class="occlss-jump-links__lnk">Jump link 3</a></li>
	</ul>
</div>