<div class="occlss-calendar-date">
	<div class="occlss-calendar-date__header">Thursday</div>
	<div class="occlss-calendar-date__content">23</div>
	<div class="occlss-calendar-date__footer">August 2018</div>
</div>