<div class="occlss-calendar-date">
	<div class="occlss-calendar-date__header">Thursday</div>
	<div class="occlss-calendar-date__content">23 August</div>
	<div class="occlss-calendar-date__footer">2018</div>
</div>