---
title: Splitter
layout: layout-example.njk
doc_bg: white
doc_gap: true
---

{% from "splitter/macro.njk" import occlssSplitter %}

{{ occlssSplitter({
    classes: "occlss-splitter--residents"
}) }}